{% load i18n %}

<tr>
    <td>
        <div>
            <a href="{% url 'courses:course_detail' item.id %}">
                {{ item.type.title }}
            </a>
        </div>
    </td>
    <td>
        {% include "courses/snippets/lesson_components/lessons_compact.html" with course=item display_link=False only %}
    </td>
    <td>
        {% if offering.is_partner_offering %}
            {% if item.partner %}
                <a href="{{ item.partner.url }}"
                   target="_blank">{{ item.partner.name }}</a>
            {% else %}
                {% trans "Not specified" %}
            {% endif %}
        {% else %}
            {% if item.room %}
                {% include "courses/snippets/room_modal.html" with display_link=False room=item.room only %}
            {% else %}
                {% trans "Currently unknown" %}
            {% endif %}
        {% endif %}
    </td>
    {% if not hide_subscription_status %}
        <td>
            {% include "courses/snippets/subscription_info_list_item.html" with course=item display_link=True user=user only %}
        </td>
    {% endif %}
</tr>