{% extends "basis.html" %}
{% load i18n %}

{% block lead_title %}
    {% trans "Finance" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>{% trans "Offerings" %}</h2>
        <ul>
            {% for offering in offerings %}
                <li>
                    <a href="{% url "payment:offering_finance_overview_subscribers" offering.id %}">{{ offering.name }}</a>
                    {% if offering.period %}
                        ({{ offering.period }})
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock main_content %}
