{% extends "basis.html" %}
{% load i18n l10n humanize %}

{% block lead_title %}
    {% trans "Finance" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2 class="mb-0">{{ offering.name }}</h2>
        {% if offering.period %}
            <div class="fs-5">{{ offering.period.date_as_string  }} </div>
        {% endif %}

        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'payment:offering_finance_overview_subscribers' offering.id %}">{% trans "Subscription Totals" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-tanzquotient" href="{% url "payment:offering_finance_detail_view" offering.id %}">{% trans "Unpaid Subscriptions" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-tanzquotient" href="{% url 'payment:offering_finance_overview_teachers' offering.id %}">{% trans "Teachers" %}</a>
            </li>
        </ul>
        <div class="tab-content border border-top-0 border-bottom-0 table-responsive">
            {% with offering.payment_totals as offering_payment_totals %}

                <table class="table table-striped mb-0">
                <thead>
                <tr>
                    <th>{% trans "Course" %}</th>
                    <th class="text-end">{% trans "Total" %}</th>
                    <th class="text-end">{% trans "Unpaid" %}</th>
                    <th class="text-end">{% trans "Paid" %}</th>
                    {% if offering_payment_totals.paid_course %}
                        <th class="text-end">{% trans "Cash" %}</th>
                    {% endif %}
                    {% if offering_payment_totals.paid_voucher %}
                        <th class="text-end">{% trans "Voucher" %}</th>
                    {% endif %}
                    {% if offering_payment_totals.paid_online %}
                        <th class="text-end">{% trans "Online" %}</th>
                    {% endif %}
                    {% if offering_payment_totals.paid_counter %}
                        <th class="text-end">{% trans "Counter" %}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for course in offering.course_set.all %}
                    {% with course.payment_totals as payment_totals %}
                        <tr>
                            <td>{{ course.name }}</td>
                            <td class="text-end">{{ payment_totals.to_pay|intcomma|localize }}</td>
                            <td class="text-end">{{ payment_totals.unpaid|intcomma|localize }}</td>
                            <td class="text-end">{{ payment_totals.paid|intcomma|localize }}</td>
                            {% if offering_payment_totals.paid_course %}
                                <td class="text-end">{{ payment_totals.paid_course|intcomma|localize }}</td>
                            {% endif %}
                            {% if offering_payment_totals.paid_voucher %}
                                <td class="text-end">{{ payment_totals.paid_voucher|intcomma|localize }}</td>
                            {% endif %}
                            {% if offering_payment_totals.paid_online %}
                                <td class="text-end">{{ payment_totals.paid_online|intcomma|localize }}</td>
                            {% endif %}
                            {% if offering_payment_totals.paid_counter %}
                                <td class="text-end">{{ payment_totals.paid_counter|intcomma|localize }}</td>
                            {% endif %}
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            <tfoot>
                <tr>
                    <td>{% trans "Total" %}</td>
                    <td class="text-end">{{ offering_payment_totals.to_pay|intcomma|localize }}</td>
                    <td class="text-end">{{ offering_payment_totals.unpaid|intcomma|localize }}</td>
                    <td class="text-end">{{ offering_payment_totals.paid|intcomma|localize }}</td>
                    {% if offering_payment_totals.paid_course %}
                        <td class="text-end">{{ offering_payment_totals.paid_course|intcomma|localize }}</td>
                    {% endif %}
                    {% if offering_payment_totals.paid_voucher %}
                        <td class="text-end">{{ offering_payment_totals.paid_voucher|intcomma|localize }}</td>
                    {% endif %}
                    {% if offering_payment_totals.paid_online %}
                        <td class="text-end">{{ offering_payment_totals.paid_online|intcomma|localize }}</td>
                    {% endif %}
                    {% if offering_payment_totals.paid_counter %}
                        <td class="text-end">{{ offering_payment_totals.paid_counter|intcomma|localize }}</td>
                    {% endif %}
                </tr>
            </tfoot>
            </table>
            {% endwith %}
        </div>
    </div>
{% endblock main_content %}
