{% extends "basis.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content_title %}
    {% trans "Finance" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'payment:offering_finance_index_view' %}">Offerings</a></li>
            <li class="active">{{ offering.name }}</li>
        </ol>

        <h2>{{ offering.name }}
            <small>{{ offering.period|default:'' }}</small>
        </h2>

        <ul class="nav nav-tabs">
            <li role="presentation"><a
                    href="{% url 'payment:offering_finance_overview_subscribers' offering.id %}">{% trans "Subscriptions" %}</a>
            </li>
            <li role="presentation" class="active"><a href="#">{% trans "Teachers" %}</a></li>
        </ul>

        <p>
            {% trans "Download an Excel with summary of teacher payment information here:" %}
            <a href="{% url "courses:export_offering_salary" offering_id=offering.id %}">DOWNLOAD</a>
        </p>
        </a>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <th>{% trans "Course" %}</th>
                    <th>{% trans "Hourly wage(s)" %}</th>
                    <th>{% trans "Regular course hours" %}</th>
                    <th>{% trans "Irregular course hours" %}</th>
                    <th>{% trans "Total hours" %}</th>
                    <th>{% trans "Total wage(s) (CHF)" %}</th>
                    </thead>
                    <tbody>
                    {% for course in offering.course_set.all %}
                        {% with course.get_total_time as totals %}
                            <tr>

                                <td>{{ course.name }}</td>
                                <td>
                                    {% for teach in course.teaching.all %}
                                        <p>
                                            {{ teach.teacher.get_full_name }}: {{ teach.hourly_wage }}
                                        </p>
                                    {% endfor %}
                                </td>
                                <td>{{ totals.regular|default_if_none:"unbounded period" }}</td>
                                <td>{{ totals.irregular|default_if_none:"unbounded period" }}</td>
                                <td>{{ totals.total|default_if_none:"unbounded period" }}</td>
                                <td>
                                    {% for teach in course.teaching.all %}
                                        {% with teach.get_wage as wage %}
                                            <p>
                                                {{ teach.teacher.get_full_name }}:
                                                {% if wage %}
                                                    {{ wage }}
                                                {% else %}
                                                    <i class="fa fa-bolt" aria-hidden="true"></i>
                                                {% endif %}
                                            </p>
                                        {% endwith %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock main_content %}
