{% extends "basis.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content_title %}
    {% trans "Finance" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'payment:offering_finance_index_view' %}">{% trans "Offerings" %}</a></li>
            <li class="active">{{ offering.name }}</li>
        </ol>

        <h2>{{ offering.name }}
            <small>{{ offering.period|default:'' }}</small>
        </h2>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">{% trans "Subscriptions" %}</a></li>
            <li role="presentation"><a href="{% url 'payment:offering_finance_overview_teachers' offering.id %}">{% trans "Teachers" %}</a></li>
        </ul>

        <p>
            <a href="{% url "payment:offering_finance_detail_view" offering.id %}">(show unpaid subscriptions)       </a>

        </p>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <th>{% trans "Course" %}</th>
                    <th>{% trans "Total" %}</th>
                    <th>{% trans "Unpaid" %}</th>
                    <th>{% trans "Paid" %}</th>
                    <th>{% trans "Cash" %} / {% trans "Voucher" %} / {% trans "Online" %}
                        / {% trans "Counter" %}</th>
                    </thead>
                    <tbody>
                    {% for course in offering.course_set.all %}
                        {% with course.payment_totals as payment_totals %}
                            <tr>

                                <td>{{ course.name }}</td>
                                <td>{{ payment_totals.to_pay }}</td>
                                <td>{{ payment_totals.unpaid }}</td>
                                <td>{{ payment_totals.paid }}</td>
                                <td>{{ payment_totals.paid_course }} / {{ payment_totals.paid_voucher }}
                                    / {{ payment_totals.paid_online }} / {{ payment_totals.paid_counter }}</td>

                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock main_content %}
