{% extends "basis.html" %}

{% load i18n %}

{% block title %}{% block head_title %}{% endblock %}{% endblock %}

{% block lead %}
    <header id="header_login">
        <div class="container">
            <div class="row">
                <h1 class="lead">{% block content_title %}{% trans "Account" %}{% endblock %}</h1>
            </div>
        </div>
    </header>
{% endblock lead %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}