{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    {% url 'profile' as auth_profile %}
    <p><a href="{{ auth_profile }}"><i class="fa fa-arrow-circle-left fa-lg"></i> {% trans "Back to profile" %}</a>
    </p>

    <h1>{% trans "Change password of" %} {{ request.user.get_full_name }}</h1>


    {% if not initial %}
        {% if success %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"><span aria-hidden="true"></span><span
                        class="sr-only">{% trans "Close" %}</span></button>
                <strong>{% trans "Password successfully changed" %}</strong>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"><span aria-hidden="true"></span><span
                        class="sr-only">{% trans "Close" %}</span></button>
                <strong>{% trans "Password not changed. Please try again" %}</strong>
            </div>
        {% endif %}
    {%  endif %}

    <form method="post">
        {% csrf_token %}
        {% include "courses/snippets/text_input.html" with field=form.old_password type="password" only %}
        {% include "courses/snippets/text_input.html" with field=form.new_password1 type="password" only %}
        {% include "courses/snippets/text_input.html" with field=form.new_password2 type="password" only %}

        <br/>
        <button type="submit" class="btn btn-success">{% trans "Save changes" %}</button>
    </form>

{% endblock %}
