{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}



{% block content %}

    <h1>{% trans "Sign In" %}</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        <div class="mb-3 md-3">
            <label for="id_login" class="form-label">{%  trans "Email address" %}</label>
            <input type="email" name="login" class="form-control" id="id_login" autocomplete="email">
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">{%  trans "Password" %}</label>
            <input type="password" name="password" class="form-control" id="id_password" autocomplete="password">
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
        </div>
        <div class="mb-3">
            <button class="primaryAction btn btn-success" type="submit">{% trans "Sign In" %}</button>

            &nbsp; {% trans "or" %}

            <a href="{{ signup_url }}?next={{ request.path }}">{% trans "create a new account" %}</a>

            <div class="mt-3">
                <a class="button secondaryAction"
                   href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>

        </div>

    </form>

{% endblock %}
