{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>
        {% trans "Already have an account?" %} <a href="{{ login_url }}">{% trans "Login" %}</a>.
    </p>

    <form class="form-horizontal" role="form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% include "courses/snippets/signup_user_form.html" with form=form only %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    {% trans "Sign Up" %}
                </button>
            </div>
        </div>
    </form>

{% endblock %}
