{% extends "basis.html" %}

{% load static i18n %}
{% load survey_tags %}

{% block lead %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h1 class="mt-4">{% trans "Changed Answers" %}</h1>
        <p>{% trans "The following answers were changed at least once after being submitted." %}</p>

        <div class="card">
            <ul class="list-group list-group-flush">
                {% for object, revisions in changed_answers %}
                    <li class="list-group-item">
                        <div>
                            {% free_form_answer answer=object user=user %}

                            <div class="small mt-2">
                                <div class="fw-bold">{% trans "Changes" %}</div>
                                {% for revision, data in revisions %}
                                    <div>
                                        {{ revision.date_created|date:'d. N Y, H:i' }}
                                        - {{ revision.user.first_name }} {{ revision.user.last_name }}:
                                        {% if data.hide_from_public_reviews %}
                                            <span>{% trans "Answer was hidden" %}.</span>
                                        {% else %}
                                            <span>{% trans "Answer made visible" %}.</span>
                                        {% endif %}
                                        {% trans "Comment" %}: {{ revision.comment }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock main_content %}
