{% extends "basis.html" %}

{% load static i18n %}

{% block lead_title %}
   {% trans "Survey" %}
{% endblock %}

{% block main_content %}
    <h2></h2>

    <div class="container">
        <div class="row">
            <div class="col">
                {% include "survey/components/survey_header.html" with survey_instance=survey_instance only %}

                {% if already_completed %}
                    <div class="alert alert-success">{% trans "You already completed this survey. Thank you for your time!" %}</div>
                {% else %}
                    <div class="alert alert-success">{% trans "Successfully sent. Thank you for your time!" %}</div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock main_content %}
