{% extends "basis.html" %}

{% load static i18n %}
{% load menu_tags %}

{% block lead_title %}
    {% trans "Survey" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col">

                {% include "survey/components/survey_header.html" with survey_instance=survey_instance only %}

                <div class="my-2">
                    {% language_chooser 'survey/components/language_chooser.html' %}
                </div>

                <form role="form" action="{% url 'survey:survey_with_key' survey_instance.survey.id survey_instance.url_key %}" method="post">
                    {% csrf_token %}
                    {% for group in survey_instance.survey.questiongroup_set.all %}
                        {% include "survey/components/questiongroup.html" with group=group only %}
                    {% endfor %}
                    <button type="submit" class="btn btn-success" name="send" value="send">
                        {% trans "Senden" %}
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock main_content %}
