{% load i18n %}
<div class="card card-default">
    <div class="card-header d-flex align-items-center justify-content-between">
        <strong>{{ course.type }}</strong>
        {% if course.cancelled %}
            <span class="text-uppercase badge text-bg-danger">
                {% trans "Cancelled" %}
            </span>
        {% endif %}

    </div>
    <div class="card-body">
        {% include "user/snippets/missing_presence_data_alert.html" with course=course only %}
        <p>
            <strong>{% trans "Time" %}</strong>
            <br/>
            {% include "courses/snippets/lesson_components/lessons.html" with course=course only %}
            <a href="{% url "courses:course_ical" course.id %}">
                <br/>
                {% trans "Add to calendar" %}
            </a>
        </p>
        {% if course.room %}
            <p>
                <strong>{% trans "Location" %}</strong>
                <br/>
                {% include "courses/snippets/room_modal.html" with display_link=True room=course.room only %}
            </p>
        {% endif %}
        {% include "user/snippets/course_teacher_actions.html" %}
    </div>
</div>