{% load i18n courses_tags %}
<div class="card card-default">
    <div class="card-header d-flex align-items-center justify-content-between">
        <strong>{{ course.type }}</strong>
        {% if course.cancelled %}
            <span class="text-uppercase badge text-bg-danger">
                {% trans "Cancelled" %}
            </span>
        {% endif %}

    </div>
    <div class="card-body">
        {% include "user/snippets/missing_presence_data_alert.html" with course=course only %}
        <strong>{% trans "Lessons" %}</strong>
        <div class="mb-2">
            {% course_lessons_detailed course=course %}
            <a href="{% url "courses:course_ical" course.id %}">
                <br/>
                {% trans "Add to calendar" %}
            </a>
        </div>
        {% if course.rooms.exists %}
            <strong>{% trans "Location" %}</strong>
            <div class="mb-2">
                {% for room in course.rooms %}
                    {% include "courses/snippets/room_modal.html" with display_link=True room=course.room only %}
                    {% if not forloop.last %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% include "user/snippets/course_teacher_actions.html" %}
    </div>
</div>