{% load i18n %}

<div class="d-flex flex-wrap gap-1">
    {% url 'courses:course_detail' course.id as view_url %}
    {% if request.get_full_path != view_url %}
        <a href="{{ view_url }}"
           class="btn btn-success btn-sm align-self-center">
            <i class="bi bi-eye-fill"></i> {% trans "Show course page" %}
        </a>
    {% endif %}
    {% url 'payment:coursepayment_detail' course=course.id as edit_url %}
    {% if request.get_full_path != edit_url and not course.is_over %}
        <a href="{{ edit_url }}"
           class="btn btn-success btn-sm align-self-center">
            <i class="bi bi-pencil-square"></i>
            {% trans "Details & edit" %}
        </a>
    {% endif %}
    {% if not course.cancelled %}
        {% url 'payment:course_teacher_presence' course=course.id as presence_url %}
        {% if request.get_full_path != presence_url %}
            <a href="{{ presence_url }}"
               class="btn btn-success btn-sm align-self-center">
                {% if course.completed %}
                    <i class="bi bi-card-checklist"></i>
                    {% trans "View teacher presence" %}
                {% else %}
                    <i class="bi bi-person-fill-check"></i>
                    {% trans "Log teacher presence" %}
                {% endif %}
            </a>
        {% endif %}
    {% endif %}
    {% if course.get_confirmed_count > 0 and not course.is_over %}
        {% include "user/snippets/participants_download.html" %}
    {% endif %}
    {% if course.is_over %}
        {% with course.surveys as surveys %}
            {% for survey in surveys %}
                {% url "survey:results" survey.id as survey_url %}
                {% if survey.teachers_allowed and request.path != survey_url %}
                    <a href="{{survey_url}}?course_id={{ course.id }}"
                       class="btn btn-success btn-sm align-self-center">
                        <i class="bi bi-file-earmark-bar-graph-fill"></i>
                        {{ survey.title }}
                    </a>
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% endif %}
</div>