{% load i18n %}
{% load courses_tags %}

{% with max_surveys=5 %}
{% with max_surveys_str=max_surveys|stringformat:"s" %}
{% with slice_to=":"|add:max_surveys_str slice_from=max_surveys_str|add:":" max_surveys_neg="-"|add:max_surveys_str %}

{% has_open_surveys user as user_has_open_surveys %}
    {% if user_has_open_surveys %}
        <div class="mt-2 alert alert-info" role="alert">
            <h5 class="alert-heading">{% trans "Review our courses!" %}</h5>
            <hr>
            {% trans "You have pending review requests for the following courses. Please consider taking 5 minutes to complete them, thank you!" %}
            {% get_open_surveys user as open_surveys %}
            <ul class="mb-0 mt-2">
            {% for open_survey in open_surveys|slice:slice_to %}
                <li><a href="{% url "courses:course_detail" open_survey.course_id %}">{{ open_survey.course.type }}</a> - <a target="_blank" href="{% get_link_to_course_evaluation open_survey.course user False %}">{% trans "Review now" %}</a></li>
            {% endfor %}
            </ul>
            {% if open_surveys|length > max_surveys %}
            <div class="collapse show collapse-reviews mt-2" id="collapse-reviews-toggle">
                <a data-bs-toggle="collapse" href=".collapse-reviews"
                    aria-expanded="false"
                    aria-controls="collapse-reviews-extended collapse-reviews-toggle">
                    <i class="bi bi-chevron-double-down"></i> {% trans "Show" %} {{ open_surveys|length|add:max_surveys_neg }} {% trans "more" %} <i class="bi bi-chevron-double-down"></i>
                </a>
            </div>
            <div class="collapse collapse-reviews" id="collapse-reviews-extended">
                <ul>
                {% for open_survey in open_surveys|slice:slice_from %}
                    <li><a href="{% url "courses:course_detail" open_survey.course_id %}">{{ open_survey.course.type }}</a> - <a target="_blank" href="{% get_link_to_course_evaluation open_survey.course user False %}">{% trans "Review now" %}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endwith %}
{% endwith %}
{% endwith %}