{% load i18n %}
{% load courses_tags %}


{% if subscription.state == 'new' %}
    {% trans "New subscription info" %}
{% elif subscription.state == 'confirmed' %}
    {% trans "Confirmed subscription info" %}
{% elif subscription.state == 'rejected' %}
    {{ subscription|rejection_reason|rejection_reason_info }}
{% elif subscription.state == 'completed' %}
    {% trans "Completed subscription info" %}
{% elif subscription.state == 'to_reimburse' %}
    {% trans "To reimburse subscription info" %}
{% elif subscription.state == 'payed' %}
    {% trans "Paid subscription info" %}
    <br/>
    <a href="{% url "payment:subscription_payment" usi=subscription.usi %}">
        {% trans "Show details" %}
        <i class="bi bi-arrow-right-circle-fill"></i>
    </a>
{% endif %}
