{% load i18n %}
{% load courses_tags %}


<div class="accordion-item" id="accordion-item-id-{{ subscription.course.id }}">
    <h2 class="accordion-header"
        id="accordion-header-subscription-id-{{ subscription.course.id }}">
        <button class="accordion-button collapsed accordion-button-subscription"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#accordion-subscription-course-id-{{ subscription.course.id }}"
                aria-expanded="false"
                aria-controls="accordion-subscription-course-id-{{ subscription.course.id }}">
            <span class="w-100 row">
                <span class="col-12 col-md-4 col-lg-5">
                    <b>{{ subscription.course.type }}</b>
                </span>
                <span class="col-12 col-md-4 col-lg-5">
                    {% include "courses/snippets/lesson_components/course_months.html" with course=subscription.course only %}
                </span>
                <span class="col-12 col-md-4 col-lg-2">
                    {% include "user/snippets/subscription_status_badge.html" with subscription=subscription only %}
                </span>
            </span>
        </button>
    </h2>
    <div id="accordion-subscription-course-id-{{ subscription.course.id }}"
         class="accordion-collapse collapse accordion-subscription-body"
         aria-labelledby="accordion-header-subscription-id-{{ subscription.course.id }}"
         data-bs-parent="#accordion-item-id-{{ subscription.course.id }}">
        <div class="accordion-body">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <p>
                        <strong>{% trans "Time" %}</strong>
                        <br/>
                        {% include "courses/snippets/lesson_components/lessons.html" with course=subscription.course only %}
                    </p>
                    <p>
                        <strong>{% trans "More Info" %}</strong>
                        <a href="{% url "courses:course_detail" subscription.course_id %}">
                            <br/>
                            {% trans "Course details" %}
                            <i class="bi bi-arrow-right-circle-fill"></i>
                        </a>
                        <a href="{% url "courses:course_ical" subscription.course_id %}">
                            <br/>
                            {% trans "Add to calendar" %}
                            <i class="bi bi-calendar-fill"></i>
                        </a>
                    </p>
                    <div>
                        {% if subscription.course.type.couple_course %}
                            <div class="col-xs-12">
                                <p>
                                    <strong>{% trans "Your Role" %}</strong>
                                    <br/>
                                    {{ subscription.get_assigned_role_str }}
                                </p>
                            </div>
                        {% endif %}
                        {% if subscription.partner %}
                            <div class="col-xs-12">
                                <p>
                                    <strong>{% trans "Partner" %}</strong>
                                    <br/>
                                    {{ subscription.partner.get_full_name }}
                                    <br/>
                                    {% include "courses/snippets/user_contact.html" with user=subscription.partner only %}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div>
                        <strong>{% trans "Costs" %}</strong>
                        <div class="my-1">
                            {% if subscription.get_price_to_pay %}
                                {{ subscription.get_price_to_pay }} CHF
                            {% else %}
                                {% trans "free of charge" %}
                            {% endif %}
                        </div>
                    </div>
                    {% if subscription.open_amount and subscription.state == 'confirmed' and not subscription.paid %}
                        <div class="my-1">
                            {% if subscription.is_payment_overdue %}
                                <div>
                                    <span class="badge bg-danger">{% trans "Overdue payment" %}</span>
                                </div>
                                <div class="text-danger">
                                    {% trans "You will not be able to sign up for any courses as long as this course is unpaid." %}
                                </div>
                            {% else %}
                                <span class="badge bg-warning">{% trans "Unpaid" %}</span>
                            {% endif %}
                        </div>
                        <div class="mt-2">
                            {% trans "To see the payment details, pay with the QR-bill and apply vouchers:" %}
                            <a href="{% url "payment:subscription_payment" usi=subscription.usi %}">
                                {% trans "Payment" %}
                                <i class="bi bi-arrow-right-circle-fill"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>
                        <strong>{% trans "State" %}</strong>
                        <br/>
                        {% include "user/snippets/subscription_status_badge.html" with subscription=subscription only %}
                        <br>
                        {% include "user/snippets/subscription_status_text.html" with subscription=subscription only %}
                    </p>
                    {% if subscription.get_position_on_waiting_list %}
                        {% include "courses/snippets/cancel_subscription_button.html" with subscription=subscription align_center=False only %}
                    {% endif %}
                    {% include "user/snippets/course_review_button.html" with course=subscription.course user=user only %}
                </div>
            </div>
        </div>
    </div>
</div>
