{% load i18n %}

<div class="card card-default mb-4">
    <div class="card-header">
        {{ subscription.course.type }}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <p>
                    <strong>{% trans "Time" %}</strong>
                    <br/>
                    {% include "courses/snippets/lessons.html" with course=subscription.course only %}
                </p>
                <p>
                    <strong>{% trans "More Info" %}</strong>
                    <a href="{% url "courses:course_detail" subscription.course_id %}">
                        <br/>
                        {% trans "Course details" %}
                        <i class="fa fa-arrow-circle-right fa-lg"></i>
                    </a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p>
                    <strong>{% trans "Costs" %}</strong>
                    {% if subscription.get_price_to_pay %}
                        <br/>
                        {{ subscription.get_price_to_pay }} CHF
                        {% if subscription.state == 'confirmed' and not subscription.paid %}
                            <br/>
                            <span class="badge bg-warning">{% trans "Unpaid" %}</span>
                            <br/>
                            {% trans "Unpaid subscription info" %}
                        {% endif %}
                    {% else %}
                        {% trans "free of charge" %}
                    {% endif %}
                </p>
                {% if subscription.open_amount and subscription.state == 'confirmed' and not subscription.paid %}
                    <p>
                        <strong>{% trans "Transfer to" %}</strong>
                        <br/>
                        {% include "payment/account/info.html" %}
                    </p>
                    <p>
                        <strong>{% trans "Use voucher" %}</strong>
                        <br/>
                        <a href="{% url "payment:subscription_payment" usi=subscription.usi %}">
                            {% trans "Redeem voucher here" %}
                            <i class="fa fa-arrow-circle-right fa-lg"></i>
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4">
                <p>
                    <strong>{% trans "State" %}</strong>
                    <br/>
                    {% if subscription.state == 'new' %}
                        <span class="badge bg-info">{% trans "Subscription received" %}</span>
                        <br/>
                        {% trans "New subscription info" %}
                    {% elif subscription.state == 'confirmed' %}
                        <span class="badge bg-success">{% trans "Subscription confirmed" %}</span>
                        <br/>
                        {% trans "Confirmed subscription info" %}
                    {% elif subscription.state == 'rejected' %}
                        <span class="badge bg-danger">{% trans "Rejected" %}</span>
                        <br/>
                        {% trans "Rejected subscription info" %}
                    {% elif subscription.state == 'completed' %}
                        <span class="badge bg-success">{% trans "Completed" %}</span>
                        <br/>
                        {% trans "Completed subscription info" %}
                    {% elif subscription.state == 'to_reimburse' %}
                        <span class="badge bg-dark">{% trans "To reimburse" %}</span>
                        <br/>
                        {% trans "To reimburse subscription info" %}
                    {% elif subscription.state == 'payed' %}
                        <span class="badge bg-success">{% trans "Paid" %}</span>
                        <br/>
                        {% trans "Paid subscription info" %}
                    {% endif %}
                </p>
            </div>
        </div>
        <div>
            {% if subscription.course.type.couple_course %}
                <div class="col-xs-12">
                    <p>
                        <strong>{% trans "Your Role" %}</strong>
                        <br/>
                        {{ subscription.get_assigned_role_str }}
                    </p>
                </div>
            {% endif %}
            {% if subscription.partner %}
                <div class="col-xs-12">
                    <p>
                        <strong>{% trans "Partner" %}</strong>
                        <br/>
                        {{ subscription.partner.get_full_name }}
                        <br/>
                        {% include "courses/snippets/user_contact.html" with user=subscription.partner only %}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>