{% load i18n %}
{% load courses_tags %}

{% with unpaid_subscriptions=user.profile.unpaid_subscriptions overdue_subscriptions=user.profile.subscriptions_with_overdue_payment %}
    {% if unpaid_subscriptions|length or overdue_subscriptions|length %}
        <div class="alert alert-{{ overdue_subscriptions|length|yesno:"danger,warning" }}">
            <h5 class="alert-heading">
                {% trans "Unpaid subscriptions" %}
            </h5>
            <hr>
            {% trans "You have unpaid subscriptions to the following courses:" %}
            <ul class="mb-0 mt-2">
                {% for subscription in overdue_subscriptions %}
                    <li>
                        <span class="badge bg-danger">{% trans "OVERDUE" %}</span>
                        <a href="{% url "courses:course_detail" subscription.course_id %}">
                            {{ subscription.course.type.title }}
                        </a>
                         - {% trans "Go to" %} 
                         <a href="{% url "payment:subscription_payment" usi=subscription.usi %}">
                            {% trans "Payment" %}
                            <i class="bi bi-arrow-right-circle-fill"></i>
                        </a>
                    </li>
                {% endfor %}
                {% for subscription in unpaid_subscriptions %}
                    {% if subscription not in overdue_subscriptions %}
                        <li>
                            <a href="{% url "courses:course_detail" subscription.course_id %}">
                                {{ subscription.course.type.title }}
                            </a>
                            - {% trans "Go to" %} 
                            <a href="{% url "payment:subscription_payment" usi=subscription.usi %}">
                                {% trans "Payment" %}
                                <i class="bi bi-arrow-right-circle-fill"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr>
            <strong>{% trans "Note" %}:</strong>
            {% trans "It can take up to a week for your payment to be acquired by our system." %}
        </div>
    {% endif %}
{% endwith %}