{% load i18n %}
{% load parler_tags %}

<div class="row">
    {% for partner in partners %}
        <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="card mb-4">
                <a  href="{{ partner.url }}">
                    <img class="card-img-top" src="{{ partner.image.url }}"  alt="{{ partner.name }}"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ partner.name }}</h5>
                    <div class="card-text">
                        {{ partner.description }}
                    </div>
                    <a href="{{ partner.url }}" target="_blank" class="card-link">
                        <i class="fas fa-external-link-alt"></i> {% trans "Visit partner" %}
                    </a>
                </div>

            </div>
        </div>
    {% endfor %}
</div>
