{% extends "basis.html" %}

{% load i18n %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block lead_title %}
    {% trans "Event details" %}
{% endblock %}

{% block main_content %}
<div class="container">
    {% if is_registration_confirmation %}
        <div class="alert alert-success">
            {% trans "Registration successful!" %}
        </div>
    {% elif is_registration_removed %}
        <div class="alert alert-success">
            {% trans "Registration successfully removed!" %}
        </div>
    {% endif %}
    <h2>
        {% include "events/snippets/event_title.html" %}
    </h2>
    <div class="row mt-3">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            {% include "events/snippets/event_extended_info.html" %}
        </div>

        <div class="col-12 col-sm-6 col-md-8 col-lg-9">

            {% if event.max_participants %}
                <div class="mb-3">
                <div>
                    <strong>{% trans "Limited number of guests" %}</strong>
                </div>
                <span style="font-size: medium" class="badge mt-2 bg-danger">
                    {% trans "Max." %} {{ event.max_participants }}
                </span>
                {% with free_spots=event.free_spots %}
                    {% if free_spots != None %}
                        {% if free_spots > 0 %}
                            <span style="font-size: medium" class="badge mt-2 bg-secondary">
                                 {{ free_spots }} {% trans "available" %}
                            </span>
                        {% else %}
                            <span style="font-size: medium" class="badge mt-2 bg-danger">
                                 {% trans "fully booked" %}
                            </span>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>
            {% endif %}
            {% if event.registration_possible or user_registered %}
                <div class="mb-3">
                    <div>
                        <strong>{% trans "Registration" %}</strong>
                    </div>
                    {% if user_registered %}
                        <span style="font-size: medium" class="badge mt-2 bg-success">
                                {% trans "You are registered" %}
                        </span>
                        <div class="mt-3">
                            <strong>{% trans "You can not make it?" %}</strong>
                        </div>
                        <div>
                            {% trans "Remove your registration in case you are not coming to the event to give someone else your spot. Thanks!" %}
                        </div>
                        <a href="{% url 'events:unregister' event.id %}" role="button" class="btn btn-warning mt-2">
                            {% trans "Unregister" %}
                        </a>
                    {% else %}
                        <div>
                            {% trans "Secure a spot for this event by registering here." %}
                        </div>
                        <a href="{% url 'events:register' event.id %}" role="button" class="btn btn-success mt-2">
                            {% trans "Register now" %}
                        </a>
                    {% endif %}

                </div>
            {% endif %}
            {% if event.get_description %}

                <div>
                    <strong>{% trans "Description" %}</strong>
                </div>
                <div>
                    {{ event.get_description|safe }}
                </div>
            {% endif %}
        </div>

    </div>

</div>
{% endblock main_content %}
