{% extends "basis.html" %}

{% load i18n %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block lead_title %}
    {% trans "Event Reservation" %}
{% endblock %}

{% block main_content %}
    <div class="container">

        <h2>
            {% include "events/snippets/event_title.html" %}
        </h2>
        <div class="row mt-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {% include "events/snippets/event_extended_info.html" %}
            </div>
            <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                <h3>
                    <strong>{% trans "Reservation" %}</strong>
                </h3>
                <button type="submit" class="btn btn-success mt-2">
                    {% trans "Submit reservation" %}
                </button>
            </div>
        </div>
    </div>
{% endblock main_content %}
