{% extends "basis.html" %}

{% load i18n %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block lead_title %}
    {% trans "Event details" %}
{% endblock %}

{% block main_content %}
    <div class="container">

        <h2>
            {% include "events/snippets/event_title.html" %}
        </h2>
        <div class="row mt-3">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                {% include "events/snippets/event_extended_info.html" %}
            </div>

            <div class="col-12 col-sm-6 col-md-8 col-lg-9">

                {% if event.max_participants %}
                    <div class="mb-3">
                        <div>
                            <strong>{% trans "Limited number of guests" %}</strong>
                        </div>
                        <span style="font-size: medium" class="badge mt-2 badge-danger">{% trans "Max." %} {{ event.max_participants }}</span>
                    </div>
                {% endif %}
                {% if event.reservation_enabled %}
                    <div class="mb-3">
                        <div>
                            <strong>{% trans "Reservation" %}</strong>
                        </div>
                        <div>
                            {% trans "Secure a spot for this event by making a reservation here." %}
                        </div>
                        <a href="{% url 'events:event_reserve' event.id %}" type="submit" class="btn btn-success mt-2">
                            {% trans "Reserve now" %}
                        </a>
                    </div>
                {% endif %}
                {% if event.get_description %}

                    <div>
                        <strong>{% trans "Description" %}</strong>
                    </div>
                    <div>
                        {{ event.get_description|safe }}
                    </div>
                {% endif %}
            </div>

        </div>

    </div>
{% endblock main_content %}
