{% load i18n %}

{% if events.count > 0 or show_when_no_events %}
    <div class="mb-4">
        {% if title %}
            <h3>{{ title }}</h3>
        {% endif %}
        {% if text and image %}
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <img src="{{ image.url }}" class="w-100 mb-3 rounded" alt="{{ title }}">
                </div>
                <div class="col-12 col-sm-6 col-md-8 col-lg-9">
                    {{ text }}
                </div>
            </div>
        {% elif text %}
            <div>{{ text }}</div>
        {% endif %}
        {% if events.count != 0 %}
            {% if use_cards %}
                {% include "events/snippets/event_cards.html" %}
            {% else %}
                {% include "events/snippets/event_list.html" %}
            {% endif %}
        {% else %}
            <div class="alert alert-info">{% trans "No events planned." %}</div>
        {% endif %}
    </div>
{% endif %} 


