collected_static/
configurations/
docs/
emails/
loadtesting/
logs/
media/
.git/
*.env
.gitignore
docker-compose.yml
Dockerfile
LICENSE
mkdocs.yml
overrides.yml
README.md
readthedocs.yml
renovate.json
sip.yml
