# This Compose file can be used in a development environment.

services:

  # Database (Postgres)
  postgres:
    image: postgres:14
    container_name: tq-postgres
    environment:
      POSTGRES_USER: ${TQ_DB_USER}
      POSTGRES_PASSWORD: ${TQ_DB_PASSWORD}
      POSTGRES_DB: ${TQ_DB_NAME}
    volumes:
      - "postgres-volume:/var/lib/postgresql/data"
    ports:
      - "127.0.0.1:${TQ_DB_PORT_DEBUG_HOST}:5432"
    restart: unless-stopped

  # S3 storage
  minio:
    container_name: tq-data
    image: minio/minio
    volumes:
      - data-volume:/data
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      MINIO_ACCESS_KEY: ${TQ_S3_MEDIA_ACCESS_KEY}
      MINIO_SECRET_KEY: ${TQ_S3_MEDIA_SECRET_KEY}
    command: server --console-address ":9001" /data
    restart: unless-stopped

volumes:
  postgres-volume: # Let Docker generate a place for this, doesn't matter for development
  data-volume:

