# Django
Django==5.2.9

# Django Extensions
django-debug-toolbar==6.1.0     # For developement. Gives additional insights into e.g. database queries
django-parler==2.3              # For simple translatable models
django-post-office==3.10.1       # Send and manage emails asynchronously, database based email templates
django-reversion==6.1.0         # Version control for model instances, e.g. used for subscriptions
django-countries==8.2.0         # Country choices for use with forms and fields for models
django-ical==1.9.2              # Simple library for creating iCal feeds
django-allauth==65.13.1          # Authentication, registration, account management, 3rd party account authentication
django-photologue==3.18         # Gallery application
django-sortedm2m==4.0.0         # Fix transitive dependency of django-photologue to version that suppoerts django 5.1

# Django CMS
django-cms==5.0.5               # Open source content management system based on the Django
djangocms-text==0.9.3           # Text plugin for django CMS
djangocms-versioning==2.5.0     # Core package of django CMS, is used to e.g. hava page histories
djangocms-alias==2.0.5          # Core package of django CMS used for aliases

# Rest framework
djangorestframework==3.16.1     # Toolkit for building Web APIs
django-parler-rest==2.2         # Adding translation support to django-rest-framework

# Tasks
celery==5.6.0                   # Task queue with focus on real-time processing, while also supporting task scheduling
django-celery-email==3.0.0      # Email backend that uses a Celery queue for out-of-band sending of the messages
django-celery-beat==2.8.1       # Store periodic task schedules in the database
django-celery-results==2.6.0    # Stores Celery task results
django-redis==6.0.0             # Redis cache and session backend for Django

# Files and encoding
openpyxl==3.1.5                 # For Microsoft Excel Files
svglib==1.6.0                   # Used for creating vouchers from SVG tremplate
reportlab==4.4.6                # For generating PDFs and graphics
pyyaml==6.0.3                   # Used for generating environment variable file
qrbill==1.2.0                   # For generating swiss payment QR codes, that can be scanne by banking apps
django-resized==1.0.3           # Used to resize images on save of ImageField

# Database
psycopg[binary]==3.3.2          # Driver for PostgreSQL

# Storage
django-storages==1.14.6         # Provide a variety of storage backends, used for storing objects on Minio
boto3~=1.42.9                  # Driver for S3 and S3 compatiables storage backends (e.g. Minio)
minio==7.2.20                    # Perform bucket and object operations, used for initializing Minio

# Webserver
gunicorn==23.0.0                # Used to serve django for production

# Logging
sentry_sdk==2.47.0              # Used for logging exceptions to Sentry.io

# Utils
plotly==6.5.0                  # For generating charts and graphs
pytz==2025.2                    # timezone calculations
shortuuid==1.0.13               # For generating short and unique ID's and codes
django-hijack==3.7.4            # Superuser can impersonate other users
python-dotenv==1.2.1            # Used to load environment variables from .env file
requests==2.32.5                # Used for OIDC requests
