# Django
Django==5.0.11

# Django Extensions
django-debug-toolbar==5.0.1     # For developement. Gives additional insights into e.g. database queries
django-parler==2.3              # For simple translatable models
django-post-office==3.9.1       # Send and manage emails asynchronously, database based email templates
django-reversion==5.1.0         # Version control for model instances, e.g. used for subscriptions
django-countries==7.6.1         # Country choices for use with forms and fields for models
django-ical==1.9.2              # Simple library for creating iCal feeds
django-ckeditor==6.7.2          # Django admin CKEditor integration
django-allauth==65.3.1          # Authentication, registration, account management, 3rd party account authentication
django-photologue==3.17         # Gallery application

# Django CMS
django-cms==4.1.4              # Open source content management system based on the Django
djangocms-text-ckeditor==5.1.6  # Text plugin for django CMS using CKEditor 4

# Rest framework
djangorestframework==3.15.2     # Toolkit for building Web APIs
django-parler-rest==2.2         # Adding translation support to django-rest-framework

# Tasks
celery==5.4.0                   # Task queue with focus on real-time processing, while also supporting task scheduling
django-celery-email==3.0.0      # Email backend that uses a Celery queue for out-of-band sending of the messages
django-celery-beat==2.7.0       # Store periodic task schedules in the database
django-celery-results==2.5.1    # Stores Celery task results
django-redis==5.4.0             # Redis cache and session backend for Django

# Files and encoding
openpyxl==3.1.5                 # For Microsoft Excel Files
svglib==1.5.1                   # Used for creating vouchers from SVG tremplate
reportlab==4.2.5                # For generating PDFs and graphics
pyyaml==6.0.2                   # Used for generating environment variable file
qrbill==1.1.0                   # For generating swiss payment QR codes, that can be scanne by banking apps
django-resized==1.0.3           # Used to resize images on save of ImageField

# SSH
paramiko==3.5.0                 # Used to get finance files from PostFinance

# Database
psycopg[binary]==3.2.4          # Driver for PostgreSQL

# Storage
django-storages==1.14.4         # Provide a variety of storage backends, used for storing objects on Minio
boto3==1.36.2                  # Driver for S3 and S3 compatiables storage backends (e.g. Minio)
minio==7.2.15                    # Perform bucket and object operations, used for initializing Minio

# Webserver
gunicorn==23.0.0                # Used to serve django for production

# Logging
sentry_sdk==2.20.0              # Used for logging exceptions to Sentry.io

# Utils
plotly==5.24.1                  # For generating charts and graphs
pytz==2024.2                    # timezone calculations
pylint==3.3.3                   # Default linter
shortuuid==1.0.13               # For generating short and unique ID's and codes
django-hijack==3.7.1            # Superuser can impersonate other users
python-dotenv==1.0.1            # Used to load environment variables from .env file
sphinx-automodapi==0.18.0       # For generating Sphinx API docs
