celery==4.4.2
Django==2.2.12
django-absolute==0.3
django-analytical==2.6.0
django-celery-email==3.0.0
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-cms==3.7.2
django-filer==1.7.0
django-filter==2.2.0
django-formtools==2.2
django-guardian==2.2.0
django-parler==2.0.1
django-parler-rest==2.1
django-polymorphic==2.1.2
django-post-office==3.4.0
django-reversion==3.0.7
django-timezone-field==4.0
django-storages==1.9.1
djangocms-admin-style==1.5.0
djangocms-googlemap==1.4.0
djangocms-link==2.6.0
django-ckeditor==5.9.0
djangocms-text-ckeditor==3.9.0
djangorestframework==3.11.0
openpyxl==3.0.3
base36==0.1.1
paramiko==2.7.1
django-allauth==0.41.0
django-debug-toolbar==2.2
redis==3.4.1
django-redis==4.11.0
cryptography==2.9.1
django-countries==6.1.2
django-ical==1.7.0
pylint==2.4.4
python-dotenv==0.13.0
sphinx-automodapi==0.12
pytz==2019.3
boto3==1.12.43
# boto3 (1.12.43) requires docutils < 0.16
docutils==0.15.2

# DATABASE
psycopg2==2.8.5

# Connection Django <--> Webserver
gunicorn==20.0.4

# Logging
sentry_sdk==0.14.3

# Images and PDF
svglib==1.0.0
PyPDF2==1.26.0
Pillow==7.1.1

# Parsing in the generate-env.py script
pyyaml==5.3.1

