{% extends "basis.html" %}
{% load i18n %}

{% block lead_title %}
    {% trans "Payment Status" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>{% trans "Payment Details" %}</h2>
        <p>{% trans "Please check the payment details so you make sure you pay the right course" %}</p>
        <div class="card card-default">
            <div class="card-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label for="name">{% trans "Name" %}</label>
                            <div id="name">{{ subscription.user.get_full_name }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label for="course">{% trans "Course" %}</label>
                            <div id="course">{{ subscription.course }} </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label for="course">{% trans "Amount to Pay" %}</label>
                            <div id="price_to_pay">{{ subscription.price_to_pay }} </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <h2>{% trans "Enter Voucher Code" %}</h2>
        <p>{% trans "You can enter your voucher code here. If you use it to pay the course the voucher will be marked as used." %}</p>
        <div class="card card-default">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-success">
                        {% trans "Pay With Voucher" %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock main_content %}
