{% extends "basis.html" %}
{% load i18n %}

{% block title %}
    {% trans "Unsubscribe" %}
{% endblock title %}

{% block lead_title %}
    {% trans "Unsubscribe" %}
{% endblock %}


{% block main_content %}
    <div class="container">
        {% if done %}
            {% if success %}
                <div class="alert alert-success">{% trans "Successfully unsubscribed!" %}</div>
            {% else %}
                <div class="alert alert-danger">{% trans "Invalid unsubscribe URL. Please send us an email to unsubscribe." %}</div>
            {% endif %}
        {% else %}
            <p>{% trans "Click the button below to unsubscribe." %}</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" name="confirm" value="1" class="btn btn-danger">{% trans "Unsubscribe" %}</button>
            </form>
        {% endif %}
    </div>
{% endblock main_content %}
