{% load i18n %}
{% load sekizai_tags %}
{% load teacher_presence_tags %}

{% addtoblock "css" %}
{% endaddtoblock %}

<h3 class="mt-4">{% trans "Teacher presences" %}</h3>
{% csrf_token %}
{% for lesson in course.lesson_occurrences.all %}
    <div class="mt-2">
        <div class="fw-bold">
            {{ lesson.start|date:"l, j F Y, H:i" }}- {{ lesson.end|date:"H:i" }}</div>
        {% if can_edit %}
            <div class="d-flex flex-wrap gap-2 mt-1">
                {% for teacher in lesson.teachers.all %}
                    <span class="input-group input-group-sm w-auto">
                        <span class="input-group-text border-secondary"
                              id="inputGroup-sizing-sm">
                        {{ teacher.first_name }} {{ teacher.last_name }}
                        </span>
                        <button class="btn btn-outline-danger" type="button"
                                onclick="post({{ teacher.id }}, {{ lesson.id }}, 'remove')"><i
                                class="fa-regular fa-circle-xmark"></i></button>
                    </span>
                {% endfor %}

                <button class="btn btn-outline-success btn-sm" type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fa-solid fa-plus"></i> Add teacher
                </button>

                <ul class="dropdown-menu">
                    {% for teacher in course.get_teachers %}
                        <li>
                            <a class="dropdown-item"
                               onclick="post({{ teacher.id }}, {{ lesson.id }}, 'add')">
                                {{ teacher.first_name }} {{ teacher.last_name }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {# TODO: Re-add search capability #}
                    <li class="px-1">
                        <input type="text" class="form-control"
                               placeholder="{% trans "Search teacher" %}"
                               aria-label="{% trans "Teacher" %}"
                               data-url="{% url "payment:teacher_search" course.id %}">

                    </li>
                </ul>
            </div>
        {% else %}
            {% for teacher in lesson.teachers.all %}
                {{ teacher.first_name }}
                {{ teacher.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endfor %}

{% if can_edit %}
    {% addtoblock "js" %}

        <script type="text/javascript">
            function post(teacher_id, lesson_id, action) {
                fetch('', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({
                        'action': action,
                        'teacher': teacher_id,
                        'lesson': lesson_id
                    })
                }).then(() => location.reload()) // TODO: just update html instead of reloading page
            }
        </script>
    {% endaddtoblock %}
{% endif %}