{% load i18n %}
{% load sekizai_tags %}
{% load teacher_presence_tags %}

{% addtoblock "css" %}
{% endaddtoblock %}

<h3 class="mt-4">{% trans "Teacher presences" %}</h3>

{% if not can_edit  %}
    <div class="alert alert-warning" role="alert">
        <h5 class="alert-heading">{% trans "Read Only" %}</h5>
        <p class="mb-0">
            {% if course.completed %}
                {% trans "An administrator marked the teacher presence for this course as completed. You cannot edit it anymore." %}
            {% else %}
                {% trans "You don't have permissions to edit the teachers presences of this course." %}
            {% endif %}
        </p>
    </div>
{% endif %}

{% for lesson in course.lesson_occurrences.all %}
    <div class="mt-2">
        <div class="fw-bold">
            {{ lesson.start|date:"l, j F Y, H:i" }} - {{ lesson.end|date:"H:i" }}</div>
        {% if can_edit %}
            <div class="d-flex flex-wrap gap-2 mt-1 mb-3" id="lesson-{{ lesson.id }}">
                {% for teacher in lesson.teachers.all %}
                    <span class="input-group input-group-sm w-auto teacher"
                          id="lesson-{{ lesson.id }}-teacher-{{ teacher.id }}">
                        <span class="input-group-text border-secondary">
                            {{ teacher.first_name }} {{ teacher.last_name }}
                        </span>
                        <button class="btn btn-outline-danger" type="button"
                                onclick="remove_teacher({{ teacher.id }}, {{ lesson.id }})">
                            <i class="bi bi-x-circle-fill"></i>
                        </button>
                    </span>
                {% endfor %}


                {% if lesson.end <= now %}
                    <button class="btn btn-outline-success btn-sm add-teacher"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="bi bi-plus-circle-fill"></i> {% trans "Add teacher" %}
                    </button>
                {% else %}
                    <div class="alert alert-light my-0 px-2 py-1">
                        <i class="bi bi-info-circle-fill"></i>
                        {% trans "The presence can only be entered after the lesson is over." %}
                    </div>
                {% endif %}

                <ul class="dropdown-menu">
                    {% for teacher in course.get_teachers %}
                        <li>
                            <a href="#" class="dropdown-item"
                               onclick="add_teacher({{ teacher.id }}, {{ lesson.id }})">
                                {{ teacher.first_name }} {{ teacher.last_name }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="px-1">
                        <input type="text" class="form-control search-input"
                               placeholder="{% trans "Search teacher" %}"
                               oninput="search(this, {{ lesson.id }})">

                    </li>
                </ul>
            </div>
        {% else %}
            {% if lesson.teachers.all|length > 0 %}
                <ul>
                    {% for teacher in lesson.teachers.all %}
                        <li>
                            {{ teacher.first_name }} {{ teacher.last_name }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <i>{% trans "No teachers selected" %}</i>
            {% endif %}

        {% endif %}
    </div>
{% endfor %}

{% if can_edit %}
    {% addtoblock "js" %}

        <template id="teacher-template">
            <span id="id" class="input-group input-group-sm w-auto teacher">
                <span class="input-group-text border-secondary teacher-name">
                Teacher name
                </span>
                <button class="btn btn-outline-danger" type="button">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
            </span>
        </template>

        <template id="add-teacher-loading-template">
            <button class="btn btn-outline-success btn-sm" disabled type="button">
                <span class="spinner-border spinner-border-sm"></span> Adding teacher
            </button>
        </template>

        <template id="remove-button-loading-template">
            <button class="btn btn-outline-danger" type="button" disabled>
                <span class="spinner-border spinner-border-sm"></span>
            </button>
        </template>

        <template id="search-result">
            <li class="search-result">
                <a href="#" class="dropdown-item">
                    Teacher Name
                </a>
            </li>
        </template>

        <template id="searching">
            <li class="searching">
                <span class="dropdown-item fst-italic">{% trans "Searching" %}...</span>
            </li>
        </template>

        <script type="text/javascript">
            function post(teacher_id, lesson_id, action) {
                return fetch('', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'action': action,
                        'teacher': teacher_id,
                        'lesson': lesson_id
                    })
                })
            }

            async function remove_teacher(teacher_id, lesson_id) {
                set_remove_teacher_loading_view(teacher_id, lesson_id);
                const response = await post(teacher_id, lesson_id, "remove");
                const data = await response.json()
                update_view(data);
            }

            async function add_teacher(teacher_id, lesson_id) {
                const loadingView = set_add_teacher_loading_view(lesson_id);
                const response = await post(teacher_id, lesson_id, "add");
                const data = await response.json()
                loadingView.remove();
                update_view(data);
            }

            async function search(input, lesson_id) {
                const value = input.value;

                const container = input.parentNode.parentNode;
                container.querySelectorAll(".search-result").forEach(entry => entry.remove())

                if (!value) {
                    return;
                }

                container.appendChild(document.querySelector("#searching").content.cloneNode(true));
                const response = await fetch(`{% url "payment:teacher_search" %}?q=${value}`);

                const data = await response.json();
                container.querySelectorAll(".search-result").forEach(entry => entry.remove())
                for (const searchResult of data) {
                    const template = document.querySelector("#search-result");
                    const clone = template.content.cloneNode(true);
                    const link = clone.querySelector("a");
                    link.textContent = searchResult["text"];
                    link.onclick = add_teacher.bind(link, searchResult["value"], lesson_id);
                    container.appendChild(clone);
                }
                container.querySelectorAll(".searching").forEach(element => element.remove());
            }

            function set_add_teacher_loading_view(lesson_id) {
                document.querySelectorAll(".search-input").forEach(input => input.value = "")
                document.querySelectorAll(".search-result").forEach(result => result.remove())
                const lessonContainer = document.getElementById(`lesson-${lesson_id}`);
                const clone = document.querySelector("#add-teacher-loading-template").content.cloneNode(true);
                const loadingButton = clone.querySelector("button");
                lessonContainer.insertBefore(clone, lessonContainer.querySelector(".add-teacher"));
                return loadingButton;
            }

            function set_remove_teacher_loading_view(teacher_id, lesson_id) {
                const teacherField = document.querySelector(`#lesson-${lesson_id}-teacher-${teacher_id}`)
                teacherField.querySelector("button").remove()
                const template = document.querySelector("#remove-button-loading-template");
                const clone = template.content.cloneNode(true);
                teacherField.appendChild(clone);
            }

            function update_view(data) {
                const lesson_id = data["id"]
                document.querySelectorAll(`#lesson-${lesson_id} .teacher`).forEach(item => item.remove())

                const lessonContainer = document.getElementById(`lesson-${lesson_id}`)
                const add_teacher_button = lessonContainer.querySelector(".add-teacher")
                for (const teacher of data["teachers"]) {
                    const template = document.querySelector("#teacher-template");
                    const clone = template.content.cloneNode(true);
                    const name = clone.querySelector(".teacher-name");
                    name.textContent = `${teacher["first_name"]} ${teacher["last_name"]}`;
                    const button = clone.querySelector("button")
                    button.onclick = remove_teacher.bind(button, teacher["id"], lesson_id);
                    clone.querySelector("#id").id = `lesson-${lesson_id}-teacher-${teacher["id"]}`;
                    lessonContainer.insertBefore(clone, add_teacher_button);
                }
            }
        </script>

    {% endaddtoblock %}
{% endif %}
