<!-- Modal -->
<div class="modal fade" id="{{ modal_name }}-{{ function.id }}" tabindex="-1" role="dialog" aria-labelledby="Profile"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"
                    id="modal_label_profile-{{ function.id }}">{{ function.user.get_full_name }}</h4>
                <h4>
                    <small>{{ function.name }}</small>
                </h4>
            </div>
            <div class="modal-body">
                {% if function.user.profile %}
                    <p>{{ function.user.profile.about_me|safe }}</p>
                {% endif %}
                {% if function.email %}
                    <br/>
                    <h4>Kontakt</h4>
                    <p><a href="mailto:{{ function.email }}">{{ function.email|default:"-" }}</a></p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schliessen</button>
            </div>
        </div>
    </div>
</div>
