<div id="accordion" role="tablist" aria-multiselectable="true">
    {% for q in questions %}
        <div class="card card-default mb-1">
            <div class="card-header" role="tab" id="heading-{{ q.id }}">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ q.id }}"
                       aria-expanded="false" aria-controls="collapse-{{ q.id }}">
                        {{ q.question_text }}
                    </a>
            </div>
            <div id="collapse-{{ q.id }}" class="card-collapse collapse" role="tabcard"
                 aria-labelledby="heading-{{ q.id }}">
                <div class="card-body">
                    {{ q.answer_text }}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info">No questions to be displayed.</div>
    {% endfor %}
</div>
