/*
Geniale Dokumentation zu CSS: http://www.css4you.de
*/

html {
	background: url('bilder/bg.png') repeat-x top;
	background-color: #DB0100; /*fuer lange Bildschirme die nach unten mehr anzeigen als das Hintergrundbild*/
	background-attachment:fixed; /*so bleibt das bild immer oben links stehen, auch wenn ich scrolle*/
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	background: url('bilder/bg_legs.png') no-repeat right top;
	background-attachment:fixed; /*so bleibt das bild immer oben links stehen, auch wenn ich scrolle*/
	text-align: center; /*damit der IE alles zentriert */
}
/* Navigation */
#navigation-container{
	/*container*/
	width: 850px; /* +padding = 860px*/
	background-color: #8C0000; /*dunkelrot*/
	border-top: 2px solid #DB0100; /*linie oben*/
	border-bottom: 2px solid #DB0100; /*linie unten*/
	/*position*/
	padding: 5px; /*innenabstand*/
	margin: 0px auto;
	top: 0px; /*ganz am oberen rand*/
	position: fixed; /*was auch immer kommt, die Navigation bleibt stehten */
	left: 50%;
	margin-left: -430px; /*halbe breite (+ padding)!*/
	z-index: 99; /*so ist die navigation immer ueber dem text*/
}
#navigation {
/*	die navigation beinhaltet nur links !	*/
}
#navigation ul {
	/*float: left;*/
	margin: 0px;
	padding: 0px 30px; /* links buendig mit main-text*/
}
#navigation ul li { /* ausrichtungs def muessen doppelt gemacht werden, nicht nur fur die links */
	display: block;
	float: left;
	text-align: center;
	line-height: 25px; /*wichtig fur vertikale ausrichtung*/
	color: #fff;
}
#navigation ul li a {
	display: block;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
}
#navigation ul li a:hover {
	color: #DB0100;  /*dunkleres rot*/
}
#navigation ul li a.aktiv { /*der navi-eintrag, wo sich der besucher jeweils gerade befindet (via php in navigation implementiert)*/
	color: #DB0100; /*wie hover*/
}
/* Dropdown-Menu, wird vom normalen Menu unterschieden durch das zusätzliche div */
#navigation  ul li div{
	position: absolute;
	visibility: hidden;
	/*margin: 0;
	padding: 0;*/
	background-color: #8C0000; /*dunkelrot*/
	border: 2px solid #DB0100;
}
#navigation ul li div a {
	float: none;
	position: relative;
	display: block;
	margin-top: 3px;
	padding-left: 10 px;
	padding-right: 15 px;
	width: auto;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	font-variant: small-caps;
	text-align: left;
}
#navigation ul li div a:hover {
	color: #DB0100;  /*dunkleres rot*/
}
/* Navigation End */

/* Titel-Banner (container mit titel und logo) */
#titel-banner {
	/*ausrichtung*/
	width: 829px; /* + padding = 860px*/
	margin: 0px auto; /*IE will nicht... loesung zu unterst unter IE-hack*/
	padding-left: 31px;
	/*text*/
	color: #fff;
	text-align: center;
}
	#logo { /*beziehe das logo als hintergrundbild (so ist der text daruber...)*/
		height: 166px; /*logo hoehe + abstand zu top um unter navigation zu sein*/ /*IE rechnet anders... siehe IE-hacks*/
		background: url('bilder/tq_logo.png') no-repeat left bottom;
	}
#titel-banner h1{
	font-size: 260%;
	padding: 75px 20px 0px 0px;
}
/* Titel-Banner End*/

/* Main (hier kommt der text) */
#main {
	/*container*/
	width: 780px; /* +padding = 860px*/
	height: auto;
	background-color: #FFFF99; /*helles gelb*/
	/*position*/
	margin: 25px auto 10px; /* 25px von oben und 0px von der Lastline weg, gleich fur beide seiten (ie. zentriert)*/
	padding: 40px; /*innenabstand, diesen wert dem margin und width zu- bzw. abziehen (doppelt)!!*/
	/*text*/
	color: #000;
	text-align: justify;
}
#main h1 { /*In den Light-Boxes ist's nochmals deklariert. (Und da die Light-Boxes unten sind, haben sie letztlich mehr Gewicht...)*/
	font-size: 140%;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #FFD67B; /*farbe um kleine nuance von hintergrundfarbe verschieden*/
	font-variant: small-caps;
	margin-top: 30px;
}
#main h2 {
	font-size: 110%;
	text-align: left;
	color: #000;
}
#main a {
	text-decoration: underline;
	color: #8C0000;  /*rot*/
}
	#main a:hover {
		text-decoration: none;
		color: #E5826B; /*hellrot*/
	}
#main table {
	border: none;
	border-collapse:collapse; /*damit zellen nahtlos ineinander uebergehen*/
	text-align: left;
	font-size: 90%; /*in tabellen leicht kleiner schreiben. relativ zu normaler groesse, also wenn body 75% dann sind 90% hier 90% von 75%...*/
	color: #000;
}
	#main table a{
		color: #fff;
		text-decoration: underline;
	}
	#main table a:hover{
		color: #fff;
		text-decoration: none;
	}
	#main table tr td {
		padding: 3pt; /*minimaler abstand der einzelnen zellen zueinander*/
	}
	#main table.vorstand tr td {
		padding: 3pt 8pt;
	}
	#main table.jobs tr td {
		padding: 5pt 10pt;
	}
		#main table.jobs tr td a{
			text-decoration: none;
			font-weight: bold;
		}
		#main table.jobs tr td a:hover{
			text-decoration: underline;
			font-weight: bold;
		}
#main tr.firstline{
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-variant: small-caps;
}
#main tr.e0{ /*zwei dunkle rot abwechselnd*/
	background-color: #BB0301;
	color: #fff;
}
	#main tr.e0:hover{ /*beide wechseln zur selben Frabe*/
	background-color: #AB0000;
	}
#main tr.e1{
	background-color: #900000;
	color: #fff;
}
	#main tr.e1:hover{
	background-color: #AB0000;
	}
#main tr.b0{
	background-color: #33CC33;
	color: #fff;
}
#main tr.b1{
	background-color: #006600;
	color: #fff;
}
#main tr.u0{
	background-color: #004cff;
	color: #fff;
}
#main tr.u1{
	background-color: #0008ff;
	color: #fff;
}
/* Kalender */
#main table.kalender {
/*Farbregime:
Gerade Monate haben Hintergrundfarbe von e0, ungerade Monate von e1. (Hier aber in td statt in tr deklariert, daher nochmals schreiben:)
Eventtage haben hover-Farbe als Hintergrund.
Der heutige Tag soll mit main-Hintergrundfarbe hervorstechen.*/
	color: #fff;
	text-align: center;
	padding:0pt;
	margin: -25px -25px 0px 0px;
}
#main table.kalender tr.e0, #main table.kalender tr td.e0{ /*zwei dunkle rot abwechselnd*/
	background-color: #BB0301;
}
#main table.kalender tr.e1, #main table.kalender tr td.e1{
	background-color: #AB0000;
}
#main table.kalender tr.firstline a{
		text-decoration: none;
		background-color: #000;
		color: #fff;
		font-weight: bold;
		font-variant: normal;
	}
#main table.kalender tr.wochentage { /*gleich wie firstline, nur andere Hintergrundfarbe*/
	background-color: #720703;
	color: #fff;
	font-weight: bold;
	font-variant: small-caps;
}
#main table.kalender tr td{
	width: 24px;
	padding:2pt;}
#main table.kalender tr td.event {
	background-color: #900000;}
	#main table.kalender tr td.event a {
		font-weight: bold;
		text-decoration: none;
		display: block;}
#main table.kalender tr td.heute {
	background-color: #ff9;
	color: #000;
	font-weight: bold;}
#main table.kalender tr td.heute a { /*ein Link wie in main...*/
	color: #8C0000;
	text-decoration: underline;}
	#main table.kalender tr td.heute a:hover {
	color: #E5826B;}
/* Fotos */
#main table.fotos tr td:last-child:hover {
/*Die uebersicht in einer Tabelle dargestellt ist schlicht einfacher... Der Quellcode wird somit zwar aufgebl�ht. Aber daf�r sind Bild und Link zuverl�ssig platziert.
Hintergrundfarbe ist nicht wichtig; Tabelleneigenschaft an sich ist nicht wichtig...
Links/Text ist ja nur im rechten sprich jeweils letzten td drin ( => last-child).*/
	background-color:#FFF794;
}
#main table.fotos tr td a:last-child {
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
	color: #8C0000;  /*rot*/
}
	#main table.fotos tr td a:last-child:hover {
		text-decoration: none;
		color: #E5826B; /*hellrot*/
	}
/*Formulare der Klasse maske
(die klassifizierung ist wichtig, damit das Design aktiv ausgewählt wird; alle anderen (unklassierten) Formular-Bausteine bleiben unformatiert)*/
#main form.kursmaske fieldset {
	margin: 10px 0px;
	border: 1px solid #FFD67B;
}
#main form.kursmaske fieldset legend {
	font-weight: bold;
	font-size: 110%;
}
#main form.kursmaske fieldset label {
	float:left;
	width:20%;
	text-align: right;
}
#main form.kursmaske fieldset select, 
#main form.kursmaske fieldset input, 
#main form.kursmaske fieldset textarea {
	margin: 2px 5px;
}
/* Formulare für die online Anmeldung für die Kurse. Sind fast gleich wie die kursmase, aber ein wenige weiter rechts*/
#main form.anmeldungsmaske fieldset {
	margin: 10px 0px;
	border: 1px solid #FFD67B;
}
#main form.anmeldungsmaske fieldset legend {
	font-weight: bold;
	font-size: 110%;
}
#main form.anmeldungsmaske fieldset label {
	float:left;
	width:27%;
	text-align: right;
}
#main form.anmeldungsmaske fieldset select, 
#main form.anmeldungsmaske fieldset input, 
#main form.anmeldungsmaske fieldset textarea {
	margin: 2px 5px;
}
#main hr {
	background-color: #FFD67B;
	border: none;
	width: 80%;
	text-align: center;
}
/*	Links	*/
#main a[target="_blank"]{
	padding-right: 14px; /*Bildgroesse + 4px*/
	background: url('bilder/external.png') no-repeat right; /*alle Links mit dem Eintrag "target='_blank'" erhalten automatisch ein Bild zur Kennzeichnung */
}
#main a[href*="@"]{
	padding-right: 22px;
	background: url('bilder/email.png') no-repeat right; /*alle Email-Links erhalten automatisch ein Bild zur Kennzeichnung  (ab CSS3)*/
}
	#main tr.e0 a[href*="@"], #main tr.e1 a[href*="@"]{
	background: url('bilder/email_dk.png') no-repeat right; /*obiges Bild ist ungeeignet bei dunklem Hintergrund*/
	}
#main a[href*=".pdf"]{
	padding-right: 26px;
	background: url('bilder/pdf.png') no-repeat right; /*alle PDF-Links erhalten automatisch ein Bild zur Kennzeichnung  (ab CSS3)*/
}
#main a[href*=".doc"]{
	padding-right: 14px;
	background: url('bilder/doc.png') no-repeat right; /*alle DOC-Links erhalten automatisch ein Bild zur Kennzeichnung  (ab CSS3)*/
}
#main a[href*=".ott"], #main a[href*=".odt"]{
	padding-right: 14px;
	background: url('bilder/odt.png') no-repeat right; /*alle ODT-Links erhalten automatisch ein Bild zur Kennzeichnung  (ab CSS3)*/
}
#main a[href*=".xls"]{
	padding-right: 15px;
	background: url('bilder/xls.png') no-repeat right; /*alle XLS-Links erhalten automatisch ein Bild zur Kennzeichnung  (ab CSS3)*/
}
#main a[href*=".ppt"]{
	padding-right: 14px;
	background: url('bilder/ppt.png') no-repeat right; /*alle PPT-Links erhalten automatisch ein Bild zur Kennzeichnung  (ab CSS3)*/
}
#main a[class="bild"] { /*ein verlinktes Bild erhaelt das external nicht, im link muss aber vermerkt sein, dass es sich um ein bild handelt! 			daher class="bild" */
	background: none;
	padding-right: 0px;
}
/* Sprachauswahl - ist in skelett.php als erster Eintrag im main-div deklariert. */
#main div.sprachauswahl {
	
	margin: -25px 0px 0px -25px;
}
/* Main End */

/* Footer */
#footer {
	width: 350px;
	height: 80px;
	margin: 5px auto;
	padding: 5px;
	-moz-border-radius: 10px; /*Firefox*/
	-khtml-border-radius: 10px; /* Opera, Chrome, Safari - IE kennt nichts rundes*/
	background-color: #fff;
	text-align: center;
	display: block;
}
/*Footer End*/

/* Last Line */				/* Hier drin steht "(c) by TQ, Impressum und Disclaimer" */
#lastline {
	/*container*/
	width: 850px; /* +padding = 860px*/
	height: auto;
	background: none; /*transparent, ie. roter Hintergrund*/
	/*position*/
	margin: 10px auto 10px; /* zentriert, mit Abstand zum Footer*/
	padding: 5px; /*innenabstand, diesen wert dem margin und width zu- bzw. abziehen (doppelt)!!*/
	/*text*/
	color: #000;
	text-align: right;
}
#lastline a {
	text-decoration: underline;
	color: #2A2A2A;  /*main-rot im Graustufen aequivalent*/
}
	#lastline a:hover {
		text-decoration: none;
		color: #464646; /*helleres grau*/
	}
/* Last Line End */

/* Lightbox */
/*
Achtung: Script! Script-blocker koennen das verhindern.
aktivieren:		onclick="document.getElementById('lightbox').style.display='block';document.getElementById('lightbox-bg').style.display='block'"
deaktivieren:	onclick="document.getElementById('lightbox').style.display='none';document.getElementById('lightbox-bg').style.display='none'"
deaktivieren muss sowohl fuer die Lightbox selbst, als auch fuer den Hintegrund realisiert werden. Fuer Hintergrund: action fuer ein transparenter Spacer 100% Groesse
*/
.lightbox-bg {
	/*position*/
	display: none;
	position: fixed; /*sonst wird die 100% Groesse weggescrollt */
	top: 0px; /*ganz oben...*/
	left: 0px; /*...und ganz links beginnend*/
	width: 100%; /*den ganzen Platz einnehmend*/
	height: 100%;
	/*style*/
	z-index: 50; /*Frage: soll's ueber oder unter der Navi sein?*/
	background: #522;
	-moz-opacity: 0.6; /* Firefox*/
	opacity: .60; /* Opera, Chrome, Safari*/
	filter: alpha(opacity=60); /*IE*/
}
	.lightbox { /*fuer Bilder, im Besonderen fuer Bilder tief unten auf der Seite. die Lightbox erscheint in der Bildschirmmitte, egal wie weit gescrollt wurde. Aber Bilder die groesser als der Bildschirm sind, koennen so nicht gescrollt werden!*/
	/*position*/
	display: none;
	position: fixed;
	/*left: 50%;
	margin-left: 50%;*/
	top: 50px; /* unterhalb navigation */
	z-index: 51; /*Frage: soll's ueber oder unter der Navi sein?*/
	overflow: auto;
	}
	.lightbox-hoch { /*fuer hohe Bilder, Position ist nicht fixiert, dafuer laesst sich hier scrollen*/
	/*position*/
	display: none;
	position: absolute;
	top: 50px; /* unterhalb navigation */
	margin-left: 140px; /* das TQ-Logo im Hintergrund wird gerade nicht verdeckt - Main-Padding beachten!*/
	z-index: 51; /*Frage: soll's ueber oder unter der Navi sein?*/
	overflow: auto;
	}
	.lightbox-text { /*fuer Text*/
	/*position*/
	display: none;
	position: absolute;
	top: 120px;
	margin-left: -295px; /* schoen zentriert */
	left: 50%;
	z-index: 51; /*Frage: soll's ueber oder unter der Navi sein?*/
	overflow: auto;
	/*container*/
	width: 510px;
	padding: 40px;
	color: #000;
	text-align: justify;
	background-color: #FFFF99;
	}
	.lightbox-text a {
		text-decoration: underline;
		color: #8C0000;  /*rot*/
	}
	.lightbox-text a:hover {
		text-decoration: none;
		color: #E5826B; /*hellrot*/
	}
	.lightbox-text h1 { /* wie in main, nur um sicher zu gehen...*/
		font-size: 140%;
		font-weight: bold;
		color: #000;
		border-bottom: 1px solid #FFD67B;
		font-variant: small-caps;
		margin-top: 30px;
	}
	.lightbox-login { /*fuer login. die Lightbox erscheint in der Bildschirmmitte, egal wie weit gescrollt wurde.*/
	/*position*/
	display: none;
	position: fixed;
	top: 50px; /* unterhalb navigation */
	margin-left: -295px; /* schoen zentriert */
	left: 50%;
	z-index: 51; /*Frage: soll's ueber oder unter der Navi sein?*/
	overflow: auto;
	/*container*/
	width: 510px;
	padding: 40px;
	color: #000;
	text-align: justify;
	background-color: #FFFF99;
	}
	.lightbox-login a {
		text-decoration: underline;
		color: #8C0000;  /*rot*/
	}
	.lightbox-login a:hover {
		text-decoration: none;
		color: #E5826B; /*hellrot*/
	}
	.lightbox-login h1 { /* wie in main, nur um sicher zu gehen...*/
		font-size: 140%;
		font-weight: bold;
		color: #000;
		border-bottom: 1px solid #FFD67B;
		font-variant: small-caps;
		margin-top: 30px;
	}
.fake-link { /*fake link*/
	cursor: pointer;
}
	.fake-link aktiv { /*fake link*/
	cursor: pointer;
}

/*Lightbox End*/


/* Newsletter */
.newsletter {
	background-color: #FFFF99; /*normale Hintergrundfarbe */
	border: 1px solid #FFD67B; /*Farbe der Underline von #main h1 */
	padding: 5px;
	margin: -25px -25px 5px 5px; /*wie Kalender*/
	float: right;
}
/* Newsletter End */


/* Sonstiges */
.welcome{ /* Herzlich willkommen bei Tanzquotient, das auf Startseite steht.*/
	font-size: 20pt !important;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	border: none !important;
	margin-bottom: 40px;
}
.kapital{
	font-variant: small-caps;
	font-weight: bold;
}
a img {
	border: none !important;
}
.rechts {
	float: right;
	margin: 3px 3px 3px 13px;
}
.links {
	float: left;
	margin: 3px 13px 3px 3px;
}
.schattiert { /*einzuarbeiten wie folgt: 	<em class="schattiert"> <img> </em>	*/
				/*hier kann kein z-index definiert werden. wenn der Schatten nicht angezeigt wird, dann weil im <img> noch eine klasse definiert ist*/
	background: url(bilder/schatten.png) no-repeat right bottom;
	display: block;
	width: auto;
	height: auto;
	margin: 12px 2px 2px 15px; /*das darauf folgende bild konsumiert den rand wieder; bis auf je 5px links und oben. und die brauchts fur die schonere darstellung*/
	position: relative;
}
	.schattiert img {
		margin: -10px 10px 10px -10px;
		display: block; /*ohne das zeigen alle Browser ausser IE einen ungewollten Abstand unten (IE haelt sich nicht an die Konvention...). aber mit erzeugt der IE eine horizontale scroll leiste. loesung unten*/
		_position: relative; /*IE verschluckt rand mit negativem aussenabstand, also ver�ndere ich einfach die position...*/
		_top: 0px;
		_left: -10px;
	}


[class="print"]{display: none;} /* alles fuer die Druckausgabe bestimmte muss nicht angezeigt werden!*/

/*IE-hack*/
*html, *+html { overflow-x: hidden;  /*das versteht nur der IE (+ fuer IE7) somit blockiere ich die horizontale scroll leiste, die der IE durch das display:block aus .schattiert img generiert*/
			  margin: 0px 0px; }  /*sonst ueberschneiden sich die navigation und titelbanner schon im ruhezustand*/
*html #navigation-container, *+html #navigation-container {
	width: 849px; /*schwaecht ein bug im IE*/
}
*html #logo, *+html #logo { height: 178px; }