
.bg-primary {
    background-color: #C51718 !important;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 0 2px;
    border-radius: 5px;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #C51718;
    background-color: rgba(255, 255, 255, 1);
}

.navbar.navbar-dark .navbar-nav .nav-item.active .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar.navbar-dark .navbar-nav .nav-item.active .nav-link:focus {
    background-color: rgba(255, 255, 255, 0.8);
}
