body {
    font-size: 14px;
}

/* Make links red to fit the theme of tanzquotient */
a {
    color: #C51718;
}

a:hover {
    color: #9a1414;
}


/* Custom banner used for e.g. special events */
.list-group-item, .banner-container {
    overflow: hidden;
}

.banner {
    position: absolute;
    top: 20px;
    right: -70px;
    width: 200px;
    background-color: #C51718;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 8pt;
    padding: 2px;
    transform: rotate(45deg);
}

/* Make sure Django CMS toolbar does not overlap with nav bar*/
.cms-toolbar-expanded .navbar.sticky-top {
    top: 46px;
}