{% extends "basis.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content_title %}
    {% trans "Counter Payment" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>{% trans "Payment Details" %}</h2>
        <p>Please check the payment details.</p>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-sm-10">
                                <label for="name">{% trans "Name" %}</label>
                                <div id="name">{{ subscription.user.get_full_name }} </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label for="course">{% trans "Course" %}</label>
                                <div id="course">{{ subscription.course }} </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label for="course">{% trans "Amount" %}</label>
                                <div id="course">{{ subscription.get_price_to_pay }} CHF</div>
                            </div>
                        </div>

                        {% buttons %}
                            <div class="col-sm-10">

                                {% if not subscription.payed %}
                                    <button type="submit"
                                            class="btn btn-success">{% trans "Mark as Paid" %}</button>
                                {% else %}
                                    <button disabled=true
                                            class="btn btn-success">{% trans "Already Paid" %}</button>
                                {% endif %}
                            </div>

                        {% endbuttons %}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
