{% extends "basis_no_header.html" %}
{% load i18n %}

{% block title %}
    {{ course.type.title }}
{% endblock %}

{% block main_content %}
    <div class="container">
        {% include "payment/courses/snippets/course_info.html" %}
        <div class="my-3">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a class="nav-link active" href="#editor-de"
                       aria-controls="editor-de" role="tab"
                       data-bs-toggle="tab">{% trans "German" %}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#editor-en" aria-controls="editor-en"
                       role="tab" data-bs-toggle="tab">{% trans "English" %}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-3 border border-top-0">
                <div role="tabpanel" class="tab-pane active" id="editor-de">
                    {% include "payment/courses/snippets/course_description.html" with language="de" type_description=type_description_de description=description_de information_for_participants_teachers=information_for_participants_teachers_de %}
                </div>
                <div role="tabpanel" class="tab-pane" id="editor-en">
                    {% include "payment/courses/snippets/course_description.html" with language="en" type_description=type_description_en description=description_en information_for_participants_teachers=information_for_participants_teachers_en %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
