{% extends "basis.html" %}
{% load i18n %}


{% block lead_title %}
    {% trans "Course Management" %}
{% endblock %}

{% block main_content %}
    {% with course.payment_totals as payment_totals %}
        <div class="container">
            <h2 class="mb-0">{{ course.type.name }}</h2>
            {% if course.offering %}
                <div class="fs-5">{{ course.offering.name }} </div>
            {% endif %}
            <div class="my-2 fs-6">{{ course.format_teachers }}</div>
            <a class="my-2 btn btn-success btn-sm align-self-center" role="button" href="{% url 'courses:course_detail' course.id %}">
                <i class="fa-solid fa-eye"></i> {% trans "Show course page" %}
            </a>
            <div class="my-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link active" href="#editor-de" aria-controls="editor-de" role="tab" data-bs-toggle="tab">{% trans "German" %}</a>
                    </li>
                    <li  class="nav-item" role="presentation">
                        <a class="nav-link" href="#editor-en" aria-controls="editor-en" role="tab" data-bs-toggle="tab">{% trans "English" %}</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3 border border-top-0">
                    <div role="tabpanel" class="tab-pane active" id="editor-de">
                        {% include "payment/courses/snippets/course_description.html" with language="de" type_description=type_description_de description=description_de %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="editor-en">
                        {% include "payment/courses/snippets/course_description.html" with language="en" type_description=type_description_en description=description_en %}
                    </div>
                </div>
            </div>

            <h3>{% trans "Participants" %}</h3>

            <p>{% trans "Please mark the students that paid in the course in cash." %}</p>

            <p>
                {% trans "If you do not have internet access in the course room, you can download this list before:" %}
                <a href="{% url "payment:coursepayment_export" course.id %}">{% trans "Download Excel" %}</a>,
                <a href="{% url "payment:coursepayment_export_csv" course.id %}">{% trans "Download CSV" %}</a>
            </p>

            <p>
                {% trans "Additionally you can download the contact data of the participants here:" %}
                <a href="{% url "payment:coursepayment_export_vcard" course.id %}">{% trans "Download" %}</a>
            </p>

            <div class="d-block d-sm-none">
                <div class="card card-default">
                    <div class="card-header">
                        {% trans "Amount" %}
                        <small class="pull-right">
                            <strong>{% trans "Amount Due" %}</strong>
                        </small>
                    </div>
                    <div class="list-group">
                        {% for subscription in participatory %}
                            <a {% if not subscription.payed %}href=
                                   "{% url "payment:coursepayment_confirm" course.id subscription.usi %}"{% endif %}
                               class="list-group-item {% if subscription.payed %}disabled{% endif %}">
                                <h4 class="list-group-item-heading">
                                    {{ subscription.user.get_full_name }}
                                    <small>
                                        {{ subscription.usi }}
                                    </small>
                                    {% if subscription.payed %}
                                        <span class="badge bg-default pull-right">{{ subscription.paymentmethod }}</span>
                                    {% endif %}
                                </h4>

                                <p class="list-group-item-text">{{ subscription.get_user_email }}</p>
                                <p class="list-group-item-text">{{ subscription.get_price_to_pay }}
                                    CHF
                                    <small class="pull-right">{% if not subscription.paid %}
                                        <strong>{{ subscription.open_amount }} CHF</strong>{% else %}
                                        0 CHF{% endif %}
                                    </small>
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <p>{% trans "Total" %}</p>
                        <p>{{ payment_totals.paid }} CHF
                            <small class="pull-right">
                                <strong>{{ payment_totals.unpaid }} CHF</strong>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block">
                <div class="card card-default">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "USI" %}</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "E-Mail" %}</th>
                                <th>{% trans "Mobile" %}</th>
                                <th>{% trans "Amount" %}</th>
                                <th>{% trans "Amount Due" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscription in participatory %}
                                <tr>
                                    <td>{{ subscription.usi }}</td>
                                    <td>{{ subscription.user.get_full_name }}</td>
                                    <td>{{ subscription.get_user_email }}</td>
                                    <td>{{ subscription.get_user_mobile }}</td>
                                    <td>{{ subscription.get_price_to_pay }} CHF</td>
                                    <td>{% if not subscription.paid %}{{ subscription.open_amount }}{% else %}
                                        0{% endif %}
                                        CHF
                                    </td>
                                    <td>
                                        {% if not subscription.payed %}
                                            <a href="{% url "payment:coursepayment_confirm" course.id subscription.usi %}"
                                               class="btn btn-default btn-xs">{% trans "Pay" %}</a>
                                        {% else %}
                                            <span class="badge bg-default">{{ subscription.paymentmethod }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>{% trans "Total" %}:</th>
                                <th>{{ payment_totals.paid }} CHF</th>
                                <th>{{ payment_totals.unpaid }} CHF</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>{% trans "paid in course" %}:</th>
                                <th>{{ payment_totals.paid_course }} CHF</th>
                                <td></td>
                                <th></th>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <h4>{% trans "Payment Summary" %}</h4>
            <p>{{ payment_totals.paid_count }} {% trans "people already paid the course." %}</p>
            <p>{% trans "You should have" %} {{ payment_totals.paid_course }} CHF {% trans 'of collected money.' %}</p>

        </div>
    {% endwith %}
{% endblock main_content %}
