{% extends "basis.html" %}
{% load i18n %}

{% block lead_title %}
    {% trans "My Courses" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>{% trans "My Courses" %}</h2>
        {% include "payment/courses/snippets/teacher_courses_list.html" %}
        {% if user.is_staff %}
            <h2 class="mt-3">{% trans "All courses" %}</h2>
            {% include "payment/courses/snippets/teacher_courses_list.html" with show_all_courses=True %}
        {% endif %}
    </div>
{% endblock main_content %}


