{% extends "basis_no_header.html" %}
{% load i18n %}

{% block title %}
    {{ course.type.title }}
{% endblock %}

{% block main_content %}
    <div class="container">
        {% include "payment/courses/snippets/course_info.html" %}
        <h3 class="mt-4">{% trans "Participants" %}</h3>
        {% if not participatory %}
            <div class="alert alert-info my-3">{% trans "Participants will show up here, once they have been confirmed." %}</div>
        {% else %}
            <div class="my-3">
                {% include "user/snippets/participants_download.html" %}
            </div>
            <div class="d-block d-md-none">
                <div class="list-group">
                    {% for subscription in participatory %}
                        <div class="list-group-item">
                            <div><strong>{{ subscription.user.get_full_name }}</strong>
                            </div>
                            <div><a href="mailto:{{ subscription.user.email }}"
                                    class="">{{ subscription.user.email }}</a></div>
                            {% if subscription.user.profile.phone_number %}
                                <div>
                                    <a href="tel:{{ subscription.user.profile.phone_number }}">
                                        {{ subscription.user.profile.phone_number }}
                                    </a>
                                </div>
                            {% endif %}
                            {% if course.type.couple_course %}
                                <div class="mt-1">{% trans "Lead/Follow" %}: {{ subscription.get_assigned_role_str }}</div>
                                {% if subscription.partner %}
                                    <div>{% trans "Partner" %}: {{ subscription.get_partner_name }}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="d-none d-md-block">
                <table class="table">
                    <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "E-Mail" %}</th>
                        <th>{% trans "Mobile" %}</th>
                        {% if course.type.couple_course %}
                            <th>{% trans "Lead/Follow" %}</th>
                            <th>{% trans "Partner" %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for subscription in participatory %}
                        <tr>
                            <td>{{ subscription.user.get_full_name }}</td>
                            <td><a href="mailto:{{ subscription.user.email }}"
                                   class="">{{ subscription.user.email }}</a></td>
                            <td>
                                {% if subscription.user.profile.phone_number %}
                                     <a href="tel:{{ subscription.user.profile.phone_number }}">
                                        {{ subscription.user.profile.phone_number }}
                                    </a>
                                {% endif %}
                            </td>
                            {% if course.type.couple_course %}
                                <td>{{ subscription.get_assigned_role_str }}</td>
                                <td>
                                    {% if subscription.partner %}
                                        {{ subscription.get_partner_name }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock main_content %}
