{% extends "basis_no_header.html" %}
{% load i18n %}


{% block title %}
    {{ course.type.title }}
{% endblock %}

{% block main_content %}

    <div class="container">

        {% include "payment/courses/snippets/course_info.html" %}
        {% include "payment/courses/snippets/teacher_presence_messages.html" with messages=messages only %}
        {% include "payment/courses/snippets/teacher_presence_form.html" %}

        {% if not course.cancelled and not course.completed and perms.payment.change_payment %}
            {% include "finance/offering/teachers/snippets/mark_completed_modal.html" with offering=course.offering.id %}
        {% endif %}

    </div>

{% endblock main_content %}