{% extends "basis.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load sekizai_tags %}


{% block content_title %}
    {% trans "Course Management" %}
{% endblock %}

{% block main_content %}
    {% with course.payment_totals as payment_totals %}
        <div class="container">
            <h2>{{ course }}</h2>

            <h3>{% trans "Description" %}</h3>
            <form class="form-horizontal" role="form" action="{% url 'payment:coursepayment_detail' course.id %}"
                  method="post">
                {% csrf_token %}
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#editor-de" aria-controls="editor-de" role="tab"
                                                                  data-toggle="tab">{% trans "German" %}</a></li>
                        <li role="presentation"><a href="#editor-en" aria-controls="editor-en" role="tab"
                                                   data-toggle="tab">{% trans "English" %}</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="editor-de">
                            <textarea name="ckeditor-de" id="ckeditor-de" rows="20" cols="80">
                    {{ description_de|default:""|safe }}
                </textarea>

                            The description will be displayed together with this general course type information:
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{ type_description_de|default:"<no description>"|safe }}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="editor-en">
                            <textarea name="ckeditor-en" id="ckeditor-en" rows="20" cols="80">
                    {{ description_en|default:""|safe }}
                </textarea>
                            The description will be displayed together with this general course type information:
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{ type_description_en|default:"<no description>"|safe }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                {% addtoblock "js" %}
                    <script>
                        CKEDITOR.replace('ckeditor-de', {'height': 300});
                        CKEDITOR.replace('ckeditor-en', {'height': 300});
                    </script>
                {% endaddtoblock %}

                <button type="submit" class="btn btn-default" name="save" value="save">
                    Save
                </button>
                <span class="help-block">(You can save both language versions at once)</span>
            </form>

            <h3>{% trans "Participants" %}</h3>

            <p>{% trans "Please mark the students that paid in the course in cash." %}</p>

            <p>
                {% trans "If you do not have internet access in the course room, you can download this list before:" %}
                <a href="{% url "payment:coursepayment_export" course.id %}">{% trans "Download Excel" %}</a>,
                <a href="{% url "payment:coursepayment_export_csv" course.id %}">{% trans "Download CSV" %}</a>
            </p>

            <p>
                {% trans "Additionally you can download the contact data of the participants here:" %}
                <a href="{% url "payment:coursepayment_export_vcard" course.id %}">{% trans "Download" %}</a>
            </p>

            <div class="visible-xs">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% trans "Amount" %}
                        <small class="pull-right">
                            <strong>{% trans "Amount Due" %}</strong>
                        </small>
                    </div>
                    <div class="list-group">
                        {% for subscription in participatory|dictsort:"payed" %}
                            <a {% if not subscription.payed %}href=
                                   "{% url "payment:coursepayment_confirm" course.id subscription.usi %}"{% endif %}
                               class="list-group-item {% if subscription.payed %}disabled{% endif %}">
                                <h4 class="list-group-item-heading">
                                    {{ subscription.user.get_full_name }}
                                    <small>
                                        {{ subscription.usi }}
                                    </small>
                                    {% if subscription.payed %}
                                        <span class="label label-default pull-right">{{ subscription.paymentmethod }}</span>
                                    {% endif %}
                                </h4>

                                <p class="list-group-item-text">{{ subscription.get_user_email }}</p>
                                <p class="list-group-item-text">{{ subscription.get_price_to_pay }}
                                    CHF
                                    <small class="pull-right">{% if not subscription.payed %}
                                        <strong>{{ subscription.get_price_to_pay }} CHF</strong>{% else %}
                                        0 CHF{% endif %}
                                    </small>
                                </p>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="panel-footer">
                        <p>{% trans "Total" %}</p>
                        <p>{{ payment_totals.paid }} CHF
                            <small class="pull-right">
                                <strong>{{ payment_totals.unpaid }} CHF</strong>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="hidden-xs">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{% trans "USI" %}</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "E-Mail" %}</th>
                                <th>{% trans "Mobile" %}</th>
                                <th>{% trans "Amount" %}</th>
                                <th>{% trans "Amount Due" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscription in participatory|dictsort:"payed" %}
                                <tr>
                                    <td>{{ subscription.usi }}</td>
                                    <td>{{ subscription.user.get_full_name }}</td>
                                    <td>{{ subscription.get_user_email }}</td>
                                    <td>{{ subscription.get_user_mobile }}</td>
                                    <td>{{ subscription.get_price_to_pay }} CHF</td>
                                    <td>{% if not subscription.payed %}{{ subscription.get_price_to_pay }}{% else %}
                                        0{% endif %}
                                        CHF
                                    </td>
                                    <td>
                                        {% if not subscription.payed %}
                                            <a href="{% url "payment:coursepayment_confirm" course.id subscription.usi %}"
                                               class="btn btn-default btn-xs">{% trans "Pay" %}</a>
                                        {% else %}
                                            <span class="label label-default">{{ subscription.paymentmethod }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>{% trans "Total" %}:</th>
                                <th>{{ payment_totals.paid }} CHF</th>
                                <th>{{ payment_totals.unpaid }} CHF</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <th>{% trans "paid in course" %}:</th>
                                <th>{{ payment_totals.paid_course }} CHF</th>
                                <td></td>
                                <th></th>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <h4>{% trans "Payment Summary" %}</h4>
            <p>{{ payment_totals.paid_count }} {% trans "people already paid the course." %}</p>
            <p>{% trans "You should have" %} {{ payment_totals.paid_course }} CHF {% trans 'of collected money.' %}</p>

        </div>
    {% endwith %}
{% endblock main_content %}
