{% extends "basis.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load sekizai_tags %}

{% block content_title %}
    {% trans "My Courses" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>{% trans "Select Course" %}</h2>
        <p>{% trans "Please select the course you want to manage." %}</p>
        <div id="offering-tree"></div>
    </div>
    {% addtoblock "js" %}
        <script>
            function getTree() {
                return {{ tree|safe }};
            }
            $('#offering-tree').treeview({
                data: getTree(),
                enableLinks: true
            });
        </script>
    {% endaddtoblock %}
{% endblock main_content %}


