{% if rows %}
    <div class="table-responsive">
        <table class="table table-hover table-striped m-0 align-middle">
            {% if header %}
                <thead>
                <tr>
                    {% for value in header %}
                        <td class="text-nowrap"><strong>{{ value|linebreaksbr }}</strong></td>
                    {% endfor %}
                </tr>
                </thead>
            {% endif %}
            <tbody>
            {% for row in rows %}
                <tr>
                    {% for value in row %}
                        <td class="text-nowrap">{{ value|linebreaksbr }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}