{% extends "basis_no_header.html" %}
{% load i18n l10n humanize %}

{% block main_content %}
    <div class="container">
        <h2 class="mb-0">{% trans "Account transactions" %}</h2>
        <div class="fs-5">{{ month_name|default:'' }} {{ year|default:'' }}</div>

        <h3 class="mt-3">{% trans "Summary" %}</h3>
        <p>{% trans "with filters respected" %}</p>
        <table class="border table">
            <tbody>
            {% for k,v in summary.items %}
                <tr>
                    <th>{{ k }}</th>
                    <td class="text-end">{{ v|intcomma|localize }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3 class="mt-3">{% trans "Transaction list" %}</h3>
        {% trans "Show" %}
            {% if filter is True %}
                <a href="{% url "payment:account_finance_detail_view" %}?year={{ year }}&month={{ month }}">{% trans "with" %}</a>
            {% else %}
                <a href="{% url "payment:account_finance_detail_view" %}?year={{ year }}&month={{ month }}&filter=true">{% trans "without" %} </a>
            {% endif %}
        {% trans "subscription payments" %}

        <form method="post">
            {% csrf_token %}
        <div class="table-responsive mt-3">
            <table class="table border table-striped table-sm">
                <thead>
                <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Details" %}</th>
                    <th class="text-right">{% trans "Credit" %}</th>
                    <th class="text-right">{% trans "Debit" %}</th>
                    <th>{% trans "Comment" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in payments %}
                    <tr>
                        <td>{{ p.date|date:'d.m.Y'|localize  }}</td>
                        <td>
                            {{ p.type }}
                            <div class="text-muted small" style="max-width: 450px;">
                                {% if p.name %} <div class="text-truncate">{{ p.name }}</div> {% endif %}
                                {% if p.address %} <div class="text-truncate">{{ p.address }}</div> {% endif %}
                                {% if p.iban %} <div class="text-truncate">{{ p.iban }}</div> {% endif %}
                                {% if p.bic %} <div class="text-truncate">{{ p.bic }}</div> {% endif %}
                                {% if p.remittance_user_string %} <div>{{ p.remittance_user_string }}</div> {% endif %}
                            </div>

                        </td>
                        <td class="text-right">
                            {% if p.credit_debit == "credit" %}
                                {{ p.amount }} {{ p.currency_code }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if p.credit_debit == "debit" %}
                                {{ p.amount }} {{ p.currency_code }}
                            {% endif %}
                        </td>
                        <td>
                            <textarea class="form-control"  style="width: 100%;" name="comment-{{ p.id }}" id="comment-{{ p.id }}" rows="2">{{ p.comment|default:""|safe }}</textarea>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th><strong>{% trans "Total" %}</strong></th>
                    <th></th>
                    <th class="text-right">{{ total_credit|intcomma|localize }} CHF</th>
                    <th class="text-right">{{ total_debit|intcomma|localize }} CHF</th>
                    <th></th>
                </tr>
                </tfoot>

            </table>
        </div>

            <button type="submit" class="btn btn-success btn-sm">{% trans "Save Comments" %}</button>
        </form>
    </div>
{% endblock main_content %}
