{% extends "basis.html" %}
{% load i18n %}

{% block lead %}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h2>{% trans "Select period" %}</h2>
        <p>{% trans "Please period you want to show the transactions for." %}</p>
        <div class="card card-default">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                        <button type="submit" class="btn btn-success">
                            {% trans "Show transactions" %}
                        </button>
                </form>
            </div>
        </div>
    </div>
{% endblock main_content %}
