{% extends "basis_no_header.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    {{ course.type.title }}
{% endblock %}

{% block main_content %}
    <div class="container">
        {% load i18n %}
        <div class="row">
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="mb-2">
                    <h2 class="mb-0">
                        {% if not course.display %}
                            <span class="badge bg-info">{% trans "Preview" %}</span>{% endif %}
                        {{ course.type.title }}
                    </h2>
                    {% if course.type.subtitle %}
                        <div class="mt-1">
                            <em>{{ course.type.subtitle }}</em>
                        </div>
                    {% endif %}
                </div>
                <div class="d-none d-md-block">
                    {% include "courses/snippets/course_info.html" with disable_modals=True %}
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-9">
                <h4>{% trans "Sign Up" %}</h4>
                <div class="alert alert-info my-2 p-2 d-flex align-items-center" role="alert">
                    <div class="me-2">
                        <i class="bi bi-info-circle-fill"></i>
                    </div>
                    <div>
                        {% if user.profile.personal_data_sharing %}
                            {% trans "You currently agree to share your contact details. If your partner also agrees, we will share with them your full name, email and phone number (if provided) when this subscription is confirmed." %}
                        {% else %}
                            {% trans "You currently do not agree to share your contact details. For this subscription, your partner will only see your first name and initials of your last name." %}
                        {% endif %}
                        <a href="{% url 'edit_profile' %}">
                            <i class="bi bi-arrow-right-circle-fill"></i>
                            {% trans "You may change this in your user profile." %}
                        </a>
                    </div>
                </div>
                {% include "courses/snippets/subscribe_form.html" %}
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block scripts %}
    <script src="{% static "subscribe_form.js" %}"></script>
{% endblock %}