{% extends "basis.html" %}

{% load i18n %}

{% block title %}
    {{ course.type.title }}
{% endblock %}

{% block lead_title %}
    {% trans "Subscription" %}: {{ course.type.title }}
{% endblock %}

{% block main_content %}
    <div class="container">
        {% load i18n %}
        <div class="row">
            <div class="d-none d-sm-block col-sm-5 col-md-4 col-lg-3 mb-4">
                <div class="mb-2">
                    <h3 class="mb-0">
                        {% if not course.display %}<span class="badge bg-info">{% trans "Preview" %}</span>{% endif %}
                        {{ course.type.title }}
                    </h3>
                    {% if course.type.subtitle %}
                        <div class="mt-1">
                            <em>{{ course.type.subtitle }}</em>
                        </div>
                    {% endif %}
                </div>
                {% include "courses/snippets/course_info.html" with disable_modals=True %}
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                <div class="alert alert-{{ waiting_list|yesno:"info,success" }}">
                    <h4 class="alert-heading">
                        {% if waiting_list %}
                            {% trans "You joined the waiting list" %}
                        {% else %}
                            {% trans "You signed up successfully!" %}
                        {% endif %}
                    </h4>
                    <p>
                        {% if waiting_list %}
                            {% trans "Thank you for subscribing to this course." %}
                            {% trans 'Keep an eye on your "My Courses" page to know your position in the queue.' %}
                            {% trans "You can cancel your subscription as long as you are on the waiting list." %}
                            {% if subscription.partner %}
                                <br/>
                                {% trans "Since you signed up as a couple, your position on the waiting list depends on both leaders and followers queuing in front of you and your partner." %}
                            {% endif %}
                        {% else %}
                            {% trans "Thank you for subscribing to this course. The final confirmation will be sent out in the following days." %}
                        {% endif %}
                        
                    </p>
                    {% if subscription.course.type.couple_course %}
                        <hr>
                        <p>
                            <strong>{% trans "Your Role" %}</strong>
                            <br/>
                            {{ subscription.get_assigned_role_str }}
                        </p>
                        {% if subscription.partner %}
                            <p>
                                <strong>{% trans "Partner" %}</strong>
                                <br/>
                                {{ subscription.partner.get_full_name }}
                                <br/>
                                {% include "courses/snippets/user_contact.html" with user=subscription.partner only %}
                            </p>
                        {% endif %}
                    {% endif %}

                    <hr>
                    <p>
                        <a href="{% url 'user_courses' %}">
                            <i class="fa fa-arrow-circle-right"></i>
                            {% trans "Show all my courses" %}
                        </a>
                    </p>
                    <hr>
                    <p>
                        <a href="{% url 'courses:list' %}">
                            <i class="fa fa-arrow-circle-left"></i>
                            {% trans "Go back to the course list" %}
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock main_content %}
