{% extends "basis.html" %}
{% load i18n %}
{% load cms_tags %}

{% block lead_title %}
    {% trans "Courses" %}
{% endblock %}

{% block main_content %}
    <div class="container">
        {% include "courses/snippets/course_filter.html" with filter=filter only %}
        {% for o in offerings %}
            <p>
                {% include "courses/snippets/offering_components/offering.html" with offering=o.offering sections=o.sections user=user limit_per_section=o.offering.limit_courses_per_section only %}</p>
        {% empty %}
            &nbsp;
            <div class="alert alert-info">{% trans "No courses available" %}</div>
        {% endfor %}
        <h2>{% trans "Archive" %}</h2>
        <a href="{% url "courses:archive" %}">{% trans "Show past offerings" %}</a>
    </div>
{% endblock main_content %}
