{% extends "template_basic.html" %}

{% block lead %}
    <header id="header_courses">
        <div class="container">
            <div class="row">
                <h1 class="lead">Kurse</h1>
            </div>
        </div>
    </header>
{% endblock lead %}

{% block main_content %}
    <div class="container">
        {% for o in offerings %}
            <p>{% include "courses/snippets/offering.html" with offering=o.offering sections=o.sections only %}</p>
            {% empty %}
            <div class="alert alert-info">Keine Kurse verfügbar.</div>
        {% endfor %}
    </div>
{% endblock main_content %}
