{% extends "basis.html" %}

{% block lead %}
    <header id="header_courses">
        <div class="container">
            <div class="row">
                <h1 class="lead">Anmeldung</h1>
            </div>
        </div>
    </header>
{% endblock lead %}

{% block main_content %}
    <h2></h2>

    <div class="container">
        <a id="subscription"></a>

        <p>{% include "courses/snippets/detail.html" with course=course only %}</p>
        <p>{% include "courses/snippets/subscription_info.html" with course=course long=True only %}</p>
    </div>

    {% if course.is_subscription_allowed %}
        <div class="jumbotron">
            <div class="container">
                {% block user_form %}
                {% endblock user_form %}
            </div>
        </div>
    {% endif %}

{% endblock main_content %}
