{% extends "courses/subscription_template.html" %}

{% block user_form %}
    <h3>Anmeldung der {{ person }}. Person</h3>

    <form class="form-horizontal" role="form" action="{% url 'courses:subscription' course.id %}" method="post">
        {% csrf_token %}
        {% include "courses/snippets/user_form.html" with form=form only %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" name="subscribe_partner" value="Subscribe a partner">Mit
                    Partner anmelden
                </button>
                <button type="submit" class="btn btn-default" name="subscribe_alone" value="Subscribe alone">Ohne
                    Partner anmelden
                </button>
            </div>
        </div>
    </form>
{% endblock user_form %}
