{% load i18n %}

<div class="modal" tabindex="-1" id="confirmModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans "Are you sure?" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{% trans "Marking a course as completed will freeze its teachers presence form permanently." %}</p>
        </div>
        <div class="modal-footer">
            <div class="form-check me-auto">
                <input class="form-check-input" type="checkbox" value="" id="fill_empty_lessons">
                <label class="form-check-label" for="fill_empty_lessons">
                    {% trans "Fill empty lessons (if any) with main teachers" %}
                </label>
            </div>
            <br/>
            <div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="confirmBtn">{% trans "Yes, proceed" %}</button>
            </div>
        </div>
      </div>
    </div>
</div>


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        const completed_btns = document.querySelectorAll('.btn-completed');
        const modal = new bootstrap.Modal(document.getElementById('confirmModal'));

        let confirmationTarget = false;
        let confirmationCaller = false;

        document.getElementById('confirmModal').addEventListener('hide.bs.modal', event => {

            confirmationTarget = false;
            confirmationCaller = false;

        });
        
        completed_btns.forEach(btn => {

            btn.addEventListener('click', event => {
                
                confirmationTarget = btn.getAttribute('data-course-id');
                confirmationCaller = btn;
                modal.show();
    
            });
        });

        document.getElementById('confirmBtn').addEventListener('click', event => {

            fetch("{% url 'payment:offering_teachers' offering=offering %}", {

                method: "POST",

                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}",
                },

                body: JSON.stringify({
                    course: confirmationTarget,
                    fill_empty_lessons: document.getElementById('fill_empty_lessons').checked,
                }),

            })
            .then((response) => response.json())
            .then((json) => {

                if (json.result == "success"){
                    location.reload();
                }
            });

        });

    });
    
</script>