<div class="form-group has-feedback  {% if form.street.errors or form.plz.errors or form.city.errors %}has-error{% endif %}">
    <label for="{{ form.address.id_for_label }}" class="col-sm-2 control-label">Adresse*</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" id="{{ form.street.id_for_label }}" name="{{ form.street.html_name }}"
               placeholder="{{ form.street.label }}" value="{{ form.street.value|default:'' }}">
        {% if form.street.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.street %}
    </div>
    <div class="col-sm-3 col-sm-offset-2">
        <input type="text" class="form-control" id="{{ form.plz.id_for_label }}" name="{{ form.plz.html_name }}"
               placeholder="{{ form.plz.label }}" value="{{ form.plz.value|default:'' }}">
        {% if form.plz.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.plz %}
    </div>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="{{ form.city.id_for_label }}" name="{{ form.city.html_name }}"
               placeholder="{{ form.city.label }}" value="{{ form.city.value|default:'' }}">
        {% if form.city.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.city %}
    </div>
</div>