{% load i18n  %}

<div class="form-group has-feedback  {% if form.iban.errors or form.bank_name.errors or form.bank_zip_code.errors or form.bank_bank_city.errors or form.bank_country.errors %}has-error{% endif %}">
    <label for="{{ form.iban.id_for_label }}" class="col-sm-2 control-label">{%  trans "Bank Account" %}</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" id="{{ form.iban.id_for_label }}" name="{{ form.iban.html_name }}"
               placeholder="{{ form.iban.label }}" value="{{ form.iban.value|default:'' }}">
        {% if form.iban.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.iban %}
    </div>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="{{ form.bank_name.id_for_label }}"
               name="{{ form.bank_name.html_name }}"
               placeholder="{{ form.bank_name.label }}" value="{{ form.bank_name.value|default:'' }}">
        {% if form.bank_name.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.bank_name %}
    </div>
    <div class="col-sm-3 col-sm-offset-2">
        <input type="text" class="form-control" id="{{ form.bank_zip_code.id_for_label }}"
               name="{{ form.bank_zip_code.html_name }}"
               placeholder="{{ form.bank_zip_code.label }}" value="{{ form.bank_zip_code.value|default:'' }}">
        {% if form.bank_zip_code.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.bank_zip_code %}
    </div>
    <div class="col-sm-7">
        <input type="text" class="form-control" id="{{ form.bank_city.id_for_label }}"
               name="{{ form.bank_city.html_name }}"
               placeholder="{{ form.bank_city.label }}" value="{{ form.bank_city.value|default:'' }}">
        {% if form.bank_city.errors %}
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {% endif %}
        {% include "courses/snippets/field_errors.html" with field=form.bank_city %}
    </div>
</div>