{% load i18n %}
{% load sekizai_tags %}

<div class="modal fade" id="cancelSubscriptionModal"
     tabindex="-1" aria-hidden="true"
     aria-labelledby="cancelSubscriptionModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-reset" id="cancelSubscriptionModalLabel">{% trans "Are you sure?" %}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% blocktrans %}
                    By cancelling your subscription you give up your position in the queue.
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="cancel_subscription()">{% trans "Confirm" %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelCoupleModal"
     tabindex="-1" aria-hidden="true"
     aria-labelledby="cancelCoupleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-reset" id="cancelCoupleModalLabel">{% trans "Couple subscription" %}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% blocktrans %}
                    You signed up as a couple. Do you want to cancel your partner's subscription as well?
                {% endblocktrans %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="choose_partner_subscription_event(false)">{% trans "Cancel mine only" %}</button>
                <button type="button" class="btn btn-danger" onclick="choose_partner_subscription_event(true)">{% trans "Cancel both" %}</button>
            </div>
        </div>
    </div>
</div>

{% addtoblock "js" %}

    <script type="text/javascript">

        const cancelSubscriptionModal = new bootstrap.Modal(document.getElementById("cancelSubscriptionModal"));
        const cancelCoupleModal = new bootstrap.Modal(document.getElementById("cancelCoupleModal"));

        let courseToCancelId = 0;
        let cancel_partner = false;

        function cancel_subscription_trigger(course_id, couple_subscription)
        {
            courseToCancelId = course_id;
            if (couple_subscription)
                cancelCoupleModal.show();
            else
            {
                cancel_partner = false;
                cancelSubscriptionModal.show();
            }
        }

        function choose_partner_subscription_event(cancel_partner_choice)
        {
            cancel_partner = cancel_partner_choice;
            cancelCoupleModal.hide();
            cancelSubscriptionModal.show()
        }

        function cancel_subscription()
        {
            fetch("{% url "courses:cancel_subscription" %}", {

                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}",
                },
                body: JSON.stringify({
                    course_id: courseToCancelId,
                    cancel_partner: cancel_partner,
                }),

            })
            .then((response) => response.json())
            .then((json) => 
            {
                if (json.result == "success")
                    location.reload();
            });
        }

    </script>

{% endaddtoblock %}