{% load i18n %}
{% load sekizai_tags courses_tags %}

<div class="modal fade" id="cancelSubscriptionModal-{{ subscription.id }}"
     tabindex="-1" aria-hidden="true"
     aria-labelledby="cancelSubscriptionModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-reset" id="cancelSubscriptionModalLabel">{% trans "Are you sure?" %}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% trans "By cancelling your subscription you give up your position in the queue." %}
                {% if subscription|is_couple %}
                    <hr/>
                    {% trans "You signed up as a couple. Both your and your partner's subscriptions will be cancelled." %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url "courses:cancel_subscription" subscription.id %}" class="btn btn-danger">{% trans "Confirm" %}</a>
            </div>
        </div>
    </div>
</div>