{% load i18n courses_tags %}
<div>


    <strong>{% trans "Level" %}</strong>
    <p>{% include "courses/snippets/level.html" with level=course.type.level only %}</p>

    {% if course.type.styles.all %}
        <strong>{% trans "Styles" %}</strong>
        {% include "courses/snippets/styles_modal.html" with type=course.type disable_modals=disable_modals only %}
    {% endif %}

    {% if course.teaching.exists %}
        <strong>{% trans "Teachers" %}</strong>
        <br/>
        <p>
            {% include "courses/snippets/course_teachers.html" with display_link=True disable_modals=disable_modals teachings=course.teaching.all only %}
        </p>
    {% endif %}


    {% if course.rooms %}
        <strong>
            {% if course.rooms|length == 1 %}
                {% trans "Room" %}
            {% else %}
                {% trans "Rooms" %}
            {% endif %}
        </strong>
        <br/>
            {% for room in course.rooms %}
                {% include "courses/snippets/room_modal.html" with display_link=True disable_modals=disable_modals room=room only %}
                <br/>
            {% endfor %}
        <br/>
    {% endif %}

    {% if course.format_prices %}
        <strong>{% trans "Costs" %}</strong>
        <br/>
        <p>{{ course.format_prices|default:"-" }}</p>
    {% endif %}

    <strong>
        {% if course.room and course.rooms|length == 1 %}
            {% trans "Time" %}
        {% else %}
            {% trans "Time and room" %}
        {% endif %}
    </strong>
    <br/>
    {% course_lessons_detailed course=course %}
</div>