{% load i18n %}

<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="Course" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ course.type.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include "courses/snippets/course_info.html" with disable_modals=True %}
                <br/>
                <a href="{% url 'courses:course_detail' course.id %}">
                    <p>
                        <i class="fa fa-arrow-circle-right fa-lg"></i> {% trans "Go to course" %}
                    </p>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
