{% with teachers=course.teachers.all %}
    {% if teachers %}
        {% for teacher in teachers %}
            <a href="#" data-toggle="modal" data-target="#user_modal-{{ teacher.id }}">
                {{ teacher.get_full_name }}
            </a>
            {% if not forloop.last %}
                &amp;
            {% endif %}
        {% endfor %}
        {% for teacher in teachers %}
            {% include "courses/snippets/user_modal.html" with user=teacher only %}
        {% endfor %}
    {% endif %}
{% endwith %}