{% load i18n %}

{% if filter.styles.available.count > 0 %}
    <div>
        <div class="btn-group">
            {% include "courses/snippets/course_filter_button.html" with subscription_type=filter.subscription_type style_name="all" value="all" name=_("All styles") selected=filter.styles.selected %}
            {% for style in filter.styles.available %}
                {% include "courses/snippets/course_filter_button.html" with subscription_type=filter.subscription_type style_name=style.name value=style.name selected=filter.styles.selected %}
            {% endfor %}
            {% include "courses/snippets/course_filter_button.html" with subscription_type=filter.subscription_type style_name="other"  value="other" name=_("Other") selected=filter.styles.selected %}
        </div>
    </div>
{% endif %}