{% load i18n %}
{% load courses_tags %}
<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <h2 class="mb-0">
                {% if course.cancelled %}
                    <span class="badge bg-danger">{% trans "Cancelled" %}</span>
                {% elif not course.display %}
                    <span class="badge bg-info">{% trans "Preview" %}</span>
                {% endif %}    
                {{ course.type.title }}
            </h2>
            {% if course.type.subtitle %}
                <div class="mt-1">
                    <em>{{ course.type.subtitle }}</em>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        {% if not course.cancelled %}
            {% include "courses/snippets/subscription_info_detail.html" with course=course long=True display_link=True user=user %}
        {% endif %}
        {% include "courses/snippets/course_info.html" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
        <div>
            {% include "courses/snippets/info_to_participants.html" %}
        </div>
        <div>
            {% include "courses/snippets/course_description.html" %}
        </div>
        <div>
            {% course_reviews course user request %}
        </div>
    </div>
</div>
