{% load i18n %}


{% if course.information_for_participants_teachers or course.information_for_participants_admin or course.type.information_for_participants %}
    {% if user %}
        {% if user in course.participants or user in course.get_teachers or user.is_staff  %}
            <div>
                <h5>{% trans "Information to participants" %}</h5>
                {% if user.is_staff %}
                    <div class="alert alert-info">
                        {% trans "Note: this information is only visible to teachers and participants of this course." %}
                    </div>
                {% endif %}
                {% if course.type.information_for_participants %}
                    <div>{{ course.type.information_for_participants|safe }}</div>
                {% endif %}
                {% if course.information_for_participants_admin %}
                    <div>{{ course.information_for_participants_admin|safe }}</div>
                {% endif %}
                {% if course.information_for_participants_teachers %}
                    <div>{{ course.information_for_participants_teachers|safe }}</div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endif %}
