{% load courses_tags %}
{% load i18n %}

{% with regular=course.regular_lessons.all irregular=course.irregular_lessons.all %}

    {% if regular and irregular %}
        <u>{% trans "Regular lessons" %}:</u>
        <br/>
    {% endif %}

    {% if regular %}
        {% for lesson in regular %}
            {{ lesson.weekday|trans_weekday }}, {{ lesson.time_from|date:'H:i' }} - {{ lesson.time_to|date:'H:i' }}
            {% if not forloop.last %}
                <br/>
            {% endif %}
        {% endfor %}
        <br/>
        {% include "courses/snippets/period.html" with from=course.get_first_regular_lesson_date to=course.get_last_regular_lesson_date is_custom=course.is_custom_period only %}

        {% if course.get_not_cancelled_regular_lesson_exceptions %}
            <br/>
            <u>{% trans "Exceptions" %}:</u>
            <br/>
            {% include "courses/snippets/regular_lesson_exceptions.html" with display_link=display_link disable_modals=disable_modals exceptions=course.get_not_cancelled_regular_lesson_exceptions only %}
        {% endif %}

        {% if course.get_regular_lesson_cancellation_dates %}
            <br/>
            <u>{% trans "Cancellations" %}:</u>
            <br/>
            {% include "courses/snippets/course_cancellation.html" with cancellation_dates=course.get_regular_lesson_cancellation_dates only %}
        {% endif %}

    {% endif %}


    {% if regular and irregular %}
        <br/>
        <u>{% trans "Irregular lessons" %}:</u>
        <br/>
    {% endif %}

    {% if irregular %}
        {% for lesson in irregular %}
            {{ lesson.date|date:'D, d. N Y' }}, {{ lesson.time_from|date:'H:i' }} -
            {{ lesson.time_to|date:'H:i' }}
            {% if not forloop.last %}
                <br/>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not regular and not irregular %}
        {% if course.get_period %}
            {% include "courses/snippets/period.html" with from=course.get_period.date_from to=course.get_period.date_to is_custom=course.is_custom_period only %}
        {% else %}
            {% trans "Time unknown" %}
        {% endif %}
    {% endif %}

{% endwith %}
