<h2>{{ offering.name }} <small>{{ offering.period }}</small></h2>

<div class="hidden-xs">
	{% for d in weekday_list %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ d.weekday }}
		</div>

		<table class="table table-striped">
			{% if d.courses %}
				<thead>
					<tr>
						<th>Kurs</th>
						<th>Ort</th>
						<th>Zeit</th>
						<th>Kursperiode</th>
						<th>Preis</th>
						<th>Anmelden / Freie Plätze</th>
					</tr>
				</thead>
				<tbody>
				{% for c in d.courses %}
					<tr>
						<td><a href="{% url 'courses:subscription' c.id %}">{{ c.type.name }}</a></td>
						<td>
							{% if c.room %}
								{% include "courses/snippets/room.html" with room=c.room only %}
							{% else %}
								noch unbekannt
							{% endif %}
						</td>
						<td>{{ c.format_times|default:"noch unbekannt" }}</td>
						<td>{{ c.get_period }}</td>
						<td>{{ c.format_prices|default:"-" }}</td>
						<td>
							{% if c.is_subscription_allowed %}
								{% if c.get_free_places_count and c.get_free_places_count == 0 %}
									<em>Ausgebucht</em>
								{% else %}
									<a href="{% url 'courses:subscription' c.id %}#subscription">Anmelden </a>
									{% if c.get_free_places_count and c.get_free_places_count != 0 %}
										<span class="badge">{{ c.get_free_places_count }}</span>
									{% endif %}
								{% endif %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<div class="alert alert-info">Keine Kurse verfügbar.</div>
			{% endif %}
			</tbody>
		</table>
	</div>
	{% endfor %}
</div>

<div class="visible-xs">
	{% for d in weekday_list %}
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ d.weekday }}
		</div>
		{% if d.courses %}
			<div class="list-group">
				{% for c in d.courses %}
 					<a href="{% url 'courses:subscription' c.id %}" class="list-group-item">
						<h4 class="list-group-item-heading">
							{{ c.type.name }}
							{% if c.is_subscription_allowed %}
								{% if c.get_free_places_count and c.get_free_places_count == 0 %}
									<em>Ausgebucht</em>
								{% else %}
									{% if c.get_free_places_count and c.get_free_places_count != 0 %}
										<span class="badge">{{ c.get_free_places_count }}</span>
									{% endif %}
								{% endif %}
							{% endif %}
						</h4>
						<p class="list-group-item-text"><b>{{ c.format_times|default:"Zeit noch unbekannt" }}</b>, {{ c.room|default:"Raum noch unbekannt" }}</p>
						{% if c.period %}
							<p class="list-group-item-text">{{ c.get_period }}</p>
						{% endif %}
						<p class="list-group-item-text">Kosten: {{ c.format_prices|default:"-" }}</p>
					</a>
				{% endfor %}
			</div>
		{% else %}
			<div class="alert alert-info">Keine Kurse verfügbar.</div>
		{% endif %}
	</div>
	{% endfor %}
	
</div>
