{% load i18n %}
{% if not hide_title %}
    <h2>
        {% if offering.is_preview %}<span class="badge bg-info">{% trans "Preview" %}</span>{% endif %}
        {{ offering.name }}
    </h2>
    {% if offering.period %}
        <p>{{ offering.period.date_as_string }}</p>
    {% endif %}
{% endif %}


<div class="d-none d-sm-block">
    {% for d in sections %}
        <div class="card card-default mb-4">
            <div class="card-header">
                {{ d.section_title }}
            </div>

            <table class="table table-striped mb-0">
                {% if d.courses %}
                    <thead>
                    <tr>
                        <th>{% trans "Course" %}</th>
                        {% if offering.is_partner_offering %}
                            <th>{% trans "Partner" %}</th>
                        {% else %}
                            <th>{% trans "Location" %}</th>
                        {% endif %}
                        <th>{% trans "Time" %}</th>
                        <th>{% trans "Costs" %}</th>
                        {% if offering.is_partner_offering %}
                            <th>{% trans "External link" %}</th>
                        {% elif not hide_subscribtion %}
                            <th>{% trans "Status" %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in d.courses %}
                        <tr>
                            <td>
                                <a href="{% url 'courses:course_detail' c.id %}">
                                    {{ c.type.name }}
                                </a>
                            </td>
                            <td>
                                {% if offering.is_partner_offering %}
                                    {% if c.partner %}
                                        <a href="{{ c.partner.url }}" target="_blank">{{ c.partner.name }}</a>
                                    {% else %}
                                        {% trans "Not specified" %}
                                    {% endif %}
                                {% else %}
                                    {% if c.room %}
                                        {% include "courses/snippets/room_modal.html" with display_link=True room=c.room only %}
                                    {% else %}
                                        {% trans "Currently unknown" %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>{% include "courses/snippets/lessons.html" with course=c display_link=False only %}</td>
                            {% if not c.format_prices and offering.is_partner_offering %}
                                <td>{% trans "Unknown" %}</td>
                            {% else %}
                                <td>{{ c.format_prices|default:"-" }}</td>
                            {% endif %}
                            {% if not hide_subscribtion %}
                                <td>
                                    {% include "courses/snippets/subscription_info.html" with course=c display_link=True user=user only %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">{% trans "No courses available" %}</div>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>

<div class="d-block d-sm-none">
    {% for d in sections %}
        <div class="card card-default mb-4">
            <div class="card-header">
                {{ d.section_title }}
            </div>
            {% if d.courses %}
                <div class="list-group list-group-flush">
                    {% for c in d.courses %}
                        <a href="{% url 'courses:course_detail' c.id %}" class="list-group-item list-group-item-action">
                            <strong class="list-group-item-heading">
                                {{ c.type.name }}
                            </strong>
                            {% if not hide_subscribtion %}
                                <div>
                                    {% include "courses/snippets/subscription_info.html" with course=c user=user display_link=False only %}
                                </div>
                            {% endif %}
                            <div>
                                {% include "courses/snippets/lessons.html" with course=c  display_link=False only %}
                            </div>
                            {% if offering.is_partner_offering %}
                                {% if c.partner %}
                                    <div>{{ c.partner.name }}</div>
                                {% endif %}
                            {% else %}
                                {% if c.room %}
                                    <div>{{ c.room }}</div>
                                {% else %}
                                    <div>{% trans "Raum noch unbekannt" %}</div>
                                {% endif %}
                            {% endif %}
                            {% if c.format_prices %}
                                <div>{% trans "Costs" %}: {{ c.format_prices|default:"-" }}</div>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info">{% trans "No courses available" %}</div>
            {% endif %}
        </div>
    {% endfor %}

</div>
