{% load i18n %}
{% load tq_tags %}

{% if not hide_title %}
    <h2>
        {% if offering.preview %}
            <span class="badge bg-info">{% trans "Preview" %}</span>{% endif %}
        {{ offering.name }}
    </h2>
    <p>{{ offering.period.date_as_string }}</p>
{% endif %}


<div class="d-none d-sm-block">
    {% for d in sections %}
        <div class="card card-default mb-4">
            {% if d.section_title %}
                <div class="card-header">
                    {{ d.section_title }}
                </div>
            {% endif %}
            {% if d.courses %}
                <div class="collapse show collapse-{{ offering.id }}-{{ forloop.counter }}">
                    {% include "courses/snippets/offering_list_course_table.html" %}
                </div>
                {% if limit_per_section < d.courses|length %}
                    <div class="collapse show collapse-{{ offering.id }}-{{ forloop.counter }}">
                        <div class="p-2">
                            <a data-bs-toggle="collapse"
                               href=".collapse-{{ offering.id }}-{{ forloop.counter }}"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapse-{{ offering.id }}-{{ forloop.counter }}">
                                {% trans "Show more" %}
                            </a>
                        </div>
                    </div>
                    <div class="collapse collapse-{{ offering.id }}-{{ forloop.counter }}">
                        {% include "courses/snippets/offering_list_course_table.html" with limit_per_section=d.courses|length %}
                        <div class="p-2">
                            <a data-bs-toggle="collapse"
                               href=".collapse-{{ offering.id }}-{{ forloop.counter }}"
                               role="button"
                               aria-expanded="false"
                               aria-controls="collapse-{{ offering.id }}-{{ forloop.counter }}">
                                {% trans "Show less" %}
                            </a>
                        </div>

                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-info">{% trans "No courses available" %}</div>
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="d-block d-sm-none">
    {% for d in sections %}
        <div class="card card-default mb-4">
            {% if d.section_title %}
                <div class="card-header">
                    {{ d.section_title }}
                </div>
            {% endif %}
            {% if d.courses %}
                <div class="list-group list-group-flush">
                    {% collapsible_list items=d.courses limit=limit_per_section item_template="courses/snippets/offering_list_course_entry_div.html" %}
                </div>
            {% else %}
                <div class="alert alert-info">{% trans "No courses available" %}</div>
            {% endif %}
        </div>
    {% endfor %}

</div>
