{% load i18n %}

<a href="{% url 'courses:course_detail' item.id %}"
   class="list-group-item list-group-item-action">
    <div class="mb-1">
        <strong class="list-group-item-heading">
            {{ item.type.title }}
        </strong>
        {% if item.type.subtitle %}
            <div>
                <em>
                    {{ item.type.subtitle }}
                </em>
            </div>
        {% endif %}
    </div>
    {% if not hide_subscription_status %}
        <div class="mb-1">
            {% include "courses/snippets/subscription_info.html" with course=item user=user display_link=False only %}
        </div>
    {% endif %}
    <div class="mb-1">
        {% include "courses/snippets/lessons.html" with course=item  display_link=False only %}
    </div>
    {% if offering.is_partner_offering %}
        {% if item.partner %}
            <div class="mb-1">{{ item.partner.name }}</div>
        {% endif %}
    {% else %}
        <div class="mb-1">
            {% trans "Location" %}:
            {% if item.room %}
                {{ item.room }}
            {% else %}
                {% trans "Currently unknown" %}
            {% endif %}
        </div>
    {% endif %}
    {% if item.format_prices %}
        <div>{% trans "Costs" %}: {{ item.format_prices|default:"-" }}</div>
    {% endif %}
</a>