{% load i18n courses_tags %}

{% get_room_access_code room code_date as access_code %}
{% can_view_room_access_code access_code user course as can_view %}

{% if not access_code %}
    {% if user.is_staff or user in course.get_teachers %}
        <h3>{% trans "Room access code" %}</h3>
        <div class="alert alert-info">
            {% trans "No room access code is provided for the next lesson of this course." %}
            <hr/>
            <i>
                {% trans "You are seeing this message because you are a staff member or a teacher of this course." %}
                {% trans "You may ignore this if the room does not require an access code." %}
            </i>
            {% if perms.courses.change_room %}
                <a href="{% url 'admin:courses_room_change' room.pk %}">
                    {% trans "Go to the room admin page." %}
                </a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    {% if can_view %}
        {% show_restricted_room_access_code_alert access_code user course as show_alert %}
        <h3>{% trans "Room access code" %}</h3>
        {% if show_alert %}
            <div class="alert alert-info">
                {% if access_code.visibility == access_code.Visibility.TEACHERS %}
                    {% trans "The access code to the room is currently set to only be visible to staff and teachers of this course." %}
                {% elif access_code.visibility == access_code.Visibility.STAFF %}
                    {% trans "The access code to the room is currently set to only be visible to staff." %}
                {% endif %}
                {% if perms.courses.change_room %}
                    <a href="{% url 'admin:courses_room_change' access_code.room.pk %}">
                        {% trans "Go to the room admin page." %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <p>
            {% trans "Please use this code to enter the room:" %}
        </p>
        {% include "courses/snippets/room_access_code.html" with access_code=access_code %}
    {% endif %}
{% endif %}