{% load i18n %}

{% if display_link and not disable_modals and room.has_additional_info %}

    <!-- Button trigger modal -->
    <a href="#" data-toggle="modal" data-target="#modal_room-{{ room.id }}">{{ room.name }}</a>

    <!-- Modal -->
    <div class="modal fade" id="modal_room-{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="Room Info"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label_event-{{ room.id }}">
                        {{ room.name }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if room.description %}
                        {{ room.description|safe }}
                    {% endif %}
                    {% if room.address %}
                        <p>{{ room.address }}</p>
                    {% endif %}
                    {% if room.url %}
                        <p>{% include "snippets/map_link.html" with url=room.url only %}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
{% else %}
    {{ room.name }}
{% endif %}