{% load i18n sekizai_tags %}

<div class="text-center mt-2">
    {% if access_code.display_format == "plain" %}
        <code class="fs-3">
            {{ access_code.code }}
        </code>
    {% elif access_code.display_format == "qr" %}
        <div id="room_access_code_{{ access_code.pk }}" class="col-12 text-center"></div>
    {% endif %}
</div>

{% if access_code.display_format == "qr" %}
    {% addtoblock "css" %}
        <style>
            #room_access_code_{{ access_code.pk }} > img {
                margin: auto;
            }
        </style>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
        <script>
            new QRCode(
                document.getElementById('room_access_code_{{ access_code.pk }}'),
                {
                    text: "{{ access_code.code }}",
                    width: 256,
                    height: 256,
                    colorDark : '#000',
                    colorLight : '#fff',
                    correctLevel : QRCode.CorrectLevel.M
                }
            );
        </script>
    {% endaddtoblock %}
{% endif %}