{% load i18n %}
{% if songs %}
    <h4>{% trans "Playlist" %}</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Artist" %}</th>
            <th>{% trans "Length" %}</th>
            <th>{% trans "Tempo (TPM)" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>
                    {% if song.url_video %}
                        <a href="{{ song.url_video }}" target="_blank">{{ song.title }}</a>
                    {% else %}
                        {{ song.title }}
                    {% endif %}
                </td>
                <td>{{ song.artist|default:"-" }}</td>
                <td>{{ song.length|default:"-" }}</td>
                <td>{{ song.speed|default:"-" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

