{% for s in type.styles.all %}
	<!-- Button trigger modal -->
	<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#modalStyle-{{s.id}}">
	  {{ s.name }}
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="modalStyle-{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="Style Info" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel-{{s.id}}">{{ s.name }}</h4>
	      </div>
	      <div class="modal-body">
	      	{% if s.description %}
	        	<p>{{ s.description }}</p>
	        {% endif %}
	        {% if s.url_info %}
	        	<p><a href="{{ s.url_info }}" target=”_blank”>More Info</a></p>
	        {% endif %}
	        {% if s.url_video %}
	        	<p><a href="{{ s.url_video }}" target=”_blank”>Video</a></p>
	        {% endif %}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
{% endfor %}