{% if long %}
    <div class="alert alert-info">
{% endif %}
{% if course.open_class %}
    {% if long %}
        <div class="alert alert-info"><i class="fa fa-connectdevelop fa-lg"></i> <em>Open Class: </em>Für diesen
        Kurs kann man sich nicht hier anmelden.
    {% else %}
        <i class="fa fa-connectdevelop fa-lg"></i> Open Class
    {% endif %}
{% endif %}
{% if course.is_subscription_allowed %}
    {% if display_link %}
        <a href="{% url 'courses:subscription' course.id %}#subscription">Anmelden</a>
    {% endif %}
    <div class="subscription_info">
        {% with count=course.get_free_places_count show=course.show_free_places_count %}
            {% if course.type.couple_course %}
                {% if count != None %}
                    {% if count.man <= 0 %}
                        {% include "courses/snippets/subscription_info_waiting_list.html" with gender_icon='mars' gender_plural='Männer' %}
                    {% else %}
                        {% if show.man or course.men_needed %}
                            [ <i class="fa fa-mars"></i>
                        {% endif %}
                        {% if course.men_needed %}
                            gesucht
                        {% endif %}
                        {% if show.man %}
                            <span class="badge">{{ count.man }} frei</span>
                        {% endif %}
                        {% if show.man or course.men_needed %}
                            ]
                        {% endif %}
                    {% endif %}
                    {% if count.woman <= 0 %}
                        {% include "courses/snippets/subscription_info_waiting_list.html" with gender_icon='venus' gender_plural='Frauen' %}
                    {% else %}
                        {% if show.woman or course.women_needed %}
                            [
                        {% endif %}
                        <i class="fa fa-venus"></i>
                        {% if course.women_needed %}
                            gesucht
                        {% endif %}
                        {% if show.woman %}
                            <span class="badge">{{ count.woman }} frei</span>
                        {% endif %}
                        {% if show.woman or course.women_needed %}
                            ]
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if course.men_needed %}
                        {% include "courses/snippets/subscription_info_missing_gender.html" with gender_icon='mars' gender_singular='Mann' gender_plural='Männer' gender_op_singular='Frau' gender_op_plural='Frauen' %}
                    {% endif %}
                    {% if course.women_needed %}
                        {% include "courses/snippets/subscription_info_missing_gender.html" with gender_icon='venus' gender_singular='Frau' gender_plural='Frauen' gender_op_singular='Mann' gender_op_plural='Männer' %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if count != None %}
                    {% if show.total %}
                        <span class="badge">{{ count.total }} frei</span>
                    {% elif count.total <= 0 %}
                        <em>(Warteliste)</em>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endwith %}
    </div>
{% else %}
    {% if course.get_free_places_count != None and course.get_free_places_count <= 0 %}
        {% include "courses/snippets/subscription_info_overbooked.html" %}
    {% endif %}
{% endif %}
{% if long %}
    </div>
{% endif %}