{% load i18n courses_tags %}
{% if course.cancelled %}
    <span class="badge rounded-pill bg-danger">{% trans "Cancelled" %}</span>
{% elif course.is_open_class %}
    {# No subscription needed (thus no subscribe status shown) #}
    <i class="bi bi-gear-wide-connected"></i> {% trans "Open class" %}
{% elif course.is_external %} {# People can not subscribe here. #}
    {% if course.external_url and display_link %}
        <a href="{{ course.external_url }}" target="_blank">
            <i class="bi bi-box-arrow-up-right"></i>
        {% trans "External partner course" %}
        </a>
    {% else %}
        <i class="bi bi-box-arrow-up-right"></i> {% trans "External partner course" %}
    {% endif %}

{% else %}

    {# Regular case: subscription in general possible #}

    {# if the user is subscribed, inform them #}
    {% if course.id in user.profile.get_active_subscribed_course_ids %}
        <span class="badge rounded-pill bg-info">{% trans "Subscription received" %}</span>
        {% include "courses/snippets/participants_info.html" %}

    {# if the user is on the waiting list, inform them #}
    {% elif course.id in user.profile.get_waiting_list_course_ids %}
        <span class="badge rounded-pill bg-info">{% trans "On the waiting list" %}</span>
        {% include "courses/snippets/participants_info.html" %}

    {# the user is not subscribed/on the waiting list #}
    {# -> show sign-up options (if enabled) #}
    {% elif course.is_active or user.is_staff %}
        {% include "courses/snippets/participants_info.html" %}

    {% elif course.is_early_signup_enabled %}
        <span class="badge rounded-pill bg-secondary">{% trans "early sign-up" %}</span>
        {% include "courses/snippets/participants_info.html" %}

    {% elif course.offering.opens_soon %}
        <em>{% trans "Registration opens soon" %}</em>
    {% elif course.subscription_closed %}
        <em>{% trans "Registration closed" %}</em>
    {% endif %}
{% endif %}