{% load i18n %}
{% load static %}
{% load courses_tags %}
{% load sekizai_tags %}

<form action="{% url 'courses:subscribe' course.id %}" method="post" id="subscribeForm">
    {% csrf_token %}

    {% if course.type.couple_course %}
        {% addtoblock "css" %}
            <style>

                .couple_lead_selector:checked + label .waiting-list-badge {
                    background-color: var(--bs-dark);
                    color: var(--bs-warning);
                }

                .couple_lead_selector:not(:checked) + label .waiting-list-badge {
                    background-color: var(--bs-warning);
                    color: var(--bs-dark);
                }

            </style>
        {% endaddtoblock %}
        <div class="nav btn-group d-flex flex-nowrap" id="pills-tab" role="group">
            {% if course.partner_required_at_signup %}
                <div class="alert alert-info w-100 m-0 p-2" role="alert">
                    {% trans "For this course, you must sign up together with a partner." %}
                </div>
                <input type="radio" id="single_or_couple" name="single_or_couple" value="c" checked class="d-none" />
            {% else %}
                <input type="radio"
                    class="couple_lead_selector d-block btn-check{% if form.single_or_couple.value != 'c' %} active{% endif %}"
                    name="single_or_couple" value="s" id="single"
                    data-bs-toggle="pill" data-bs-target="#single-tab" role="tab"
                    aria-selected="{% if form.single_or_couple.value != 'c' %}true{% else %}false{% endif %}"
                    {% if form.single_or_couple.value != 'c' %} checked {% endif %} />
                <label class="btn btn-outline-{{ course.get_free_places_count|yesno:"success,warning" }}"
                    for="single">
                    <span class="d-flex align-items-baseline justify-content-center gap-1 flex-wrap">
                        <span>
                            {% trans "Without partner" %}
                        </span>
                        {% if not course.get_free_places_count %}
                            <span class="badge waiting-list-badge">
                                {% trans "Waiting list" %}
                            </span>
                        {% endif %}
                    </span>
                </label>

                <input type="radio"
                    class="couple_lead_selector btn-check d-block btn-check{% if form.single_or_couple.value == 'c' %} active{% endif %}"
                    name="single_or_couple" value="c" id="couple"
                    data-bs-toggle="pill" data-bs-target="#couple-tab" role="tab"
                    {% if form.single_or_couple.value == 'c' %} checked {% endif %} />
                <label class="btn btn-outline-{% if not course.has_free_places_for_leaders or not course.has_free_places_for_followers or course.get_free_places_count < 2 %}warning
                {% else %}success{% endif %}" for="couple">
                    <span class="d-flex align-items-baseline justify-content-center gap-1 flex-wrap">
                        {% trans "With partner" %}
                        {% if not course.has_free_places_for_leaders or not course.has_free_places_for_followers or course.get_free_places_count < 2 %}
                            <span
                                    class="badge waiting-list-badge">
                                {% trans "Waiting list" %}
                            </span>
                        {% endif %}
                    </span>
                </label>
            {% endif %}
        </div>

        <div class="tab-content" id="pills-tabContent">
            {% if not course.partner_required_at_signup %}
                <div class="tab-pane fade {% if form.single_or_couple.value != 'c' %} show active {% endif %}  mt-3"
                     id="single-tab" role="tabpanel" aria-labelledby="single">
                    <div>
                        <label class="form-label"><strong>{% trans "Do you want to lead or follow?" %}</strong></label>
                    </div>
                    
                    {% with id_suffix='s' %}
                        {% lead_follow_selector course=course show_waiting_list=True %}
                    {% endwith %}
                    
                    <div id="lead_follow_help" class="form-text">
                        <div class="alert alert-info my-2 p-2 d-flex align-items-center"
                            role="alert">
                            <div class="me-2">
                                <i class="bi bi-info-circle-fill"></i>
                            </div>
                            <div>
                                {% trans "Please note, that we will assign partners based on lead / follow preferences, not based on gender." %}
                                {% trans "If you indicate no preference, we will assign you a fixed role based on the number of leaders and followers signed up for this course." %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label class="form-label"><strong>{% trans "Student status" %}</strong></label>
                        {% include "courses/snippets/student_status_alert.html" %}
                    </div>
                </div>
            {% endif %}
            <div class="tab-pane fade {% if form.single_or_couple.value == 'c' or course.partner_required_at_signup %} show active {% endif %}  mt-3"
                 id="couple-tab" role="tabpanel" aria-labelledby="couple">
                <div>
                    <label class="form-label"><strong>{% trans "Within your couple, will you lead or follow?" %}</strong></label>
                </div>
                {% with id_suffix='c' %}
                    {% lead_follow_selector course=course show_waiting_list=False %}
                {% endwith %}
                <div class="mt-3">
                    <label for="partner_email"
                           class="form-label"><strong>{% trans "Email address of your partner" %}</strong></label>
                    <input type="email"
                           class="form-control {% if form.partner_email.errors %} is-invalid {% endif %}"
                           name="partner_email" id="partner_email"
                           {% if form.partner_email.value %}value="{{ form.partner_email.value }}"{% endif %}
                           aria-describedby="emailHelp">
                    {% for error in form.partner_email.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <div id="emailHelp"
                         class="form-text">{% trans "Provide the email address your partner used to register on this website." %}</div>
                </div>
                {% if past_partners %}
                    <div class="pt-1">
                        <div class="form-text">{% trans "Or select one of your past partners:" %}</div>
                        {% for name, email in past_partners %}
                            <a class="btn btn-sm btn-outline-success mb-1"
                            onclick="setEmailAddress('{{ email }}')">
                                {{ name }} ({{ email }})
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="mt-3">
                    <label class="form-label"><strong>{% trans "Student status" %}</strong></label>
                    {% include "courses/snippets/student_status_alert.html" %}
                    <div class="alert alert-warning mt-2" role="alert">
                        {% trans "Please tell your partner to check their student status in their profile, to make sure they can benefit from the reduced course fee." %}
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" id="lead_follow" name="lead_follow">
        {% addtoblock "js" %}
            <script>
                document.getElementById("subscribeForm").addEventListener("submit", function (e) {
                    const lead_follow = document.getElementById("lead_follow");
                    const single_or_couple = document.querySelector('input[name="single_or_couple"]:checked');
                    lead_follow.value = single_or_couple.value === 'c' ?
                        document.querySelector('input[name="lead_follow_c"]:checked').value :
                        document.querySelector('input[name="lead_follow_s"]:checked').value;
                });
            </script>
        {% endaddtoblock %}
    {% else %}
        <input type="hidden" id="single_or_couple" name="single_or_couple" value="s">
    {% endif %}

    {% if course.experience_mandatory %}
        <div class="mt-3">
            <label class="form-label" for="experience">
                <strong>{% trans "Experience" %}</strong>
            </label>
            <textarea
                    class="form-control {% if form.experience.errors %} is-invalid {% endif %}"
                    rows="4" required="required"
                    placeholder='{% trans "Briefly describe your dancing experience" %}'
                    name="experience" id="experience">{% if form.experience.value %}
                {{ form.experience.value }}{% endif %}</textarea>
            {% for error in form.experience.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="mt-3">
        <label class="form-label"
               for="comment"><strong>{% trans "Comment" %}</strong></label>
        <textarea class="form-control" rows="4"
                  placeholder='{% trans "Anything you want us to know?" %}'
                  name="comment" id="comment">{% if form.comment.value %}
            {{ form.comment.value }}{% endif %}</textarea>
    </div>

    <div class="mt-3">
        <div>
            <label><strong>{% trans "General terms and conditions" %}</strong></label>
        </div>
        <a href="
                {% if LANGUAGE_CODE == "de" %}{% static "elements/AGB_DE.pdf" %}{% else %}{% static "elements/GTC_EN.pdf" %}{% endif %}">
            <i class="bi bi-arrow-right-circle-fill"></i>
            {% trans "View the general terms and conditions" %}
        </a>
        <div class="form-check mt-2">
            <input class="form-check-input {% if form.general_terms.errors %} is-invalid {% endif %}"
                   type="checkbox" name="general_terms" id="general_terms"
                   required="required" {% if form.general_terms.value %}
                   checked {% endif %} >
            <label class="form-check-label" for="general_terms">
                {% trans "I accept the general terms and conditions." %}
            </label>
            <div class="invalid-feedback">
                {% trans "You must accept the general terms and conditions." %}
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
    </div>
</form>