{% load i18n %}
{% load static %}

<form action="{% url 'courses:subscribe' course.id %}" method="post">
    {% csrf_token %}

    {% if course.type.couple_course %}
        <div class="nav mt-4 btn-group" id="pills-tab" role="group">
            <input type="radio" class="btn-check" name="single_or_couple" value="s" id="single" data-bs-toggle="pill" data-bs-target="#single-tab"
                    {% if form.single_or_couple.value != 'c' %} checked {% endif %} />
            <label class="btn btn-outline-success" for="single">{% trans "Without partner" %}</label>
            <input type="radio" class="btn-check" name="single_or_couple" value="c" id="couple" data-bs-toggle="pill" data-bs-target="#couple-tab"
                    {% if form.single_or_couple.value == 'c' %} checked {% endif %}
                    {% comment  %}
                    If either leader or follower spots are fully booked, couples can not sign up anymore,
                    as one of them would subscribe as the fully booked role.
                    {% endcomment %}
                    {% if not course.has_free_places_for_leaders or not course.has_free_places_for_followers %} disabled {% endif %} />
            <label class="btn btn-outline-success" for="couple">{% trans "With partner" %}</label>
        </div>
        <div id="lead_follow_help" class="form-text">
            {% if not course.has_free_places_for_leaders %}
                <div class="text-info">{% trans "There are no spots available for leaders anymore. You can therefore only sign up as a follower (without a partner)." %}</div>
            {% endif %}
            {% if not course.has_free_places_for_followers %}
                <div class="text-info">{% trans "There are no spots available for followers anymore. You can therefore only sign up as a leader (without a partner)." %}</div>
            {% endif %}
        </div>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade {% if form.single_or_couple.value != 'c' %} show active {% endif %}  mt-4" id="single-tab" role="tabpanel" aria-labelledby="single">
                <div>
                    <label class="form-label"><strong>{% trans "Do you want to lead or follow?" %}</strong></label>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-6">
                        <div class="nav btn-group" role="group" aria-describedby="lead_follow_help">
                            <input type="radio" class="btn-check" name="lead_follow" value="l" id="lead"
                                    {% if form.lead_follow.value == 'l' %} checked {% endif %}
                                    {% if not course.has_free_places_for_leaders %} disabled {% endif %}>
                            <label class="btn {% if course.has_free_places_for_leaders %} btn-outline-success {% else %} btn-outline-secondary {% endif %}" for="lead">{% trans "Lead" %}</label>

                            <input type="radio" class="btn-check" name="lead_follow" value="n" id="no_preference"
                                    {% if form.lead_follow.value != 'l' and form.lead_follow.value != 'f' %} checked {% endif %}>
                            <label class="btn btn-outline-success" for="no_preference">{% trans "No preference" %}</label>

                            <input type="radio" class="btn-check" name="lead_follow" value="f" id="follow"
                                    {% if form.lead_follow.value == 'f' %} checked {% endif %}
                                    {% if not course.has_free_places_for_followers %} disabled {% endif %}>
                            <label class="btn {% if course.has_free_places_for_followers %} btn-outline-success {% else %} btn-outline-secondary {% endif %}" for="follow">{% trans "Follow" %}</label>
                        </div>
                    </div>
                </div>
                <div id="lead_follow_help" class="form-text">
                    {% if not course.has_free_places_for_leaders %}
                        <div class="text-warning">{% trans "There are no spots available for leaders anymore." %}</div>
                    {% endif %}
                    {% if not course.has_free_places_for_followers %}
                        <div class="text-warning">{% trans "There are no spots available for followers anymore." %}</div>
                    {% endif %}
                    <div>
                        {% trans "The leader is responsible for guiding the couple, the guided partner is referred to as the follower. In an old-fashioned setup gentlemen are leading and ladies are following." %}
                    </div>
                    <div>
                        {% trans "Please note, that we will assign partners based on lead / follow preferences, not based on gender." %}
                        {% trans "If you indicate no preference, we will assign you a fixed role based on the number of leaders and followers signed up for this course." %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade {% if form.single_or_couple.value == 'c' %} show active {% endif %}  mt-4" id="couple-tab" role="tabpanel" aria-labelledby="couple">
                <div>
                    <label for="partner_email" class="form-label"><strong>{% trans "Email address of your partner" %}</strong></label>
                    <input type="email" class="form-control {% if form.partner_email.errors %} is-invalid {% endif %}"
                           name="partner_email" id="partner_email" {% if form.partner_email.value %}value="{{ form.partner_email.value }}{% endif %}"
                           aria-describedby="emailHelp">
                    {% for error in form.partner_email.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <div id="emailHelp" class="form-text">{% trans "Provide the email address your partner used to register on this website." %}</div>
                </div>
            </div>
        </div>
    {% else %}
        <input type="hidden" id="single_or_couple" name="single_or_couple" value="s">
    {% endif %}

    <div class="mt-3">
        <label class="form-label" for="comment"><strong>{% trans "Comment" %}</strong></label>
        <textarea class="form-control" rows="4"
                  placeholder='{% trans "Anything else you want to tell us?" %}'
                  name="comment" id="comment">{% if form.comment.value %}{{ form.comment.value }}{% endif %}</textarea>
    </div>

    <div class="mt-3">
        <div>
            <label><strong>{% trans "General terms and conditions" %}</strong></label>
        </div>
        <a href="{% if LANGUAGE_CODE == "de" %}{% static "elements/AGB_DE.pdf" %}{% else %}{% static "elements/GTC_EN.pdf" %}{% endif %}">
            <i class="fa fa-arrow-circle-right"></i>
            {% trans "View the general terms and conditions" %}
        </a>
        <div class="form-check mt-2" >
            <input class="form-check-input {% if form.general_terms.errors %} is-invalid {% endif %}" type="checkbox" name="general_terms" id="general_terms" required="required" {% if form.general_terms.value %} checked {% endif %} >
            <label class="form-check-label" for="general_terms">
                {% trans "I accept the general terms and conditions." %}
            </label>
            <div class="invalid-feedback">
                {% trans "You must accept the general terms and conditions." %}
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %}</button>
    </div>
</form>