{% include "courses/snippets/field_label.html" %}
<div class="input-group has-validation">
    <input
            type="{% if type %}{{ type }}{% else %}text{% endif %}"
            class="form-control {% if field.errors %}is-invalid{% endif %}"
            {% if field.field.required %}required{% endif %}
            id="{{ field.id_for_label }}"
            name="{{ field.html_name }}"
            placeholder="{{ placeholder }}"
            value="{{ field.value|default:'' }}"/>
    {% include "courses/snippets/field_errors.html" %}
</div>
    {% if field.help_text %}
        <div class="form-text">{{ field.help_text }}</div>
    {% endif %}
