<!-- Modal -->
{% load i18n %}
<div class="modal fade" id="user_modal-{{ user.id }}" tabindex="-1" role="dialog"
     aria-labelledby="Profile"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="modal_label_profile-{{ user.id }}">
                    {% if use_full_name %}
                        {{ user.get_full_name }}
                    {% else %}
                        {{ user.profile.get_display_name }}
                    {% endif %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                {% if user.profile %}
                    <div class="d-flex flex-sm-row flex-column">
                        {% if user.profile.picture %}
                            <img class="avatar me-4"
                                 src="{{ user.profile.picture.url }}"
                                 alt="{{ user.profile.get_display_name }}">
                        {% endif %}
                        <div>
                            {% if user.profile.is_teacher or user.profile.is_board_member %}
                                {% if user.profile.is_teacher %}
                                    <h4>
                                        {% trans "Teacher" %}
                                    </h4>
                                    {% with user.profile.teaching_since as teaching_since %}
                                        {% if teaching_since %}
                                            <p>{% trans "Teaching for Tanzquotient since" %}: {{ teaching_since.year }}</p>
                                        {% endif %}
                                    {% endwith %}
                                    <p>{% trans "Courses taught for Tanzquotient" %}: {{ user.profile.courses_taught_count }}</p>
                                {% endif %}
                                {% if user.profile.is_board_member %}
                                    <h4 class="mb-2">{% trans "Board member" %}</h4>
                                    {% for function in user.functions.all %}
                                        <div class="mb-2">
                                            <div>
                                                <strong>{{ function.name }}</strong>
                                            </div>
                                            <div>
                                                {% trans "Contact" %}: <a
                                                    href="mailto:{{ function.email }}">{{ function.email }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{% trans "About" %}</h4>
                            {% if user.profile.about_me %}
                                <p>{{ user.profile.about_me|default:''|safe }}</p>
                            {% else %}
                                <p>{% trans "No info available" %} </p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
