{% include "courses/snippets/select.html" with field=form.nationality only %}
{% include "courses/snippets/select.html" with field=form.residence_permit only %}
{% include "courses/snippets/text_input.html" with field=form.ahv_number only %}
{% include "courses/snippets/text_input.html" with field=form.zemis_number only %}
{% include "courses/snippets/text_input.html" with field=form.iban only %}
{% include "courses/snippets/text_input.html" with field=form.bank_name only %}
{% include "courses/snippets/text_input.html" with field=form.bank_zip_code only %}
{% include "courses/snippets/text_input.html" with field=form.bank_city only %}
{% include "courses/snippets/select.html" with field=form.bank_country only %}