{% load i18n %}

{{ form.media }}

{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"><span aria-hidden="true"></span><span
                class="sr-only">{% trans "Close" %}</span></button>
        <strong>{% trans "Some inputs are invalid" %}</strong>
    </div>
{% endif %}

<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        {% include "courses/snippets/text_input.html" with field=form.first_name only %}
    </div>
    <div class="col">
        {% include "courses/snippets/text_input.html" with field=form.last_name only %}
    </div>
</div>
{% if is_teacher %}
    {% include "courses/snippets/text_input.html" with field=form.display_name only %}
{% endif %}

{% include "courses/snippets/gender_input.html" with field=form.gender_options custom_field=form.gender_custom_value only %}

{% if is_teacher or is_board_member %}
    {% include "courses/snippets/image_input.html" with field=form.picture only %}
    {% include "courses/snippets/generic_input.html" with field=form.about_me only %}
{% endif %}

{% include "courses/snippets/address_input.html" with form=form only %}
{% include "courses/snippets/text_input.html" with field=form.phone_number only %}
{% include "courses/snippets/student_status_input.html" with form=form only %}
{% include "courses/snippets/text_input.html" with field=form.body_height only %}
{% include "courses/snippets/generic_input.html" with field=form.birthdate only %}

{% if is_teacher %}
    {% include "courses/snippets/user_profile_form_payment.html" with form=form only %}
{% endif %}

{% include "courses/snippets/boolean_input.html" with field=form.newsletter only %}
{% include "courses/snippets/boolean_input.html" with field=form.get_involved only %}

{% if not is_teacher %}
    <div>
        <div>
            <p>
                <a role="button" data-bs-toggle="collapse" href="#collapsePayment" aria-expanded="false" aria-controls="collapsePayment">
                    {% trans "Add salary Payment Info (only required for teachers and helpers)" %}
                </a>
            </p>
        </div>
        <div class="collapse" id="collapsePayment">
            {% include "courses/snippets/user_profile_form_payment.html" with form=form only %}
        </div>
    </div>
{% endif %}
