{% load i18n %}
{% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"><span aria-hidden="true"></span><span
                class="sr-only">{% trans "Close" %}</span></button>
        <strong>{% trans "Some inputs are invalid" %}</strong>
    </div>
{% endif %}


{% include "courses/snippets/text_input.html" with field=form.legi only %}
{% include "courses/snippets/text_input.html" with field=form.body_height only %}
{% include "courses/snippets/text_input.html" with field=form.experience only %}
{% include "courses/snippets/text_area.html" with field=form.comment only %}

{% include "courses/snippets/boolean_input.html" with field=form.newsletter only %}
{% include "courses/snippets/boolean_input.html" with field=form.get_involved only %}
{% include "courses/snippets/boolean_input.html" with field=form.general_terms only %}
