{% load i18n %}
{% load courses_tags %}

{% with course|get_waiting_list_composition as waiting_list %}
    {% if waiting_list %}
        <div class="my-3">
            <div><strong>{% trans "Waiting list" %}</strong></div>
            <div>
                {% if waiting_list|length > 1 %}
                    {% trans "Currently there are:" %}
                {% else %}
                    {% trans "Currently there is:" %}
                {% endif %}
            </div>
            <ul>
                {% for text in waiting_list %}
                    {% if text %}
                        <li>{{ text }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}