{% load courses_tags %}
{% load i18n %}


{% with regular=course.regular_lessons.all irregular=course.irregular_lessons.all %}

    {% if regular and irregular %}
        <u>{% trans "Regular lessons" %}:</u> <br/>
    {% endif %}

    {% if regular %}
        <div>
            {% for lesson in regular %}
                <div>
                    {{ lesson.weekday|trans_weekday }}, {{ lesson.time_from|date:'H:i' }}
                    - {{ lesson.time_to|date:'H:i' }},
                    {% include "courses/snippets/period.html" with from=course.get_first_regular_lesson_date to=course.get_last_regular_lesson_date only %}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if regular and irregular %}
        <div>
            <u>{% trans "Irregular lessons" %}:</u>
        </div>
    {% endif %}

    {% if irregular %}
        {% for lesson in irregular %}
            {{ lesson.date|date:'D, d. N Y' }}, {{ lesson.time_from|date:'H:i' }} -
            {{ lesson.time_to|date:'H:i' }}
            {% if not forloop.last %}
                <br/>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not regular and not irregular %}
        {% if course.get_period %}
            {% include "courses/snippets/period.html" with from=course.get_period.date_from to=course.get_period.date_to only %}
        {% else %}
            {% trans "Time unknown" %}
        {% endif %}
    {% endif %}

{% endwith %}
