{% load analytical %}
<!DOCTYPE html>
{% load i18n %}
{% load url from future %}
{% load cms_tags sekizai_tags menu_tags %}

<html lang="de">

{% load staticfiles %}

<head>
    {% analytical_head_top %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>

    {% block meta %}{% endblock %}

    <link rel="shortcut icon" href="{% static "elements/favicon_small.png" %}">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="{% static "js/html5shiv.js" %}"></script>
	<script src="{% static "js/respond.min.js" %}"></script>
	<![endif]-->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% render_block "css" %}
    {% analytical_head_bottom %}
</head>

<body class="home">
{% analytical_body_top %}
{% cms_toolbar %}

{% block menu %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pages"><i
                        class="fa fa-bars"></i></button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#language"><i
                        class="fa fa-flag"></i></button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user"><i
                        class="fa fa-user"></i></button>
                <a class="navbar-brand" href="/"><img src="{% static "elements/logo_transparent.svg" %}" height="60px"
                                                      alt="TQ"></a>
            </div>
            <div class=" hidden-xs">
                <ul class="collapse navbar-collapse nav navbar-nav pull-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                    class="fa fa-user"></i> {{ user.first_name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'admin:index' %}"><span class="fa fa-cog fa-lg"></span> Admin
                                    area</a></li>
                                <li><a href="{% url 'courses:subscription_overview' %}"><span
                                        class="fa fa-bar-chart fa-lg"></span> Statistics</a></li>
                                <li><a href="{% url 'payment:counterpayment_index' %}"><span class="fa fa-money fa-lg"></span> Payment</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'userena_profile_detail' user.username %}"><span
                                        class="glyphicon glyphicon-user"></span>
                                    {% trans "View profile" %}</a>
                                </li>
                                <li><a href="{% url 'userena_signout' %}"><span class="fa fa-sign-out fa-lg"></span>
                                    Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'userena_signin' %}"><span class="glyphicon glyphicon-user"></span></a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="visible-xs">
                <ul class="collapse navbar-collapse nav navbar-nav pull-right" id="user">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'admin:index' %}"><span class="fa fa-cog fa-lg"></span> Admin
                            area</a></li>
                        <li><a href="{% url 'userena_profile_detail' user.username %}"><span
                                class="glyphicon glyphicon-user"></span>
                            {% trans "View profile" %}</a>
                        </li>
                        <li><a href="{% url 'userena_signout' %}"><span class="fa fa-sign-out fa-lg"></span>
                            Logout</a>
                        </li>
                    {% else %}
                        <li><a href="{% url 'userena_signin' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="collapse navbar-collapse nav navbar-nav pull-right" id="language">
                {% language_chooser %}
            </ul>
            <ul class="collapse navbar-collapse nav navbar-nav pull-right" id="pages">
                {% show_menu 0 1 0 1 'menu.html' %}
                <li><a
                        href="https://www.facebook.com/tanzquotient"> <span
                        class="fa fa-facebook-square fa-lg"></span></a></li>
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
{% endblock menu %}

{% block header %}
    <header id="header_{% page_attribute "slug" %}">
        <div class="container">
            <div class="row">
                {% block content_title %}
                    {% placeholder title or %}
                        <h1 class="lead">{% page_attribute "page_title" %}</h1>
                    {% endplaceholder %}
                {% endblock %}
            </div>
        </div>
    </header>
{% endblock header %}

{% block cms_content %}
{% endblock cms_content %}

{% block main_content %}
{% endblock main_content %}

<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 widget">
                    <h3 class="widget-title">Kontakt</h3>

                    <div class="widget-body">
                        {% include "snippets/contact_address.html" %}
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 widget">
                    <h3 class="widget-title">Folge uns</h3>

                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href="https://www.facebook.com/tanzquotient"><i
                                    class="fa fa-facebook fa-2"></i></a>
                            <a href="https://github.com/gitsimon/tq_website"><i class="fa fa-github fa-2"></i></a>
                        </p>
                    </div>
                    <br/>
                    <br/>
                    <br/>

                    <div class="widget-body">
                        Feedback zum Webauftritt bitte an
                        <a href="mailto:informatik@tq.vseth.ch">informatik@tq.vseth.ch</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 widget">
                    <h3 class="widget-title">Gebaut mit</h3>

                    <div class="widget-body">
                        <a href="https://www.djangoproject.com/">Django</a>
                        <br/>
                        <a href="http://www.django-cms.org/">Django CMS</a>
                        <br/>
                        <a href="http://getbootstrap.com/">Twitter Bootstrap</a>
                        <br/>
                        <a href="https://www.python.org/">Python</a>
                        <br/>
                        Design basiert auf Progressus von <a href="http://gettemplate.com/"
                                                             rel="designer">gettemplate</a>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 widget">
                    <h3 class="widget-title">Unterstützt vom</h3>

                    <div class="widget-body">
                        <a href="http://vseth.ch"><img src="{% static "elements/vseth_logo.png" %}"
                                                       class="img-responsive"
                                                       alt="Responsive image"></a>
                        <br/>
                        Der TQ ist eine Kommission des VSETH.
                    </div>
                </div>

            </div>
            <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-5 widget">
                    <div class="widget-body">
                        {% show_menu 0 1 0 1 'simple_menu.html' %}
                    </div>
                </div>

                <div class="col-md-2 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            {% if user.is_authenticated %}
                                <a href="{% url 'admin:index' %}"><span class="fa fa-cog fa-lg"></span> Admin area</a>|
                                <a href="{% url 'userena_signout' %}"><span class="fa fa-sign-out fa-lg"></span> Logout</a>
                            {% else %}
                                <a href="{% url 'userena_signin' %}">Login</a>
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="col-md-5 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2008 - 2015 Tanzquotient.
                        </p>
                    </div>
                </div>

            </div>
            <!-- /row of widgets -->
        </div>
    </div>

</footer>


<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{% static "js/headroom.min.js" %}"></script>
<script src="{% static "js/jQuery.headroom.min.js" %}"></script>
<script src="{% static "js/template.js" %}"></script>
{% block extra_js %}
{% endblock extra_js %}
{% render_block "js" %}
{% analytical_body_bottom %}
</body>
</html>
