{% extends "basis_no_header.html" %}
{% load i18n %}

{% block main_content %}
    <div class="container">
        <div class="p-sm-5 my-sm-5 my-3 p-1 bg-warning bg-opacity-25 rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">
                    {% block error_title %}
                        Server Error
                    {% endblock %}
                </h1>
                <p class="fs-4">
                    {% block error_message %}
                        Please contact us and report this issue!
                    {% endblock %}
                </p>
                <a href="/" class="btn btn-dark btn-lg me-2 mb-2" role="button">
                    <i class="bi bi-house-fill"></i> {% trans "Take Me Home" %}
                </a>
                <a href="mailto:informatik@tanzquotient.org" role="button" class="btn btn-warning btn-lg mb-2">
                    <i class="bi bi-bug-fill"></i> {% trans "Contact support" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}