{% load analytical %}

{% load i18n %}
{% load cms_tags sekizai_tags menu_tags %}

{% load static %}
{% load account %}
{% load basic_tags %}

<footer>
    <div class="bg-footer-light text-light mt-4 pt-4 pb-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4" bg-footer-light">

                <div class="col">
                    <div class="mb-3 fs-4 fw-bold">{% trans "Contact" %}</div>
                    <div>
                        <div>Tanzquotient</div>
                        <div>Kommission des VSETH & VSUZH</div>
                        <div>Universitätsstrasse 6</div>
                        <div>8092 Zürich</div>
                        <div><a class="text-light" href="mailto:kontakt@tanzquotient.org">kontakt@tanzquotient.org</a></div>
                    </div>
                </div>

                <div class="col ">
                    <div class="mb-3 fs-4 fw-bold">{% trans "Follow us" %}</div>

                    <div>
                        <p class="follow-me-icons">
                            <a class="text-light me-2 fs-2" href="https://www.facebook.com/tanzquotient" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a class="text-light me-2 fs-2" href="https://www.instagram.com/tanzquotient" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <!-- Having the whatsapp link here is fine, as it is public anyway --->
                            <a class="text-light me-2 fs-2" href="https://chat.whatsapp.com/EqPY67plOJaDW2UH5xGOY2" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                            <a class="text-light me-2 fs-2" href="https://github.com/tanzquotient/website" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </p>
                    </div>

                    <div>
                        {% trans "Please send website feedback to" %}
                        <a class="text-light" href="mailto:informatik@tanzquotient.org">informatik@tanzquotient.org</a>
                    </div>
                </div>

                <div class="col ">
                    <div class="mb-3 fs-4 fw-bold">{% trans "Built with" %}</div>

                    <div>
                        <div><a class="text-light" href="//www.djangoproject.com/">Django</a></div>
                        <div><a class="text-light" href="//www.django-cms.org/">Django CMS</a></div>
                        <div><a class="text-light" href="//getbootstrap.com/">Bootstrap</a></div>
                        <div><a class="text-light" href="//www.python.org/">Python</a></div>
                    </div>
                </div>

                <div class="col ">
                    <div class="mb-3 fs-4 fw-bold">{% trans "We are part of" %}</div>
                    <div class="row">
                        <div class="mb-4 col-7"><a href="https://vseth.ch"><img class="mg-fluid" src="{% static "elements/vseth_logo.svg" %}" alt="VSETH Logo"></a></div>
                        <div class="col-9"><a href="http://vsuzh.ch"><img class="mg-fluid" src="{% static "elements/vsuzh_logo.svg" %}" alt="VSUZH Logo"></a></div>
                    </div>
                </div>

            </div>
            <!-- /row of s -->
        </div>
    </div>

    <div class="bg-footer-dark">
        <div class="container py-2 text-light">
            <div class="d-flex flex-lg-row g-2 flex-column justify-content-between">

                <span class="my-1">
                    {% show_menu 0 1 0 1 'menu/bottom_menu.html' %}
                </span>

                <span class="my-1">
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <a class="text-light" href="{% url 'admin:index' %}">{% trans "Admin area" %}</a> &nbsp;|&nbsp;
                            {% endif %}
                            <a class="text-light" href="{% url 'account_logout' %}?next={{ request.path }}">{% trans "Logout" %}</a>
                        {% else %}
                            <a class="text-light" href="{% url 'account_login' %}?next={{ request.path }}">{% trans "Login" %}</a>
                        {% endif %}
                </span>

{#                <span>#}
{#                    {% trans "Version" %} {% git_head %}#}
{#                </span>#}

                <span class="my-1">Copyright &copy; 2008 - {% now "Y" %} Tanzquotient.</span>

            </div>
            <!-- /row of s -->
        </div>
    </div>

</footer>
