{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col-md-8">
  	<div class="jumbotron">
		<h1>TanzQuotient</h1>
		<p>Das ist das neue TQ Webinterface und wird stetig ausgebaut! Momentan ist es noch im beta-Status.</p>
			<a class="btn btn-primary btn-lg" role="button" href="{% url 'courses:list' %}">Ausprobieren</a>
		</p>
	</div>
  </div>
  <div class="col-md-4">
  	<h2>Nächstes Event</h2>
  	{% if event %}
  		<p><div class="list-group">{% include "events/snippets/event_list_entry.html" with event=event only %}</div></p>
  	{% endif %}
  	<p><a href="{% url 'events:events' %}">Alle Events</a> anzeigen.</p>
  	<h2>Tanzkurse</h2>
  	<p>Wir unterrichten viele verschiedene Stilrichtungen. Wirf einen Blick auf unser <a href="{% url 'courses:list' %}"> Kursangebot</a>.</p>
  </div>
</div>


{% endblock content %}
