{% extends "base.html" %}

{% block header %}
<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">Willkommen beim Tanzquotient</h1>
			<!-- <p class="tagline">Die neuen Kurse sind online!</p> -->
			<p>
				<a class="btn btn-action btn-lg" href="{% url 'courses:list' %}" role="button">Zu den Kursen</a>
				<a class="btn btn-default btn-lg" href="{% url 'events:events' %}" role="button">Zu den Events</a>
			</p>
		</div>
	</div>
</header>
{% endblock header %}

{% block content %}
<div class="container">
<div class="row">
	<div class="col-md-8">
		<h2>Let's dance!</h2>
		Das ganze Team des TQs heisst dich herzlich willkommen auf der brandneuen Webseite! Wir haben keinen Winterschlaf gemacht und für euch wieder ein breites Angebot zum Tanzen auf die Beine gestellt. So haben wir viele verschiedene Kurse parat, melde dich am besten gleich an (auch einzeln!).
		<br />
		Einige Events sind auch bereits organisiert. Speziell freuen wir uns natürlich auf die <strong>PBTQ-Party</strong>, wo du zu Livemusik von der Polyband tanzen kannst!
	</div>
	<div class="col-md-4">
		<h2>Nächste Events</h2>
		{% include "events/snippets/event_list_xs.html" with events=events only %}
		<p><a href="{% url 'events:events' %}">Alle Events</a> anzeigen.</p>
		<h2>Tanzkurse</h2>
		<p>Wir unterrichten viele verschiedene Stilrichtungen. Wirf einen Blick auf unser <a href="{% url 'courses:list' %}"> Kursangebot</a>.</p>
	</div>
</div>
</div>
{% endblock content %}
