<div>
    <div>
        <strong>{{ question.text }}</strong>
    </div>
    <div class="my-2">
        {% if question.type == 'c' %}
            {% include "survey/components/question_singlechoice.html" with question=question only %}
        {% elif question.type == 'cf' %}
            {% include "survey/components/question_singlechoice_freeform.html" with question=question only %}
        {% elif question.type == 'm' %}
            {% include "survey/components/question_multiplechoice.html" with question=question only %}
        {% elif question.type == 'mf' %}
            {% include "survey/components/question_multiplechoice_freeform.html" with question=question only %}
        {% elif question.type == 's' %}
            {% include "survey/components/question_scale.html" with question=question only %}
        {% elif question.type == 'f' %}
            {% include "survey/components/question_freeform.html" with question=question only %}
        {% endif %}
    </div>
    {% if question.note %}
        <div class="mb-2 text-muted">{{ question.note }}</div>
    {% endif %}
</div>


