<div>
    <div class="d-inline me-3">
        {{ question.scale.low }}
    </div>
    <div class="d-inline">
        {% for value in "12345" %}
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="{{ question.id }}" id="q{{ question.id }}-radio-{{ value }}" value="{{ value }}" autocomplete="off">
                <label class="form-check-label" for="q{{ question.id }}-radio-{{ value }}">{{ value }}</label>
            </div>
        {% endfor %}
    </div>
    <div class="d-inline">
        {{ question.scale.up }}
    </div>
</div>