{% load i18n courses_tags %}
<div>
    <div>
        <em>{% trans "This survey is about the following course:"%}</em>
    </div>

    <div class="mb-4 mt-2">
        <strong>{{ course.type.title }}</strong>
        {% if course.type.subtitle %}
            <br/>
            <em>{{ course.type.subtitle }}</em>
        {% endif %}
        <br/>
        {% course_lessons_detailed course=course %}
        <br/>
        {% trans "Teachers" %}:
        {% include "courses/snippets/course_teachers.html" with display_link=True disable_modals=True teachings=course.teaching.all only %}
    </div>
</div>


