{% extends "admin/base_site.html" %}

{% block content %}

<p>This action requires additional information:</p>

<form action="" method="post">
    {% csrf_token %}
    <p>
        {{ form }}
    </p>

    <input type="hidden" name="action" value="voucher_generation" />
    <input type="hidden" name="generate" value="1" />
    <input type="submit" value="Generate" id="generate-btn" />
</form>
<script>
  document.getElementById('generate-btn').addEventListener('click', function () {
    this.disabled = true;
    this.value = 'Generating…';
    this.form.submit();
  });
</script>

{% endblock %}