{% extends "basis.html" %}
{% load i18n %}

{% block lead_title %}
    {% trans "Offering Overview" %}
{% endblock %}

{% block main_content %}
    <h2></h2>

    <div class="container">
        <h2 class="mb-0">{{ offering.name }}</h2>
        {% if offering.period %}
            <div class="fs-5">{{ offering.period.date_as_string  }} </div>
        {% endif %}

        <p class="mt-2">
            {% trans "Download summary of this offering here:" %}
            <a href="{% url "courses:export_offering_summary" offering.pk %}">{% trans "Download Excel" %}</a>
        </p>

        <div class="card">
            <div class="card-header">
                {% trans "Subscriptions by course" %}
            </div>
            <div class="card-body">
                {% autoescape off %}
                    {{ place_chart }}
                {% endautoescape %}
            </div>
        </div>

        <p>{% include "courses/auth/offering_time_chart.html" with chart=time_chart %}</p>
    </div>

{% endblock main_content %}
