{% load basic_tags %}

{% autoescape off %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var y = [{{ chart.labels|fence:"'"|join:"," }}];
        var trace1 = {
            y: y,
            x: [{{ chart.series_confirmed|join:"," }}],
            orientation: 'h',
            name: 'Confirmed',
            type: 'bar',
            marker: {
                color: '#c51f1b',
            },
        };

        var trace2 = {
            y: y,
            x: [{{ chart.series_leaders|join:"," }}],
            orientation: 'h',
            name: 'Leaders',
            type: 'bar',
            marker: {
                color: '#99ccff',
            },
        };

        var trace3 = {
            y: y,
            x: [{{ chart.series_followers|join:"," }}],
            orientation: 'h',
            name: 'Followers',
            type: 'bar',
            marker: {
                color: '#00ff99',
            },
        };

        var trace4 = {
            y: y,
            x: [{{ chart.series_no_preference|join:"," }}],
            orientation: 'h',
            name: 'No Lead/Follow Preference',
            type: 'bar',
            marker: {
                color: '#fffb00',
            },
        };

        var trace5 = {
            y: y,
            x: [{{ chart.series_free|join:"," }}],
            orientation: 'h',
            name: 'Free',
            type: 'bar',
            marker: {
                color: 'rgba(200,200,200,0.5)',
            },
        };

        var data = [trace1, trace2, trace3, trace4, trace5];

        var layout = {
            title: 'Subscription state',
            autosize: true,
            height: {{ chart.height }},
            barmode: 'stack',
            margin: {
                l: 150,
                b: 40,
                t: 50,
            },
            xaxis1: {
                title: 'places',
                autorange: false,
                range: [0, 35],
                domain: [0, 1],
                zeroline: true,
                showline: false,
                showticklabels: true,
                showgrid: true,
                dtick: 5,
            },
        };

        Plotly.newPlot(document.getElementById('chart-place-{{ offering.id }}'), data, layout);
    });
</script>
{% endautoescape %}
<div class="chart" id="chart-place-{{ offering.id }}"></div>

