{% load i18n %}

<div class="row row-cols-1 row-cols-lg-2 g-3 mb-4">
    {% for chart in charts %}
        <div class="col">

            <div class="card">
                <div class="card-header">
                    {{ chart.title }}
                </div>
                <div class="card-body">
                    {% autoescape off %}
                        {{ chart.figure }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
