{% load basic_tags %}

{% autoescape off %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        {% for trace in chart.traces %}
            var trace{{ forloop.counter }} = {
                type: 'scatter',
                name: '{{ trace.name }}',
                x: [{{ trace.x|fence:"'"|join:"," }}],
                y: [{{ trace.y|join:"," }}],
                line: {shape: 'spline'},
                mode: 'lines',
            };
        {% endfor %}

        var trace_total = {
            type: 'scatter',
            name: 'TOTAL',
            x: [{{ chart.trace_total.x|fence:"'"|join:"," }}],
            y: [{{ chart.trace_total.y|join:"," }}],
            yaxis: 'y2',
            line: {shape: 'spline', color: '#000', width: 4,},
            mode: 'lines',
        };


        var data = [{% for trace in chart.traces %}trace{{ forloop.counter }},{% endfor %} trace_total];

        var layout = {
            title: 'Timeline',
            height: 800,
            xaxis: {
                title: 'date',
                type: 'date',
            },
            yaxis: {
                title: 'individual course subscriptions',
            },
            yaxis2: {
                title: 'TOTAL subscriptions',
                side: 'right',
                overlaying: 'y',
            },
            legend: {
                x: -0.2,
                xanchor: 'right',
                traceorder:"reversed",
            }
        };

        Plotly.newPlot(document.getElementById('chart-time-{{ offering.id }}'), data, layout);
    });
</script>
{% endautoescape %}
<div class="chart" id="chart-time-{{ offering.id }}"></div>

