{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <h1>{% trans "Profile of" %} {{ request.user.get_full_name }} {% if gender_icon %}
        <i class="fa fa-{{ gender_icon }} fa"></i>{% endif %}</h1>

    {% url 'account_email' as account_email %}
    <p>{% blocktrans %}<a href="{{ account_email }}">Manage your email addresses <i
            class="fa fa-arrow-circle-right fa-lg"></i></a>{% endblocktrans %}
    </p>

    {% url 'change_password' as change_password %}
    <p>{% blocktrans %}<a href="{{ change_password }}">Change your password <i
            class="fa fa-arrow-circle-right fa-lg"></i></a>{% endblocktrans %}
    </p>

    {% if not is_profile_complete and not form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Please complete your profile!</strong>
            <p>Currently missing:</p>
            <ul>
                {% for missing in profile_missing_values %}
                    <li>{{ missing }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <form role="form" id="signup_form" method="post" action="{% url 'auth_profile' %}">
        {% csrf_token %}

        {% include "courses/snippets/user_profile_form.html" with form=form is_teacher=is_teacher only %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    {% trans "Update Profile" %}
                </button>
            </div>
        </div>
    </form>

{% endblock %}
