{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <h1>{% trans "Edit profile" %}</h1>
    {% url 'profile' as auth_profile %}
    <p><a href="{{ auth_profile }}"><i class="fa fa-arrow-circle-left fa-lg"></i> {% trans "Back to profile" %}</a>

    {% if not is_profile_complete and not form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Please complete your profile!</strong>
            <p>Currently missing:</p>
            <ul>
                {% for missing in profile_missing_values %}
                    <li>{{ missing }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <form role="form" enctype="multipart/form-data" id="signup_form" method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}

        {% include "courses/snippets/user_profile_form.html" with form=form is_teacher=is_teacher is_board_member=is_board_member only %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    {% trans "Update Profile" %}
                </button>
            </div>
        </div>
    </form>

{% endblock %}
