{% load basic_tags %}

{% autoescape off %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var data = [{
            values: [{{ chart.ETH_count }}, {{ chart.UZH_count }}, {{ chart.PH_count }}, {{ chart.other_count }}, {{ chart.no_count }}],
            labels: ['ETH', 'UZH', 'PH', 'other', 'no'],
            type: 'pie'
        }];
        
        var layout = {
            title: 'Subscriptions by university',
            autosize: true,
        };

        Plotly.newPlot(document.getElementById('chart-universities'), data, layout);
    });
</script>
{% endautoescape %}
<div class="chart" id="chart-universities"></div>
