{% extends "base.html" %}

{% block content_title %}
    <h1 class="lead">Subscription Overview</h1>
{% endblock %}

{% block main_content %}
    <h2></h2>

    <div class="container">
        {% for o in offering_charts %}
            <h2>{{ o.offering.name }}
                <small>{{ o.offering.period|default:'' }}
                </small>
            </h2>
            <a href="{% url "courses:offering_overview" o.offering.id %}">(all details)</a>
            <p>{% include "courses/auth/offering_place_chart.html" with chart=o.place_chart offering=o.offering only %}</p>
            {% empty %}
            <div class="alert alert-info">Keine Kurse verfügbar.</div>
        {% endfor %}


        <h3>All Offerings</h3>
        <ul>
            {% for o in all_offerings %}
                <li><a href="{% url "courses:offering_overview" o.id %}">{{ o.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock main_content %}
