{% extends "basis_no_header.html" %}
{% load i18n %}

{% block main_content %}
    <div class="container-fluid mt-4">
        <h2 class="mb-0">{{ offering.name }}</h2>
        <div class="fs-5">{{ offering.period.date_as_string }} </div>

        {% include "finance/offering/common/tabs.html" %}
        <div class="tab-content border table-responsive border-top-0 border-bottom-0">
            {% block finance_content %}
            {% endblock %}
        </div>
    </div>
{% endblock main_content %}
