{% load static %}
{% load cms_tags menu_tags %}
{% load i18n %}
{% load account %}

<ul class="navbar-nav expanded-menu">

    <!-- Pages -->
    {% show_menu 0 1 0 1 'menu/pages.html' %}


    <!-- Languages -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% get_current_language as LANGUAGE_CODE %}
            <i class="fa-solid fa-globe"></i>  {{ LANGUAGE_CODE|upper }}
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% language_chooser 'menu/desktop_language_chooser.html' %}
        </div>
    </li>

    <!-- User dropdown -->
    {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-user"></i> {% user_display user %}
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% include "menu/desktop_user_menu.html" %}
            </div>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}">{% trans "Log in" %}</a>
        </li>
    {% endif %}
</ul>
