{% load cms_tags sekizai_tags menu_tags %}
{% load i18n %}

{% if user.is_staff %}
    <a class="dropdown-item" href="{% url 'admin:index' %}">
        <span class="bi bi-gear-fill"></span> {% trans "Admin area" %}
    </a>
    <a class="dropdown-item" href="{% url 'courses:subscription_overview' %}">
        <span class="bi bi-clipboard-data-fill"></span> {% trans "Course statistics" %}
    </a>
        <a class="dropdown-item" href="{% url 'courses:teachers_overview' %}">
        <i class="bi bi-person-workspace"></i> {% trans "Teachers overview" %}
    </a>
    <a class="dropdown-item" href="{% url 'survey:overview' %}">
        <span class="bi bi-bar-chart-fill"></span> {% trans "Surveys" %}
    </a>
{% endif %}
{% if not user.is_staff and user.profile.is_teacher %}
    <a class="dropdown-item" href="{% url 'survey:overview_as_teacher' %}">
        <span class="bi bi-bar-chart-fill"></span> {% trans "Surveys" %}
    </a>
{% endif %}
{% if user.is_staff or user.profile.is_teacher %}
    <a class="dropdown-item" href="{% url 'payment:courses_as_teacher_list' %}">
        <span class="bi bi-journals"></span> {% trans "Courses as teacher" %}
    </a>
{% endif %}
{% if user.is_superuser or perms.courses.access_counterpayment %}
    <a class="dropdown-item" href="{% url 'payment:counterpayment_index' %}">
        <span class="fbi bi-cash-coin"></span> {% trans "Counter payment" %}
    </a>
{% endif %}
{% if user.is_superuser or perms.payment.change_payment %}
    <a class="dropdown-item" href="{% url 'payment:offering_finance_index_view' %}">
        <span class="bi bi-credit-card-fill"></span> {% trans "Offering finance" %}
    </a>
    <a class="dropdown-item" href="{% url 'payment:account_finance_index_view' %}">
        <span class="bi bi-credit-card-fill"></span> {% trans "Account finance" %}
    </a>
{% endif %}
{% if user.is_staff or user.profile.is_teacher or perms.courses.access_counterpayment %}
    <div class="dropdown-divider"></div>
{% endif %}
<a class="dropdown-item" href="{% url 'user_courses' %}">
    <i class="bi bi-list-check"></i> {% trans "My Courses" %}
</a>
<a class="dropdown-item" href="{% url 'profile' %}">
    <i class="bi bi-person-circle"></i> {% trans "Profile" %}
</a>
<a class="dropdown-item" href="{% url 'account_logout' %}?next={{ request.path }}">
    <i class="bi bi-box-arrow-right"></i> {% trans "Logout" %}
</a>
