{% load static %}
{% load cms_tags menu_tags %}
{% load i18n %}
{% load account %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-tanzquotient">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static "elements/tanzquotient.svg" %}" width="150px" alt="Tanzquotient">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu-content"
                aria-controls="menu-content"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu-content">

            <span class="w-100"></span>

            <div class="d-none d-lg-block">
                {% include "menu/expanded_menu.html" %}
            </div>
            <div class="d-block d-lg-none">
                {% include "menu/collapsed_menu.html" %}
            </div>


        </div>
    </div>
</nav>