{% load cms_tags sekizai_tags menu_tags %}
{% load i18n %}

{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_courses' %}">
            {% trans "My Courses" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">
            {% trans "Profile" %}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}?next={{ request.path }}">
            {% trans "Logout" %}
        </a>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}">
            {% trans "Log in" %}
        </a>
    </li>
{% endif %}
