{% load static %}
{% load cms_tags menu_tags %}
{% load i18n %}
{% load account %}


<div class="row collapse-menu text-white mt-4">
    <div class="col-6">
        <div class="title">{% trans "Pages" %}</div>
        <ul class="navbar-nav">
            {% show_menu 0 1 0 1 'menu/pages.html' %}
        </ul>
    </div>
    <div class="col-6">
        <div class="title">{% trans "Account" %}</div>
        <ul class="navbar-nav">
            {% include 'menu/mobile_user_menu.html' %}
        </ul>
        {% if user.is_staff or user.profile.is_teacher %}
            <div class="title">{% trans "Internal" %}</div>
            <ul class="navbar-nav">
                {% include 'menu/mobile_admin_menu.html' %}
            </ul>
        {% endif %}
        {% include 'menu/mobile_colortheme_language_chooser.html' %}
    </div>

</div>
