{% load i18n %}

<div>
    {% if item.special %}
        <span class="banner">
            <i class="fa fa-star fa-lg"></i> {% trans "Special" %}
        </span>
    {% endif %}
    <strong class="list-group-item-heading">
        {{ item.name }}
    </strong>
    <div>{{ item.date|date:'D, d. N Y' }}, {{ item.time_from|date:'H:i' }}- {{ item.time_to|date:'H:i' }}</div>
    <div>
        {% if item.room %}
            {{ item.room }}
        {% else %}
            {% trans "Venue not yet set" %}
        {% endif %}
    </div>
    <div>
        {% if item.price %}
            {% trans "Costs" %}: {{ item.price }}
        {% else %}
            {% trans "Free of charge" %}
        {% endif %}
    </div>
</div>