{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
	<header id="header_about">
		<div class="container">
			<div class="row">
				<h1 class="lead">Über uns</h1>
			</div>
		</div>
	</header>
{% endblock header %}

{% block content %}


<div class="container">
	<div class="row">
		<!-- Article main content -->
		<article class="col-sm-9 maincontent">
			<h2>Unser Ziel</h2>
			<p>
				Das Tanzangebot in Zürich ist gross, leider passt es aber nicht immer in das Studentenbudget. Deshalb entstand die Idee, den "Tanzquotient" zu gründen und das Tanzen unter den Studierenden gezielt zu fördern, zu erschwinglichen Preisen. Seit Frühling 2008 sind wir eine Kommission des VSETH und konnten im Sommer 2008 unsere ersten Intensiv-Workshops und Tanzabende durchführen. Die trotz Ferien- und Prüfungszeit gut gefüllten Kurse bestätigten, dass eine Nachfrage nach einem breiten Tanzangebot da ist.
			</p>
			<p>
				Mittlerweise sind wir stark gewachsen und haben über 20 Tanzkurse im Programm, dazu bieten wir freie Trainings an und organisieren Tanzanlässe. Aber auch andere studentische Tanzvorhaben wie Showgruppen oder Turniertanz werden soweit möglich gefördert. Insbesondere wollen wir auch den gesellschaftliche Aspekt des Tanzens pflegen. So überlegen wir uns immer wieder neue Events, arbeiten zum Beispiel mit der Polyband zusammen oder organisieren Showgruppen für den Polyball.
			</p>
			<h2>Teilnahme</h2>
			<p>
				Das Angebot des TQ ist auf Studenten der ETH und Universität Zürich ausgerichtet. Ausserdem dürfen auch andere Angehörige der Universitäten unser Angebot nutzen. Alle anderen Tänzer dürfen nur als Partner eines Studenten/Angehörigen an den Kursen teilnehmen. Die ASVZ-Kurse bilden eine Ausnahme und sind offen für alle ASVZ-Mitglieder. Viele unserer Tanzevents sind zudem öffentlich und alle sind willkommen!
			</p>
		</article>
		<!-- /Article -->
		
		<!-- Sidebar -->
		<aside class="col-sm-3 sidebar sidebar-right">
			<div class="widget">
				<h3>Kontakt</h3>
				{% include "snippets/contact_address.html" %}
			</div>
		</aside>
		<!-- /Sidebar -->
	
	</div>
</div>
		
<div class="jumbotron top-space">
	<div class="container">
		
		<h2 class="text-center thin">Vorstand</h2>
		
		<div class="hidden-xs">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Ressort</th>
						<th>Name</th>
						<th>Mail</th>
						<th></th>
					</tr>
				</thead>
				{% if functions %}
					<tbody>
						{% for function in functions %}
							<tr>
								<td>{{ function.name }}</td>
								<td>
									{% if function.user %}
										{{ function.user.get_full_name }}
									{% else %}
										vakant
									{% endif %}
								</td>
								<td><a href="mailto:{{ function.email }}">{{ function.email|default:"-" }}</a></td>
								<td>
									<!-- Button trigger modal -->
									<a href="#" data-toggle="modal" data-target="#modal_profile-{{function.id}}">Profil</a>
									{% include "organisation/snippets/function_modal.html" with function=function modal_name="modal_profile" only %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				{% endif %}
			</table>
		</div>
		
		<div class="visible-xs">
			{% if functions %}
				<div class="list-group">
					{% for function in functions %}
						<a href="#" data-toggle="modal" data-target="#modal_profile_xs-{{function.id}}" class="list-group-item">
							<h4 class="list-group-item-heading">
								{% if function.user %}
									{{ function.user.get_full_name }}
								{% else %}
									vakant
								{% endif %}
								<small> {{ function.name }}</small>
							</h4>
							<p class="list-group-item-text">{{ function.email }}</p>
						</a>
						{% include "organisation/snippets/function_modal.html" with function=function modal_name="modal_profile_xs" only %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	
	</div>
	<p>
		<img src="{% static "img/vorstand.png" %}" alt="" class="img-rounded img-responsive center-block"/>
	</p>
</div>

{% endblock content %}
