{% load i18n %}

<h2 class="text-center thin">{% trans "Vorstand" %}</h2>

<div class="hidden-xs">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans "Resort" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Mail" %}</th>
        </tr>
        </thead>
        {% if functions %}
            <tbody>
            {% for function in functions %}
                <tr>
                    <td>{{ function.name }}</td>
                    <td>
                        {% if function.users %}
                            {% for user in function.users.all %}
                                <!-- Button trigger modal -->
                                <a href="#" data-toggle="modal"
                                   data-target="#user_modal-{{ user.id }}">{{ user.get_full_name }}</a>
                                {% if not forloop.last %}
                                    /
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% trans "vacant" %}
                        {% endif %}
                    </td>
                    <td><a href="mailto:{{ function.email }}">{{ function.email|default:"-" }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
</div>

<div class="visible-xs">
    {% if functions %}
        <div class="list-group">
            {% for function in functions %}
                {% for user in function.users.all %}
                    <a href="#" data-toggle="modal" data-target="#user_modal-{{ user.id }}"
                       class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{ user.get_full_name }}
                            <small> {{ function.name }}</small>
                        </h4>
                        <p class="list-group-item-text">{{ function.email }}</p>
                    </a>
                {% empty %}
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            vakant
                            <small> {{ function.name }}</small>
                        </h4>
                        <p class="list-group-item-text">{{ function.email }}</p>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>


{% if functions %}
    {% for function in functions %}
        {% for user in function.users.all %}
            {% include "courses/snippets/user_modal.html" with user=user only %}
        {% endfor %}
    {% endfor %}
{% endif %}