{% extends "finance/offering/basis.html" %}
{% load i18n l10n humanize %}

{% block lead_title %}
    {% trans "Finance" %}
{% endblock %}

{% block finance_content %}
    <table class="table table-striped mb-0">
        <thead>
        <tr>
            <th>{% trans "Course" %}</th>
            <th class="text-end">
                <div>
                    {% trans "Total" %}
                </div>
                <div class="small fw-normal">
                    {% trans "Sum of course fares" %}
                </div>
            </th>
            <th class="text-end">
                <div>
                    {% trans "Reductions" %}
                </div>
                <div class="small fw-normal">
                    {% trans "Sum of redeemed vouchers" %}
                </div>
            </th>
            <th class="text-end">
                <div>
                    {% trans "Total after reductions" %}
                </div>
                <div class="small fw-normal">
                    {% trans "Sum we should get" %}
                </div>
            </th>
            <th class="text-end">
                <div>
                    {% trans "Paid" %}
                </div>
                <div class="small fw-normal">
                    {% trans "Money we received" %}
                </div>
            </th>
            <th class="text-end">
                <div>
                    {% trans "Difference" %}
                </div>
                <div class="small fw-normal">
                    ({% trans "Total after reductions" %}) - ({% trans "Paid" %})
                </div>
            </th>
            <th class="text-end">
                <div>
                    {% trans "Open Amount" %}
                </div>
                <div class="small fw-normal">
                    {% trans "Money we are still supposed to get" %}
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for course in offering.course_set.all %}
            {% with course.payment_totals as payment_totals %}
                <tr class="{% if not payment_totals.to_pay %} text-muted {% endif %} ">
                    <td>{{ course.name }}</td>
                    <td class="text-end">{{ payment_totals.to_pay|intcomma|localize }}</td>
                    <td class="text-end">{{ payment_totals.reductions|intcomma|localize }}</td>
                    <td class="text-end">{{ payment_totals.to_pay_after_reductions|intcomma|localize }}</td>
                    <td class="text-end">{{ payment_totals.paid|intcomma|localize }}</td>
                    <td class="text-end {% if payment_totals.difference > 0 %} text-danger {% elif payment_totals.difference < 0 %} text-success {% endif %}">{{ payment_totals.difference|intcomma|localize }}</td>
                    <td class="text-end">{{ payment_totals.open_amount|intcomma|localize }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class="fw-bold">
            <td>{% trans "Total" %}</td>
            <td class="text-end">{{ offering.payment_totals.to_pay|intcomma|localize }}</td>
            <td class="text-end">{{ offering.payment_totals.reductions|intcomma|localize }}</td>
            <td class="text-end">{{ offering.payment_totals.to_pay_after_reductions|intcomma|localize }}</td>
            <td class="text-end">{{ offering.payment_totals.paid|intcomma|localize }}</td>
            <td class="text-end {% if offering.payment_totals.difference > 0 %} text-danger {% elif offering.payment_totals.difference < 0 %} text-success {% endif %}">{{ offering.payment_totals.difference|intcomma|localize }}</td>
            <td class="text-end">{{ offering.payment_totals.open_amount|intcomma|localize }}</td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
