{% load i18n %}
{% load tq_tags %}

<ul class="nav nav-tabs" role="tablist">
    {% for item in data  %}
        <li class="nav-item ms-3" role="presentation">
            <button class="nav-link {% if forloop.first %} active {% endif %} text-tanzquotient"
                    id="table-{{ forloop.counter }}-tab" data-bs-toggle="pill" data-bs-target="#table-{{ forloop.counter }}"
                    type="button" role="tab" aria-controls="table-{{ forloop.counter }}" aria-selected="{{ forloop.first }}">
                {{ item.name }}
            </button>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for item in data  %}
        <div class="tab-pane fade {% if forloop.first %} show active {% endif %} table-responsive"
             id="table-{{ forloop.counter }}" role="tabpanel" aria-labelledby="table-{{ forloop.counter }}-tab"
             tabindex="0">
            {% table item.data %}
        </div>
    {% endfor %}
</div>