{% load i18n %}
{% load tq_tags %}

<ul class="nav nav-tabs" role="tablist">
    {% for item in data  %}
        <li class="nav-item ms-3" role="presentation">
            <button class="nav-link {% if forloop.first %} active {% endif %} text-tanzquotient"
                    id="table-{{ forloop.counter }}-tab" data-bs-toggle="pill" data-bs-target="#table-{{ forloop.counter }}"
                    type="button" role="tab" aria-controls="table-{{ forloop.counter }}" aria-selected="{{ forloop.first }}">
                {{ item.name }}
            </button>
        </li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for item in data  %}
        <div class="tab-pane fade {% if forloop.first %} show active {% endif %} table-responsive"
             id="table-{{ forloop.counter }}" role="tabpanel" aria-labelledby="table-{{ forloop.counter }}-tab"
             tabindex="0">
            {% table item.data %}
        </div>
    {% endfor %}
</div>

<div class="modal" tabindex="-1" id="confirmModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans "Are you sure?" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{% trans "Marking a course as completed will freeze its teachers presence form permanently." %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
          <button type="button" class="btn btn-primary" id="confirmBtn">{% trans "Yes, proceed" %}</button>
        </div>
      </div>
    </div>
</div>


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function(event) {

        const completed_btns = document.querySelectorAll('.btn-completed');
        const modal = new bootstrap.Modal(document.getElementById('confirmModal'));

        let confirmationTarget = false;
        let confirmationCaller = false;

        document.getElementById('confirmModal').addEventListener('hide.bs.modal', event => {

            confirmationTarget = false;
            confirmationCaller = false;

        });
        
        completed_btns.forEach(btn => {

            btn.addEventListener('click', event => {
                
                confirmationTarget = btn.getAttribute('data-course-id');
                confirmationCaller = btn;
                modal.show();
    
            });
        });

        document.getElementById('confirmBtn').addEventListener('click', event => {

            fetch("", {

                method: "POST",

                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}",
                },

                body: JSON.stringify({
                    course: confirmationTarget,
                }),

            })
            .then((response) => response.json())
            .then((json) => {

                if (json.result == "success"){
                    if (confirmationTarget === "all"){

                        completed_btns.forEach(btn => {

                            if (btn !== confirmationCaller){
                                btn.innerText = '{% trans "Course completed" %}';
                                btn.classList.add("disabled");
                            }

                        });

                    }
                    
                    else {

                        confirmationCaller.innerText = '{% trans "Course completed" %}';
                        confirmationCaller.classList.add("disabled");

                    }

                    modal.hide();
                }
            });

        });

    });
    
</script>