{% load i18n %}
{% load basic_tags %}

{% with modal_id="modal-"|append_uuid %}
    <div class="card mb-4 banner-container">
        {% if event.image %}
            <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.get_name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ event.get_name }}</h5>
            {% include "events/snippets/event_info.html" with event=event only %}
            <div class="mt-2">
                <a href="{% url 'events:detail' event.id %}">
                    {% if event.registration_enabled %}
                        {% trans "Show details & register" %}
                    {% else %}
                        {% trans "Show details" %}
                    {% endif %} 
                </a>
            </div>
        </div>
        {% include "events/snippets/event_banner.html" with event=event only %}
    </div>
{% endwith %}

