{% load i18n %}
{% load basic_tags %}

{% trans "No entry fee" as no_entry_fee %}
<div class="d-none d-sm-block">
    <table class="table">
        <thead>
        <tr>
            {% if not hide_event_title %}
                <th>{% trans "Name" %}</th>
            {% endif %}
            <th>{% trans "Date" %}</th>
            <th>{% trans "Time" %}</th>
            <th>{% trans "Venue" %}</th>
            <th>{% trans "Entry fee" %}</th>
            <th></th>
        </tr>
        </thead>
        {% if events %}
            <tbody>
            {% for event in events %}
                <tr class="{% if event.special %}emphasize{% endif %}">
                    {% if not hide_event_title %}
                        <td>
                            {% with event_id=event.id|stringformat:"s" %}
                                {% with modal_id="modal-"|append_uuid %}
                                    <a href="#" data-toggle="modal" data-target="#{{ modal_id }}">
                                        <p>
                                            {% if event.cancelled %}
                                                <i class="fa fa-ban fa-lg"></i> {% trans "Cancelled" %}:
                                            {% elif event.special %}
                                                <i class="fa fa-star"></i>
                                            {% endif %}
                                            {{ event.get_name }}
                                        </p>
                                    </a>
                                    {% include "events/snippets/event_modal.html" with event=event modal_id=modal_id only %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                    {% endif %}
                    <td>{{ event.date }}</td>
                    <td>{{ event.format_time }}</td>
                    <td>
                        {% if event.room %}
                            {{ event.room.name }}
                        {% else %}
                            {% trans "Venue not yet set" %}
                        {% endif %}
                    </td>
                    <td>{{ event.format_prices|default:no_entry_fee }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
</div>

<div class="d-block d-sm-none">
    {% include "events/snippets/event_list_xs.html" with events=events only %}
</div>
