{% load i18n %}
{% load basic_tags %}

{% with modal_id="modal-"|append_uuid %}
    <div class="card mb-4 banner-container">
        {% if event.image %}
            <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.get_name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ event.get_name }}</h5>
            {% include "events/snippets/event_info.html" with event=event only %}
            <div class="mt-2">
                <a href="{% url 'events:event_detail' event.id %}">
                    {% trans "Show details" %}
                </a>
                <a href="#" data-toggle="modal" data-target="#{{ modal_id }}" class="card-link">{% trans "Show details" %}</a>
            </div>
        </div>
        {% include "events/snippets/event_banner.html" with event=event only %}
    </div>
    {% include "events/snippets/event_modal.html" with event=event modal_id=modal_id only %}
{% endwith %}

