{% load i18n %}

{% if event.image %}
    <img src="{{ event.image.url }}" class="w-100 mb-3 rounded" alt="{{ event.get_name }}">
{% elif event.category and event.category.image %}
    <img src="{{ event.category.image.url }}" class="w-100 mb-3 rounded" alt="{{ event.get_name }}">
{% endif %}
<div>
    <strong>{% trans "Date" %}</strong>
</div>
<div>
    {{ event.format_duration }}
</div>
<div>
    {% if event.room %}
        <div class="mt-3">
            <strong>{% trans "Venue" %}</strong>
        </div>
        {% include "courses/snippets/room_modal.html" with display_link=True disable_modals=disable_modals room=event.room only %}
    {% else %}
        {% trans "Venue not yet set" %}
    {% endif %}
</div>
<div>
    <div class="mt-3">
        <strong>{% trans "Entry fee" %}</strong>
    </div>
    <div>
        {{ event.format_prices }}
    </div>
</div>

{% if event.format_organisators %}
    <div class="mt-3">
        <strong>{% trans "Organized by" %}</strong>
    </div>
    <div>
        {{ event.format_organisators }}
    </div>
{% endif %}