{% load thumbnail %}
{% load i18n %}
{% trans "Not yet set" as not_yet_known %}
{% trans "No entry fee" as no_entry_fee %}

<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="Event" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal_label_event-{{ event.id }}">{{ event.get_name }}
                    <small> {{ event.date }}</small>
                </h4>
            </div>
            <div class="modal-body">
                <p class="list-group-item-text"><b>{{ event.format_time|default:not_yet_known }}</b>,
                    {% if event.room %}
                        {% if event.room.url %}
                            <a href="{{ event.room.url }}" target="_blank">{{ event.room.name }}</a>
                        {% else %}
                            {{ event.room.name }}
                        {% endif %}
                    {% else %}
                        {% trans "Venue not yet set" %}
                    {% endif %}</p>

                <p class="list-group-item-text">{{ event.format_prices|default:no_entry_fee }}</p>
                {% if event.format_organisators %}
                    <p class="list-group-item-text">{% trans "Organized by" %} {{ event.format_organisators }}</p>
                {% endif %}
                {% if event.get_description %}
                    <br/>
                    <p class="list-group-item-text">{{ event.get_description|safe }}</p>
                {% endif %}
                {% if event.image %}
                    <br/>
                    <p class="list-group-item-text"><img src="{% thumbnail event.image 600x600 %}" alt=""/></p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
