{% load i18n %}
{% trans "Not yet set" as not_yet_known %}
{% trans "No entry fee" as no_entry_fee %}

<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="Event" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_label_event-{{ event.id }}">
                   {% trans "Event details" %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if event.image %}
                <img class="w-100" src="{{ event.image.url }}" alt=""/>
            {% endif %}
            <div class="modal-body">
                <h5>
                    {% if event.cancelled %}
                        {% trans "Cancelled" %}:
                    {% endif %}
                    {{ event.get_name }}
                </h5>
                <div>
                    {{ event.date|date:'D, d. N Y' }}, {{ event.time_from|date:'H:i' }}-{{ event.time_to|date:'H:i' }}
                </div>
                <div>
                    {% if event.room %}
                        <div class="mt-3">
                            <strong>{% trans "Venue" %}</strong>
                        </div>
                        <div>
                            {{ event.room }}
                        </div>
                        {% if event.room.address %}
                            <div>{{ event.room.address }}</div>
                        {% endif %}
                        {% if event.room.url %}
                            <div>{% include "snippets/map_link.html" with url=event.room.url only %}</div>
                        {% endif %}
                    {% else %}
                        {% trans "Venue not yet set" %}
                    {% endif %}
                </div>

                <div>
                    <div class="mt-3">
                        <strong>{% trans "Entry fee" %}</strong>
                    </div>
                    <div>
                        {{ event.format_prices|default:no_entry_fee }}
                    </div>
                </div>

                {% if event.format_organisators %}
                    <div class="mt-3">
                        <strong>{% trans "Organized by" %}</strong>
                    </div>
                    <div>
                        {{ event.format_organisators }}
                    </div>
                {% endif %}

                {% if event.get_description %}
                    <div class="mt-3">
                        <strong>{% trans "Description" %}</strong>
                    </div>
                    <div>
                        {{ event.get_description|safe }}
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
