{% load thumbnail %}

{% with event_id=event.id|stringformat:"s" %}
	{% with modal_id="modal_event_xs-"|add:event_id %}
 		<a href="#" data-toggle="modal" data-target="#{{ modal_id }}" class="list-group-item {% if event.special %}emphasize{% endif %}">
 			{% if event.image %}
				<p class="text-center"><img src="{% thumbnail event.image 350x150 crop %}" alt="" /></p>
			{% endif %}
			<h4 class="list-group-item-heading">
				{% if event.special %}
					<i class="fa fa-hand-o-right fa-lg"></i>
			 	{% endif %}
				{{ event.name }}
				<br />
				<small> {{ event.date }}</small>
			</h4>
			<p class="list-group-item-text"><b>{{ event.format_time|default:"unbekannt" }}</b>, {{ event.room|default:"Raum noch unbekannt" }}</p>
			<p class="list-group-item-text">{{ event.format_prices|default:"freier Eintritt" }}</p>
			{% if event.format_organisators %}
				<p class="list-group-item-text">Organisiert von {{ event.format_organisators }}</p>
			{% endif %}
		</a>
		{% include "events/snippets/event_modal.html" with event=event modal_id=modal_id only %}
	{% endwith %}
{% endwith %}