{% load i18n %}

{% if event.image %}
    <img src="{{ event.image.url }}" class="w-100 mb-3 rounded" alt="{{ event.get_name }}">
{% endif %}
<div>
    <strong>{% trans "Date" %}</strong>
</div>
<div>
    {{ event.date|date:'D, d. N Y' }}, {{ event.time_from|date:'H:i' }}-{{ event.time_to|date:'H:i' }}
</div>
<div>
    {% if event.room %}
        <div class="mt-3">
            <strong>{% trans "Venue" %}</strong>
        </div>
        <div>
            {{ event.room }}
        </div>
        {% if event.room.address %}
            <div>{{ event.room.address }}</div>
        {% endif %}
        {% if event.room.url %}
            <div>{% include "snippets/map_link.html" with url=event.room.url only %}</div>
        {% endif %}
    {% else %}
        {% trans "Venue not yet set" %}
    {% endif %}
</div>
<div>
    <div class="mt-3">
        <strong>{% trans "Entry fee" %}</strong>
    </div>
    <div>
        {{ event.format_prices }}
    </div>
</div>

{% if event.format_organisators %}
    <div class="mt-3">
        <strong>{% trans "Organized by" %}</strong>
    </div>
    <div>
        {{ event.format_organisators }}
    </div>
{% endif %}