{% load i18n %}
{% load basic_tags %}

{% trans "No entry fee" as no_entry_fee %}
<div class="d-none d-sm-block">
    <table class="table">
        <thead>
        <tr>
            {% if not hide_event_title %}
                <th>{% trans "Name" %}</th>
            {% endif %}
            <th>{% trans "Date & Time" %}</th>
            <th>{% trans "Venue" %}</th>
            <th>{% trans "Entry fee" %}</th>
            <th></th>
        </tr>
        </thead>
        {% if events %}
            <tbody>
            {% for event in events %}
                <tr class="{% if event.special %}emphasize{% endif %}">
                    {% if not hide_event_title %}
                        <td>
                            <p>
                                {% if event.is_cancelled %}
                                    <span class="text-uppercase badge text-bg-danger">
                                        {% trans "Cancelled" %}
                                    </span>
                                {% elif event.special %}
                                    <i class="bi bi-star-fill text-warning"></i>
                                {% endif %}
                                <a href="{% url 'events:detail' event.id %}">
                                    
                                        
                                        {{ event.get_name }}
                                    
                                </a>
                            </p>
                        </td>
                    {% endif %}
                    <td>{{ event.format_duration }}</td>
                    <td>
                        {% if event.room %}
                            {{ event.room.name }}
                        {% else %}
                            {% trans "Venue not yet set" %}
                        {% endif %}
                    </td>
                    <td>{{ event.format_prices|default:no_entry_fee }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}
    </table>
</div>

<div class="d-block d-sm-none">
    {% include "events/snippets/event_list_xs.html" with events=events only %}
</div>
