{% load thumbnail %}
{% load i18n %}
{% trans "Not yet set" as not_yet_known %}
{% trans "No entry fee" as no_entry_fee %}
{% trans "Venue not yet set" as venue_not_yet_set %}

{% with event_id=event.id|stringformat:"s" %}
    {% with modal_id="modal_event_xs-"|add:event_id %}
        <a href="#" data-toggle="modal" data-target="#{{ modal_id }}"
           class="list-group-item {% if event.special %}emphasize{% endif %}">
            {% if event.image %}
                <p class="text-center"><img
                        src="{% thumbnail event.image 320x180 crop upscale subject_location=event.image.subject_location %}"
                        alt=""/></p>
            {% endif %}
            <h4 class="list-group-item-heading">
                {% if event.special %}
                    <i class="fa fa-hand-o-right fa-lg"></i>
                {% endif %}
                {{ event.get_name }}
                <br/>
                <small> {{ event.date }}</small>
            </h4>
            <p class="list-group-item-text"><b>{{ event.format_time|default:not_yet_known }}</b>,
                {{ event.room|default:venue_not_yet_set }}</p>

            <p class="list-group-item-text">{{ event.format_prices|default:no_entry_fee }}</p>
            {% if event.format_organisators %}
                <p class="list-group-item-text">{% trans "Organized by" %} {{ event.format_organisators }}</p>
            {% endif %}
        </a>
        {% include "events/snippets/event_modal.html" with event=event modal_id=modal_id only %}
    {% endwith %}
{% endwith %}
