{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
    <p class="paginator">
        <strong>Summary of subscriptions on this page:</strong> Total {{ cl.info.total }} | Accepted {{ cl.info.accepted }} (of {{ cl.info.max_subscribers|default:"unknown" }} maximum) | Rejected {{ cl.info.rejected }}
    </p>
    {% result_list cl %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}