{% load i18n %}
{% load qrbill_tags %}

<h2 class="my-3">{% trans "Payment options" %}</h2>

<div class="accordion" id="paymentOptionsAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#voucherCollapse" aria-expanded="true" aria-controls="voucherCollapse">
          {% trans "Voucher" %}
      </button>
    </h2>
    <div id="voucherCollapse" class="accordion-collapse collapse show" data-bs-parent="#paymentOptionsAccordion">
      <div class="accordion-body">
          {% include "payment/subscription/snippets/voucher_form.html" %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#qrBillCollapse" aria-expanded="false" aria-controls="qrBillCollapse">
          <span class="badge bg-success">{% trans "NEW" %}</span>&nbsp{% trans "QR-bill" %}
      </button>
    </h2>
    <div id="qrBillCollapse" class="accordion-collapse collapse" data-bs-parent="#paymentOptionsAccordion">
      <div class="accordion-body">
          <p>
              {% trans "Please scan the QR-bill below with your home banking app to fill in the payment details automatically." %}
          </p>
          <div class="text-center qr-bill d-none d-lg-block">
              {% qrbill_for_subscription subscription False %}
          </div>
          <div class="text-center qr-bill d-lg-none">
              {% qrbill_for_subscription subscription True %}
          </div>
          <div class="text-center">
            <a class="btn btn-success mt-3 mx-1" href="{% url "payment:subscription_qr_bill_export_pdf" subscription.usi %}">
              <i class="fa-solid fa-file-pdf"></i> {% trans "Download" %}
            </a>
            <a class="btn btn-success mt-3 mx-1 d-none" id="shareBtn">
              <i class="fa-solid fa-share-from-square"></i> {% trans "Share" %}
            </a>            
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bankTransferCollapse" aria-expanded="false" aria-controls="bankTransferCollapse">
          {% trans "Bank transfer" %}
      </button>
    </h2>
    <div id="bankTransferCollapse" class="accordion-collapse collapse" data-bs-parent="#paymentOptionsAccordion">
      <div class="accordion-body">
          <h5>{% trans "Bank account coordinates" %}</h5>
          <p class="mb-0">
              {% include "payment/account/info.html" %}
              <br><br>
              <strong>{% trans "Amount" %}:</strong> {{ subscription.open_amount }}&nbsp;CHF
          </p>
      </div>
    </div>
  </div>
</div>

{% block scripts %}
  <script type="text/javascript">

    const shareBtn = document.getElementById("shareBtn")
    if (navigator.canShare)
      shareBtn.classList.remove("d-none")

    shareBtn.onclick = async () => {
      const response = await fetch("{% url "payment:subscription_qr_bill_export_pdf" subscription.usi %}");
      const buffer = await response.arrayBuffer();

      const pdf = new File([buffer], "QR-bill_{{ subscription.usi }}.pdf", { type: "application/pdf" });
      const files = [pdf];

      // Share PDF file if supported.
      if (navigator.canShare({ files }))
        await navigator.share({
          files,
          title: "{% trans "Share this QR-bill" %}",
          text: "{% trans "Open with your home banking app to pay" %}",
        });
    };
  </script>
{% endblock %}