{% load i18n %}
{% load qrbill_tags %}
{% load sekizai_tags %}
{% load courses_tags %}

{% addtoblock "css" %}
    <style>
        .qr-bill > svg {
            max-width: 100%;
        }
    </style>
{% endaddtoblock %}

<h2 class="my-3">{% trans "Payment options" %}</h2>

{% get_vouchers_for_user user as available_vouchers %}
<div class="accordion" id="paymentOptionsAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button {% if not available_vouchers %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#voucherCollapse" aria-expanded="{% if available_vouchers %}true{% else %}false{% endif %}" aria-controls="voucherCollapse">
        <i class="bi bi-ticket-fill"></i></i>&nbsp;{% trans "Voucher" %}
      </button>
    </h2>
    <div id="voucherCollapse" class="accordion-collapse collapse {% if available_vouchers %}show{% endif %}" data-bs-parent="#paymentOptionsAccordion">
        <div class="accordion-body">
        {% include "payment/subscription/snippets/voucher_form.html" with vouchers=available_vouchers %}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button {% if available_vouchers %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#qrBillCollapse" aria-expanded="{% if available_vouchers %}false{% else %}true{% endif %}" aria-controls="qrBillCollapse">
        <i class="bi bi-qr-code-scan"></i>&nbsp;{% trans "QR-bill" %}
      </button>
    </h2>
    <div id="qrBillCollapse" class="accordion-collapse collapse {% if not available_vouchers %}show{% endif %}" data-bs-parent="#paymentOptionsAccordion">
      <div class="accordion-body">
          <p>
              {% trans "Please scan/open the QR-bill below with your home banking app to fill in the payment details automatically." %}
          </p>
          <div class="text-center qr-bill d-none d-lg-block">
              {% qrbill_for_subscription subscription False %}
          </div>
          <div class="text-center qr-bill d-lg-none">
              {% qrbill_for_subscription subscription True %}
          </div>
          <div class="text-center">
            <a class="btn btn-success mt-3 mx-1" href="{% url "payment:subscription_qr_bill_export_pdf" subscription.usi %}">
              <i class="bi bi-filetype-pdf"></i> {% trans "Download" %}
            </a>
            <a class="btn btn-success mt-3 mx-1 d-none" id="shareBtn">
              <i class="bi bi-share-fill"></i> {% trans "Share" %}
            </a> 
          </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bankTransferCollapse" aria-expanded="false" aria-controls="bankTransferCollapse">
        <i class="bi bi-bank"></i>&nbsp;{% trans "Bank transfer" %}
      </button>
    </h2>
    <div id="bankTransferCollapse" class="accordion-collapse collapse" data-bs-parent="#paymentOptionsAccordion">
      <div class="accordion-body">
          <h5>{% trans "Bank account details" %}</h5>
          <p class="mb-0">
              {% include "payment/account/info.html" %}
              <br><br>
              <strong>{% trans "Amount" %}:</strong> {{ subscription.open_amount }}&nbsp;CHF
          </p>
      </div>
    </div>
  </div>
</div>

{% addtoblock "js" %}

  <script type="text/javascript">

    document.addEventListener("DOMContentLoaded", async() => {
      
      const shareBtn = document.getElementById("shareBtn");
      const response = await fetch("{% url "payment:subscription_qr_bill_export_pdf" subscription.usi %}");
      const buffer = await response.arrayBuffer();

      const pdf = new File([buffer], "QR-bill_{{ subscription.usi }}.pdf", { type: "application/pdf" });
      const files = [pdf];

      if (navigator.canShare( {files} ))
        shareBtn.classList.remove("d-none");

      shareBtn.onclick = async () => {
        if (navigator.canShare({ files }))
          await navigator.share({
            files,
            title: "{% trans "Share this QR-bill" %}",
            text: "{% trans "Open with your home banking app to pay" %}",
          });
      };

    });

  </script>

{% endaddtoblock %}