{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Dashboard" %}
{% endblock %}

{% block content_title %}
    {% trans "Dashboard" %}
{% endblock %}

{% block content %}
    <h1 class="media-heading">{{ user.get_full_name }}</h1>
    <p>
        <a href="{% url "profile" %}">
            {% trans "Show my profile" %}
            <i class="fa fa-arrow-circle-right fa-lg"></i>
        </a>
    </p>
    <h2>{% trans "My courses" %}</h2>
    {% if user.profile.is_teacher %}
        <h3>{% trans "Teaching" %}</h3>
        <div class="row">
            {% for course in user.profile.get_current_teaching_courses %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    {% include "user/snippets/course_as_teacher.html" with course=course only %}
                </div>
            {% empty %}
                <div class="col-xs-12">
                    <p>{% trans "There are currently no ongoing courses." %}</p>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'payment:coursepayment_index' %}">
            {% trans "Show all courses " %}
            <i class="fa fa-arrow-circle-right fa-lg"></i>
        </a>
    {% endif %}

    <h3>{% trans "Current courses" %}</h3>
    {% for subscription in user.profile.get_current_subscriptions %}
        {% include "user/snippets/subscription.html" with subscription=subscription payment_account=payment_account only %}
    {% empty %}
        <p>{% trans "No courses" %}</p>
        <p>
            <a href="{% url "courses:list" %}">
                {% trans "Show available courses" %}
                <i class="fa fa-arrow-circle-right fa-lg"></i>
            </a>
        </p>
    {% endfor %}
    {% if user.profile.get_past_subscriptions %}
        <h3>{% trans "Past courses" %}</h3>
        {% for subscription in user.profile.get_past_subscriptions %}
            {% include "user/snippets/subscription.html" with subscription=subscription payment_account=payment_account only %}
        {% endfor %}
    {% endif %}

{% endblock %}