{% extends "account/base.html" %}
{% load i18n courses_tags %}

{% block head_title %}
    {% trans "Profile" %}
{% endblock %}

{% block lead_title %}
    {% trans "Profile" %}
{% endblock %}

{% block content %}
    <div class="row mb-4">
        {% if user.profile.picture %}
            <div class="col-12 col-sm-4">
                <img class="avatar" src="{{ user.profile.picture.url }}" alt="{{ user.profile.get_display_name }}">
            </div>
        {% endif %}
        <div class="col-12 col-sm-8">
            <h3 class="media-heading">{{ user.get_full_name }}</h3>
            <p class="m-0 mb-2">
                <a href="{% url "user_courses" %}">
                    {% trans "Show my courses" %}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </p>
            {% url 'edit_profile' as edit_profile %}
            <p class="m-0  mb-2">
                <a href="{{ edit_profile }}">
                    {% trans "Edit profile" %}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </p>
            {% url 'account_email' as account_email %}
            <p class="m-0  mb-2">
                <a href="{{ account_email }}">
                    {% trans "Manage your email addresses" %}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </p>
            {% url 'change_password' as change_password %}
            <p class="m-0 mb-2">
                <a href="{{ change_password }}">
                    {% trans "Change your password" %}
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            {% if user.profile.body_height or user.profile.birthdate or user.profile.nationality or user.profile.residence_permit or user.profile.ahv_number or user.profile.zemis_number %}

                <p>
                    <strong> {% trans "Personal details" %}</strong>
                    <br/>
                    {% if  user.profile.birthdate %}
                        {% trans "Birth date" %}: {{ user.profile.birthdate|date:"SHORT_DATE_FORMAT" }}
                    {% endif %}
                    <br/>
                    {% if  user.profile.body_height %}
                        {% trans "Body height" %}: {{ user.profile.body_height }}cm
                    {% endif %}
                    <br/>
                    {% if user.profile.is_teacher %}
                        {% if  user.profile.nationality %}
                            {% trans "Nationality" %}: {{ user.profile.get_nationality }}
                        {% endif %}
                        <br/>
                        {% if  user.profile.residence_permit %}
                            {% trans "Residence permit" %}: {{ user.profile.residence_permit }}
                        {% endif %}
                        <br/>
                        {% if  user.profile.ahv_number %}
                            {% trans "AHV number" %}: {{ user.profile.ahv_number }}
                        {% endif %}
                        <br/>
                        {% if  user.profile.zemis_number %}
                            {% trans "Zemis number" %}: {{ user.profile.zemis_number }}
                        {% endif %}
                    {% endif %}
                </p>
            {% endif %}
            <p>
                <strong> {% trans "Contact" %}</strong>
                <br/>
                {% include "courses/snippets/user_contact.html" with user=user only %}
            </p>
            <div class="mt-4">
                {% get_vouchers_for_user user as vouchers %}
                {% include "courses/snippets/vouchers_card.html" with vouchers=vouchers only %}
            </div>
        </div>
        <div class="col-12 col-md-4">
            {% if user.profile.address %}
                <p>
                    <strong> {% trans "Address" %}</strong>
                    <br/>
                    {{ user.profile.address.street }}
                    <br/>
                    {{ user.profile.address.plz }} {{ user.profile.address.city }}
                    <br/>
                    {{ user.profile.address.country.name }}
                </p>
            {% endif %}
            {% if user.profile.bank_account %}
                <p>
                    <strong> {% trans "Bank account" %}</strong>
                    <br/>
                    {% trans "IBAN" %}: <span style="white-space: nowrap">{{ user.profile.bank_account.iban }}</span>
                    <br/>
                    {% trans "Bank" %}: {{ user.profile.bank_account.bank_info_str }}
                </p>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% include "user/snippets/student_status.html" with user=user only %}
            {% if user.profile.is_teacher %}
                <p>
                    <strong> {% trans "Teacher" %}</strong>
                    <br/>
                    {% if  user.profile.teaching_since %}
                        {% trans "Teaching for Tanzquotient since" %}: {{ user.profile.teaching_since.year }}
                        <br/>
                    {% endif %}
                    {% trans "Courses taught for Tanzquotient" %}: {{ user.profile.courses_taught_count }}
                </p>
            {% endif %}
            {% if  user.profile.is_board_member %}
                <p>
                    <strong> {% trans "Functions" %}</strong>
                    <br/>
                    {% trans "Board member" %}:
                    {% for function in user.functions.all %}
                        {{ function.name }}
                        {% if not forloop.last %}
                            &amp;
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <p>
                <strong> {% trans "Preferences" %}</strong>
                <br/>
                {% trans "Newsletter" %}:
                {% if  user.profile.newsletter %}
                    {% trans "Yes" %}
                {% else %}
                    {% trans "No" %}
                {% endif %}
                <br/>
                {% if user.profile.legi %}
                    {% trans "Get involved" %}:
                    {% if  user.profile.get_involved %}
                        {% trans "Yes" %}
                    {% else %}
                        {% trans "No" %}
                    {% endif %}
                {% endif %}
            </p>
        </div>
        {% if user.profile.about_me %}
            <div class="col-12">
                <p>
                    <strong> {% trans "About me" %}</strong>
                    <br/>
                    {{ user.profile.about_me }}
                </p>
            </div>
        {% endif %}
    </div>

{% endblock %}

