{% extends "account/base.html" %}
{% load i18n %}
{% load static %}


{% block head_title %}
    {% trans "My Courses" %}
{% endblock %}

{% block lead_title %}
    {% trans "My Courses" %}
{% endblock %}

{% block content %}
    {% if user.profile.is_teacher %}
        <h3>{% trans "Teaching" %}</h3>
        <div class="row">
            {% for course in user.profile.get_current_teaching_courses %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    {% include "user/snippets/course_as_teacher.html" with course=course only %}
                </div>
            {% empty %}
                <div class="col-xs-12">
                    <p>{% trans "There are currently no ongoing courses." %}</p>
                </div>
            {% endfor %}
        </div>
        <p>
            <a href="{% url 'payment:courses_as_teacher_list' %}">
                {% trans "Show all courses " %}
                <i class="fa fa-arrow-circle-right fa-lg"></i>
            </a>
        </p>
    {% endif %}

    <div class="row mb-3">
        <div class="col-sm-11">
            <h3>{% trans "My Courses" %}</h3>
            <a href="{% url "user_ical" user.id %}?token={{ token }}">
                {% trans "Add to calendar" %} <i class="fa fa-calendar fa-lg"></i>
            </a>
        </div>        
    </div>
    {% include "user/snippets/unpaid_subscriptions_list.html" with user=user only %}
    {% include "user/snippets/open_surveys.html" with user=user only %}
    {% with subscriptions=user.profile.get_subscriptions %}
        {% if subscriptions %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="expandAll" class="btn btn-link me-1" type="button" onclick="expandAll()" data-toggle="collapse" data-target=".accordion-collapse" aria-expanded="false">{% trans "Expand All" %}</button>
                <button id="collapseAll" class="btn btn-link" type="button" onclick="collapseAll()" data-toggle="collapse" data-target=".accordion-collapse" aria-expanded="false">{% trans "Collapse All" %}</button>
            </div>
        {% endif %}

        <div class="accordion mt-2 mb-2 accordion-user-course" id="accordion-subscription">
            {% for subscription in subscriptions %}
                {% include "user/snippets/subscription.html" with subscription=subscription payment_account=payment_account user=user only %}
            {% empty %}
                <p>{% trans "No subscriptions" %}</p>
            {% endfor %}
        </div>
    {% endwith %}
    <p>
        <a href="{% url "courses:list" %}">
            {% trans "Show available courses" %}
            <i class="fa fa-arrow-circle-right fa-lg"></i>
        </a>
    </p>

{% endblock %}

{% block scripts %}
    <script src="{% static "subscriptions_accordions.js" %}"></script>
{% endblock %}
