{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "My Courses" %}
{% endblock %}

{% block lead_title %}
    {% trans "My Courses" %}
{% endblock %}

{% block content %}
    {% if user.profile.is_teacher %}
        <h3>{% trans "Teaching" %}</h3>
        <div class="row">
            {% for course in user.profile.get_current_teaching_courses %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    {% include "user/snippets/course_as_teacher.html" with course=course only %}
                </div>
            {% empty %}
                <div class="col-xs-12">
                    <p>{% trans "There are currently no ongoing courses." %}</p>
                </div>
            {% endfor %}
        </div>
        <p>
            <a href="{% url 'payment:courses_as_teacher_list' %}">
                {% trans "Show all courses " %}
                <i class="fa fa-arrow-circle-right fa-lg"></i>
            </a>
        </p>
    {% endif %}

    <div class="row">
        <h3 class="col-sm-11">{% trans "My Subscriptions" %}</h3>
        <a href="{% url "user_courses_ical" user.id %}?token={{ token }}" class="col-sm-1" title="{% trans "iCalendar export" %}">        
            <i class="fa fa-calendar fa-lg"></i>
        </a>
    </div>
    {% with subscriptions=user.profile.get_subscriptions  %}
        {% for subscription in subscriptions %}
            {% include "user/snippets/subscription.html" with subscription=subscription payment_account=payment_account only %}
        {% empty %}
            <p>{% trans "No subscriptions" %}</p>
        {% endfor %}
    {% endwith %}
    <p>
        <a href="{% url "courses:list" %}">
            {% trans "Show available courses" %}
            <i class="fa fa-arrow-circle-right fa-lg"></i>
        </a>
    </p>

{% endblock %}
