{% extends "basis_no_header.html" %}
{% load i18n attendance_tags basic_tags %}


{% block title %}
    {{ lesson.course.type.title }}
{% endblock %}

{% block main_content %}
    <div class="container">
        <h3 class="mt-4 mb-1">{% trans "Attendance Check" %}</h3>
        <div class="fs-5">
            {{ course.type.title }}
        </div>
        <div class="fs-6">
            {{ lesson.start|date:"l, j F Y, H:i" }} - {{ lesson.end|date:"H:i" }}
        </div>
        <div class="mb-3">
            <a href="{% url "payment:lesson_attendance" lesson=lesson.id %}">
                <i class="bi bi-arrow-left-circle"></i> {% trans "Back to overview" %}
            </a>
        </div>
        {% if not check_period_open %}
            <div class="alert alert-info">
                <div class="fs-5 fw-bold mb-2">
                    {% trans "Attendance check currently not open" %}
                </div>
                <div>
                    {% trans "You can only check attendance during the lesson (± 15 min)." %}
                </div>
                <div>
                    {% trans "Reload the page once the lesson starts." %}
                </div>
            </div>
        {% else %}
            <form method="post">{% csrf_token %}
                <div class="d-inline-block">
                    <div class="d-flex flex-column gap-2">
                        {% for check_item in check_list %}
                            <div class="d-flex flex-row align-items-center justify-content-between gap-3">
                                <div>
                                    {{ check_item.user.get_full_name }}
                                    {% if check_item.is_replacement %}
                                        <span class="badge text-bg-secondary">{% trans "Replacement" %}</span>
                                    {% endif %}
                                    {% if check_item.is_excused %}
                                        <span class="badge text-bg-info">{% trans "Excused" %}</span>
                                    {% endif %}
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <input type="radio" class="btn-check"
                                           name="{{ check_item.user.id }}"
                                           id="user-{{ check_item.user.id }}-present"
                                           value="present"
                                           autocomplete="off"
                                            {% if check_item.present %}
                                           checked {% endif %}>
                                    <label class="btn btn-outline-success"
                                           for="user-{{ check_item.user.id }}-present">
                                        {% trans "Present" %}
                                    </label>
                                    <input type="radio" class="btn-check"
                                           name="{{ check_item.user.id }}"
                                           id="user-{{ check_item.user.id }}-absent"
                                           value="absent"
                                           autocomplete="off"
                                            {% if check_item.present == False %}
                                           checked {% endif %}>
                                    <label class="btn btn-outline-danger"
                                           for="user-{{ check_item.user.id }}-absent">
                                        {% trans "Absent" %}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-floppy"></i> {% trans "Save attendance" %}
                    </button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock main_content %}